h1
  ' Hi
  = @name
  |,
p
  |
    Thanks for filling out our form
    We will look over your message and get back to you as soon as possible.
    If your inquiry is urgent, please use the telephone number listed below, to talk to one of our staff members.
    Otherwise, we will reply by email shortly.
    +380636086045
span The Active Bridge Team
