/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sql
/config/database.yml
/config/secrets.yml
# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp
/public/uploads/tmp
/public/assets
/coverage/*
