= simple_form_for article, remote: true do |f|
  = f.error_notification
  = f.input :title
  = f.input :body
  = f.hidden_field(:picture_cache)
  = f.file_field(:picture)
  = f.full_error :picture
  = f.association :category, as: :select, include_blank: false
  = f.input :user_id, as: :hidden, input_html: {value: current_user.id}
  - if article.persisted? && current_user.moderator?
    = f.input :review_status, as: :select, collection:  Article.review_statuses.keys, include_blank: false
  = f.button :submit

coffee:
  tiniMCE = ->
    tinyMCE.editors = []
    tinyMCE.init
     selector: 'textarea'
     theme: 'modern'
     plugins: [
      'advlist autolink lists link image charmap print preview hr anchor pagebreak',
      'searchreplace wordcount visualblocks visualchars code fullscreen',
      'insertdatetime media nonbreaking save table contextmenu directionality',
      'emoticons template paste textcolor colorpicker textpattern imagetools'
     ]
     toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image'
     toolbar2: 'print preview media | forecolor backcolor emoticons'
     height: '250'

  tiniMCE()
