- if params[:page]
    = render params[:page]
.gradient-circle-1
.gradient-circle-2
.container
  .logo#logo_holder
    h1 Active Bridge
    h2 Your ideas. Our talents. Great result.
    .logo_container#logo_container
      .inner#inner
        = inline_svg 'index/logo', class: 'img__logo', id: 'logo'
    br
    a.btn_work  href='#about_us' 
      b Learn how we work
    p ↓
.about_us_container
  a#about_us
  .description_container
    = inline_svg 'index/home_page_1', class: 'home_page_1 home_page'
    = inline_svg 'index/home_page_1_pink', class: 'home_page home_page_pink home_page_1'
    div
      =t('about_us.information.first')
      = inline_svg 'index/home_page_line_1', class: 'home_page_line'
  .description_container
    div
      =t('about_us.information.second')
      = inline_svg 'index/home_page_line_2', class: 'home_page_line'
    = inline_svg 'index/home_page_2', class: 'home_page home_page_2'
    = inline_svg 'index/home_page_2_pink', class: 'home_page home_page_pink home_page_pink_2'
     
  .description_container
    = inline_svg 'index/home_page_3', class: 'home_page home_page_3'
    = inline_svg 'index/home_page_3_pink', class: 'home_page home_page_pink'
    div=t('about_us.information.third')
javascript:
  (function () {
    var container = document.getElementById("logo_container"),
      inner = document.getElementById("inner");

    var mouse = {
      _x: 0,
      _y: 0,
      x: 0,
      y: 0,
      updatePosition: function(event) {
        var e = event || window.event;
        this.x = e.clientX - this._x;
        this.y = (e.clientY - this._y) * -1;
      },
      setOrigin: function(e) {
        this._x = e.offsetLeft + Math.floor(e.offsetWidth / 2);
        this._y = e.offsetTop + Math.floor(e.offsetHeight / 2);
      },
      show: function() {
        return "(" + this.x + ", " + this.y + ")";
      }
    };

    mouse.setOrigin(container);

    var counter = 0;
    var updateRate = 10;
    var isTimeToUpdate = function() {
      return counter++ % updateRate === 0;
    };

    var onMouseEnterHandler = function(event) {
      update(event);
    };

    var onMouseLeaveHandler = function() {
      inner.style = "";
    };

    var onMouseMoveHandler = function(event) {
      if (isTimeToUpdate()) {
        update(event);
      }
    };

    var update = function(event) {
      mouse.updatePosition(event);
      updateTransformStyle(
        (mouse.y / 100 ).toFixed(2),
        (mouse.x / 100 ).toFixed(2)
      );
    };

    var updateTransformStyle = function(x, y) {
      var style = "rotateX(" + x + "deg) rotateY(" + y + "deg)";
      inner.style.transform = style;
      inner.style.webkitTransform = style;
      inner.style.mozTransform = style;
      inner.style.msTransform = style;
      inner.style.oTransform = style;
    };

    container.onmouseenter = onMouseEnterHandler;
    container.onmouseleave = onMouseLeaveHandler;
    container.onmousemove = onMouseMoveHandler;
  })();

  
  