<!DOCTYPE html>
<html>
<head>
  <title>Active Bridge - ruby on rails web development team</title>
  <meta charset="utf-8" />
  <meta content="Great project, happy clients! Web application development agency, based on ruby on rails technology. Huge work experience with companies from USA, Canada, Europe." name="description" />
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="1AeEQ7FZFB4K7URidlmD2UP6z9pzq5HMUACZOhVRbpA" name="google-site-verification" />
  <meta content="yes" name="mobile-web-app-capable" />
  <link href="manifest.json" rel="manifest" />
  <link href="/icon-4x.png" rel="icon" sizes="192x192" />
  <meta content="A484A7672177506CA8F6FA11A7463867" name="msvalidate.01" />
  <%= stylesheet_link_tag 'mobile', media: :none, onload: "if(media!='all')media='all'" %>
  <%= stylesheet_link_tag 'fonts', media: :none, onload: "if(media!='all')media='all'" %>
  <meta name="csrf-param" content="authenticity_token" />
  <style type='text/css'>
    body {
      overflow-x: hidden;
      background: #433B43;
      color: white;
      text-align: center;
      -webkit-animation: none;
      -moz-animation: none;
      -ms-animation: none;
      animation:none
    }

    section {
      padding-bottom: 60px;
    }

    main {
      position: relative;
      z-index: 100;
    }

    h1 {
      margin: 0;
    }

    svg.icon {
      max-width: 48px;
      height: 48px;
      display: inline-block;
    }

    mark, .mark {
      background: transparent;
      color: #B868A0;
    }

    .page {
      height: 100vh;
      font-size: 16px;
    }

    a {
      text-decoration: none;
    }

    .social-icons {
      width: 80%;
      margin: 0 auto;
      padding-top: 35px;
      text-align: center;
    }

    .social-icons  a {
      display: inline-block;
      padding: 10px;
      width: 16%;
    }

    .social-icons svg path {
      fill: white;
    }

    nav {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      font-size: 0;
      z-index: 1000;
      box-shadow: 0px 0 5px 5px rgba(black, .3);
      height: 60px;
      top: auto;
    }

    nav a {
      display: inline-block;
      width: 25%;
      padding: 10px 0;
      font-size: 1rem;
      box-sizing: border-box;
      text-align: center;
    }

    nav svg {
      height: 32px;
    }

    .logo {
      width: 80%;
      margin-top: 40px;
    }

    .bg {
      position: absolute;
      bottom: 0;
      left: -85%;
      max-height: 100vmax;
      padding-bottom: 50px;
      width: 100%;
      transition: transform .1s, opacity .5s;
      opacity: 0;
    }

    .bg g {
      stroke: #504850;
    }
  </style>
</head>
<body onload="if (navigator.userAgent.includes(&#39; &#39;)) { document.body.className = &#39;active&#39; }">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1236px" height="1349px" viewBox="0 0 1236 1349" version="1.1" id="bg" class="bg">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="AB-mobile" stroke="#FFFFFF">
            <path d="M488.276021,1199.35858 L100.242633,1199.35858 C45.0184514,1199.35858 0.250406663,1154.58304 0.250406663,1099.36552 L0.250406663,1098.37191 C0.250406663,1043.14726 45.0221554,998.378841 100.249702,998.378841 L1083.79118,998.378841 C1139.01926,998.378841 1183.79047,953.605736 1183.79047,898.370902 L1183.79047,892.993412 C1183.79047,837.760552 1139.01685,792.985473 1083.79867,792.985473 L724.59795,792.985473" id="Line" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="26"></path>
            <path d="M488.276021,1199.35858 L100.242633,1199.35858 C45.0184514,1199.35858 0.250406663,1154.58304 0.250406663,1099.36552 L0.250406663,1098.37191 C0.250406663,1043.14726 45.0221554,998.378841 100.249702,998.378841 L1083.79118,998.378841 C1139.01926,998.378841 1183.79047,953.605736 1183.79047,898.370902 L1183.79047,892.993412 C1183.79047,837.760552 1139.01685,792.985473 1083.79867,792.985473 L724.59795,792.985473" id="Line" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="26"></path>
            <polygon id="Star-1" stroke-width="10" points="479.450398 71.6055008 454.469525 77.8524859 452.691247 52.163839 439.030496 30.3360413 462.912333 20.7065696 479.450398 0.969263598 495.988464 20.7065696 519.8703 30.3360413 506.20955 52.163839 504.431272 77.8524859 "></polygon>
            <circle id="Oval-32" stroke-width="10" cx="1165.92428" cy="502.189972" r="20.5"></circle>
            <g id="head" transform="translate(570.776021, 1079.858580)">
                <path d="M140.985882,231.846202 L140.985882,201.991297 C140.985882,201.991297 166.374756,201.155752 172.246279,193.066839 C180.251748,182.038091 182.616858,144.638314 182.616858,144.638314 L194.248275,143.757773 C200.306491,143.299144 203.227233,138.420735 200.820069,132.842384 C200.820069,132.842384 198.407764,127.73058 196.29969,121.489143 C193.86758,114.288321 189.329094,95.8856408 189.329094,95.8856408 C189.329094,95.8856408 194.920191,0.417857853 98.5262354,0.417851127 C63.9442591,0.417848714 41.2991815,13.4864824 22.0983828,35.1294218 C-2.38641109,60.345398 0.604116807,101.554726 0.604116807,101.554726 C0.604116807,101.554726 -0.836308613,142.539826 37.6530285,172.347614 C47.6896983,190.022682 45.3547955,242.560432 45.3547955,242.560432 L140.985882,231.846202 Z" id="Path-726" stroke-width="12"></path>
                <path d="M22.5898928,85.7811104 C23.8192901,94.7882303 22.6669496,107.61345 28.4590101,115.016165 C35.9197474,124.551583 50.2546291,133.885293 57.5225452,139.890621 C69.540679,149.820956 69.6603266,163.366096 74.2592168,166.499084 C78.5744423,169.438826 88.3818107,163.207357 88.3818107,144.437776 C88.3818107,134.065656 121.692871,134.239787 126.671691,137.357066 C131.65051,140.474345 149.363322,128.817051 153.086396,118.739239 C154.090682,116.020787 169.054638,108.179892 171.704223,97.7938703 C176.842608,77.6520793 168.107787,46.7246507 155.715602,39.0462849 C136.933444,27.408605 139.643591,30.383635 123.166896,25.8708164 C106.6902,21.3579978 94.8881979,12.6536524 78.436029,22.5916647 C61.9838601,32.5296771 55.847407,32.0980164 40.1604553,43.1274436 C33.1673515,48.0442643 20.3272047,69.2036361 22.5898928,85.7811104 Z" id="Path-728" stroke-width="10"></path>
                <path d="M76.7924751,81.1075512 L91.3112981,95.6263742 L116.165065,66.4655569" id="Line" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"></path>
            </g>
            <g id="lamp" transform="translate(466.655890, 703.266710)" stroke-width="10">
                <path d="M99.023045,135.642737 C111.488477,147.106969 126.184114,198.715597 144.454836,198.715597 C163.094308,198.715597 180.032217,144.084239 192.576444,132.205841 C206.050066,119.447379 214.454836,101.389958 214.454836,81.3694975 C214.454836,42.709565 183.114769,11.3694975 144.454836,11.3694975 C105.794904,11.3694975 74.4548363,42.709565 74.4548363,81.3694975 C74.4548363,101.758708 85.112248,122.849228 99.023045,135.642737 Z" id="Oval-29" fill="#433B43"></path>
                <path d="M144.454836,74.8694975 L144.454836,148.869498" id="Line" stroke-linecap="square" fill="#744A71"></path>
                <circle id="Oval-30" fill="#433B43" cx="163.454836" cy="79.3694975" r="18"></circle>
                <circle id="Oval-30" fill="#433B43" cx="126.454836" cy="79.3694975" r="18"></circle>
                <path d="M54.9548363,140.869498 L34.4304605,161.393873" id="Line" stroke-linecap="round" fill="#744A71"></path>
                <path d="M248.954836,140.869498 L228.430461,161.393873" id="Line" stroke-linecap="round" fill="#744A71" transform="translate(238.454836, 151.369498) scale(-1, 1) translate(-238.454836, -151.369498) "></path>
                <path d="M54.9548363,0.869497535 L34.4304605,21.3938735" id="Line" stroke-linecap="round" fill="#744A71" transform="translate(44.454836, 11.369498) scale(1, -1) translate(-44.454836, -11.369498) "></path>
                <path d="M29.3040787,81.3694975 L0.27822801,81.3694975" id="Line" stroke-linecap="round" fill="#744A71"></path>
                <path d="M248.954836,0.869497535 L228.430461,21.3938735" id="Line" stroke-linecap="round" fill="#744A71" transform="translate(238.454836, 11.369498) scale(-1, -1) translate(-238.454836, -11.369498) "></path>
                <rect id="Rectangle-133" fill="#433B43" x="110.454836" y="151.369498" width="69" height="59" rx="63"></rect>
                <rect id="Rectangle-134" fill="#433B43" x="106.454836" y="155.369498" width="76" height="11" rx="63"></rect>
                <path d="M167.304079,186.369498 L152.791153,186.369498" id="Line" stroke-linecap="round" fill="#744A71"></path>
            </g>
        </g>
    </g>
</svg>
<main id="pages"><section id="home">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 518 288" version="1.1" class="logo">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="AB-mobile" transform="translate(-417.000000, -238.000000)">
                <g id="screen-1" transform="translate(266.000000, 143.000000)">
                    <g id="Group" transform="translate(-636.000000, -41.000000)">
                        <g id="ab-logo" transform="translate(786.864841, 136.595588)">
                            <path d="M109.376345,264.117991 C109.40399,247.856386 109.408728,224.287938 109.332609,198.659096 C109.157282,139.626968 109.786075,72.8037371 108.219839,72.7400096 C105.966422,72.8435708 101.294936,216.809029 98.8710399,282.78241 C98.7898859,284.885598 104.383677,290.935562 108.755299,284.412522 C109.740544,282.556213 109.358493,274.618764 109.376345,264.117991 L109.376345,264.117991 Z" id="Path-1" fill="#FFFFFF"></path>
                            <path d="M411.748074,248.796021 C410.044699,227.650575 407.535819,197.007566 404.715298,163.694307 C398.21866,86.9622929 391.804215,0.0154781697 390.018444,0.0985763072 C387.470003,0.471986283 397.522121,188.143579 401.80698,274.175665 C401.939168,276.918721 408.938147,284.191879 413.207677,275.247749 C414.128714,272.729875 412.84801,262.450488 411.748074,248.796021 L411.748074,248.796021 L411.748074,248.796021 Z" id="Path-1" fill="#FFFFFF"></path>
                            <path d="M437.861276,135.641226 C427.209702,113.894168 408.533601,67.3065786 408.533601,67.3065786 C408.533601,67.3065786 419.596532,111.02414 429.753171,136.917439 C436.008418,152.864545 457.769261,192.827793 457.769261,192.827793 C457.769261,192.827793 365.755266,158.5172 249.885412,163.875429 C123.755172,165.945972 0.137302884,211.346612 0.137302884,211.346612 C0.137302884,211.346612 17.4726145,205.706858 42.3465878,200.553468 C99.3988962,188.733367 190.97389,177.554756 252.179465,176.825202 C321.680022,175.99677 477.979024,209.091606 477.979024,209.091606 C477.979024,209.091606 450.358176,161.155844 437.861276,135.641226 L437.861276,135.641226 Z" id="Path-3" fill="#FFFFFF"></path>
                            <path d="M318.455146,100.843355 C291.220661,117.029994 255.479747,127.492713 242.245525,129.400781 C145.200718,148.321133 121.181617,111.084673 121.181617,111.084673 C121.181617,111.084673 138.223341,157.643168 244.709883,135.795021 C338.386238,115.768548 376.538113,54.6873573 376.538113,54.6873573 C376.538113,54.6873573 352.03104,80.8877391 318.455146,100.843355 L318.455146,100.843355 Z" id="Path-5" fill="#FFFFFF"></path>
                            <path d="M408.69445,67.4687609 C408.69445,67.4687609 444.118199,143.300843 463.968063,174.462867 C480.589526,200.556669 518.108436,239.236244 518.108436,239.236244 C518.108436,239.236244 387.670598,187.133792 271.036755,184.912603 C122.61512,179.100741 0.798683243,210.638814 0.798683243,210.638814 C0.798683243,210.638814 63.1768681,195.762607 130.38647,184.231621 C177.871809,176.084679 233.600669,170.066659 284.792237,171.842946 C295.567493,172.09266 306.763621,172.894208 318.094157,174.101525 C394.867793,182.282078 477.812342,209.092126 477.812342,209.092126 C477.812342,209.092126 463.065164,184.86895 442.622632,145.197538 C425.530249,111.55329 408.69445,67.4687609 408.69445,67.4687609 Z" id="Path-4" fill="#B96BA2"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>

    <h1>
        Active<mark>::</mark>Bridge
    </h1>
    <p>
        Hello! We are Active Bridge - a Ruby on Rails web development agency. Our team provides modern web methods for building high-quality custom web applications in a short amount of time
    </p>
    <div class="social-icons"><a target="_blank" title="linkedin" href="https://www.linkedin.com/company/active-bridge">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 640 640" class="icon ">
            <path d="M320 12.8c-169.664 0-307.2 137.536-307.2 307.2s137.536 307.2 307.2 307.2 307.2-137.536 307.2-307.2-137.536-307.2-307.2-307.2zM244.8 447.328h-62.208v-200.192h62.208v200.192zM213.312 222.56c-19.648 0-32.352-13.92-32.352-31.136 0-17.568 13.088-31.072 33.152-31.072s32.352 13.504 32.736 31.072c0 17.216-12.672 31.136-33.536 31.136zM472 447.328h-62.208v-110.944c0-25.824-9.024-43.36-31.52-43.36-17.184 0-27.392 11.872-31.904 23.296-1.664 4.064-2.080 9.824-2.080 15.552v115.424h-62.24v-136.32c0-24.992-0.8-45.888-1.632-63.872h54.048l2.848 27.808h1.248c8.192-13.056 28.256-32.32 61.824-32.32 40.928 0 71.616 27.424 71.616 86.368v118.368z"></path>
        </svg>
    </a><a target="_blank" title="twitter" href="https://twitter.com/activebridge">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 640 640" class="icon ">
            <path d="M320 12.8c-169.664 0-307.2 137.536-307.2 307.2s137.536 307.2 307.2 307.2 307.2-137.536 307.2-307.2-137.536-307.2-307.2-307.2zM444.96 264.448c0.128 2.624 0.16 5.248 0.16 7.808 0 80-60.832 172.192-172.128 172.192-34.176 0-65.984-9.984-92.736-27.2 4.704 0.576 9.536 0.8 14.432 0.8 28.352 0 54.432-9.632 75.136-25.888-26.464-0.512-48.8-17.984-56.512-41.984 3.68 0.672 7.456 1.056 11.36 1.056 5.504 0 10.88-0.736 15.936-2.112-27.68-5.568-48.544-30.016-48.544-59.328v-0.736c8.16 4.512 17.504 7.264 27.424 7.584-16.256-10.88-26.912-29.376-26.912-50.4 0-11.072 2.976-21.504 8.192-30.432 29.856 36.608 74.4 60.672 124.704 63.264-1.056-4.448-1.568-9.056-1.568-13.824 0-33.376 27.072-60.512 60.512-60.512 17.376 0 33.12 7.36 44.16 19.136 13.792-2.752 26.72-7.744 38.4-14.688-4.512 14.112-14.080 25.984-26.592 33.504 12.256-1.504 23.904-4.736 34.752-9.568-8.096 12.128-18.368 22.816-30.176 31.328z"></path>
        </svg>
    </a><a target="_blank" title="facebook" href="https://facebook.com/ActiveBridgeTeam">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 640 640" class="icon ">
            <path d="M320 12.8c-169.664 0-307.2 137.536-307.2 307.2s137.536 307.2 307.2 307.2 307.2-137.536 307.2-307.2-137.536-307.2-307.2-307.2zM392.768 225.088h-46.176c-5.472 0-11.552 7.2-11.552 16.768v33.344h57.76l-8.736 47.552h-49.024v142.752h-54.496v-142.752h-49.44v-47.552h49.44v-27.968c0-40.128 27.84-72.736 66.048-72.736h46.176v50.592z"></path>
        </svg>
    </a><a target="_blank" title="google" href="https://plus.google.com/+ActiveBridgeTeam">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 640 640" class="icon ">
            <path d="M320 12.8c-169.664 0-307.2 137.536-307.2 307.2s137.536 307.2 307.2 307.2 307.2-137.536 307.2-307.2-137.536-307.2-307.2-307.2zM302.304 451.872c-19.296 9.376-40.064 10.368-48.096 10.368-1.536 0-2.4 0-2.4 0s-0.736 0-1.728 0c-12.544 0-74.976-2.88-74.976-59.744 0-55.872 68-60.256 88.832-60.256h0.544c-12.032-16.064-9.536-32.256-9.536-32.256-1.056 0.064-2.592 0.128-4.48 0.128-7.84 0-22.976-1.248-35.968-9.632-15.936-10.24-24-27.68-24-51.808 0-68.192 74.464-70.944 75.2-71.008h74.368v1.632c0 8.32-14.944 9.952-25.12 11.328-3.456 0.512-10.4 1.184-12.352 2.176 18.848 10.080 21.888 25.888 21.888 49.44 0 26.816-10.496 40.992-21.632 50.944-6.912 6.176-12.32 11.008-12.32 17.504 0 6.368 7.424 12.864 16.064 20.448 14.112 12.448 33.472 29.376 33.472 57.952 0 29.536-12.704 50.656-37.76 62.784zM464 320h-48v48h-32v-48h-48v-32h48v-48h32v48h48v32zM263.136 356.8c-1.664 0-3.328 0.064-5.024 0.192-14.208 1.056-27.328 6.368-36.8 15.008-9.408 8.512-14.208 19.264-13.536 30.112 1.44 22.752 25.856 36.064 55.52 33.952 29.184-2.112 48.64-18.944 47.232-41.696-1.344-21.376-19.936-37.568-47.392-37.568zM291.104 233.12c-7.744-27.2-20.224-35.264-39.616-35.264-2.080 0-4.192 0.32-6.208 0.864-8.416 2.4-15.104 9.408-18.816 19.84-3.808 10.56-4.032 21.568-0.768 34.112 5.92 22.432 21.856 38.688 37.92 38.688 2.112 0 4.224-0.256 6.208-0.864 17.568-4.928 28.576-31.744 21.28-57.376z"></path>
        </svg>
    </a><a target="_blank" title="youtube" href="https://youtube.com/channel/UCw5hPDX1sKgDZczIvcaIepw">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 640 640" class="icon ">
            <path d="M371.296 314.656l-71.872-33.536c-6.272-2.912-11.424 0.352-11.424 7.296v63.168c0 6.944 5.152 10.208 11.424 7.296l71.84-33.536c6.304-2.944 6.304-7.744 0.032-10.688zM320 12.8c-169.664 0-307.2 137.536-307.2 307.2s137.536 307.2 307.2 307.2 307.2-137.536 307.2-307.2-137.536-307.2-307.2-307.2zM320 444.8c-157.248 0-160-14.176-160-124.8s2.752-124.8 160-124.8 160 14.176 160 124.8-2.752 124.8-160 124.8z"></path>
        </svg>
    </a><a target="_blank" title="pinterest" href="https://ru.pinterest.com/activebridg0459">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 640 640" class="icon ">
            <path d="M320 12.8c-169.664 0-307.2 137.536-307.2 307.2s137.536 307.2 307.2 307.2 307.2-137.536 307.2-307.2-137.536-307.2-307.2-307.2zM341.024 392.8c-19.712-1.504-27.968-11.264-43.392-20.608-8.48 44.512-18.848 87.2-49.568 109.504-9.504-67.328 13.888-117.824 24.768-171.488-18.528-31.2 2.208-93.952 41.312-78.528 48.096 19.072-41.664 116 18.592 128.128 62.912 12.608 88.608-109.184 49.6-148.736-56.384-57.184-164.064-1.312-150.816 80.544 3.2 20 23.904 26.080 8.256 53.696-36.064-8-46.848-36.448-45.44-74.368 2.208-62.080 55.776-105.568 109.472-111.552 67.936-7.552 131.68 24.928 140.512 88.864 9.888 72.128-30.688 150.176-103.296 144.544z"></path>
        </svg>
    </a><a target="_blank" title="github" href="https://github.com/activebridge">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 640 640" class="icon ">
            <path d="M320.48 318.368c0 0-0.32 0-0.48 0h-0.48c-38.112 0-71.68-9.696-91.552 8.576-11.872 10.944-16.864 24.128-16.864 38.304 0 59.264 47.456 66.56 108.448 66.56h0.928c60.96 0 108.448-7.328 108.448-66.56 0-14.176-4.992-27.392-16.864-38.304-19.904-18.272-53.472-8.576-91.584-8.576zM268.576 399.36c-11.616 0-20.992-13.056-20.992-29.12s9.376-29.056 20.992-29.056c11.616 0 21.024 12.992 21.024 29.056 0.032 16.064-9.376 29.12-21.024 29.12zM371.392 399.36c-11.616 0-21.024-13.056-21.024-29.12s9.408-29.056 21.024-29.056c11.584 0 20.992 12.992 20.992 29.056 0.032 16.064-9.376 29.12-20.992 29.12zM320 12.8c-169.664 0-307.2 137.536-307.2 307.2s137.536 307.2 307.2 307.2 307.2-137.536 307.2-307.2-137.536-307.2-307.2-307.2zM348.032 446.048c-5.504 0-16.448 0-28.032 0.064-11.584-0.064-22.528-0.064-28.032-0.064-24.32 0-120.704-1.888-120.704-118.048 0-26.688 9.152-46.24 24.16-62.56-2.368-5.888-2.496-39.424 10.24-71.552 0 0 29.312 3.2 73.632 33.632 9.248-2.592 24.992-3.904 40.704-3.904s31.424 1.312 40.736 3.872c44.32-30.432 73.632-33.632 73.632-33.632 12.736 32.128 12.64 65.696 10.24 71.552 15.008 16.32 24.16 35.872 24.16 62.56-0.032 116.224-96.416 118.080-120.736 118.080z"></path>
        </svg>
    </a><a target="_blank" title="blog" href="http://blog.active-bridge.com">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 56.693 56.693" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" xml:space="preserve" class="icon "><g><path d="M33.886,32.544h-9.385c-0.881,0-1.594,0.707-1.594,1.584c0,0.861,0.713,1.588,1.594,1.588h9.385   c0.877,0,1.586-0.727,1.586-1.588C35.472,33.251,34.763,32.544,33.886,32.544z"></path><path d="M24.501,26.19h4.619c0.881,0,1.596-0.725,1.596-1.596c0-0.873-0.715-1.592-1.596-1.592h-4.619   c-0.881,0-1.594,0.719-1.594,1.592C22.907,25.466,23.62,26.19,24.501,26.19z"></path><path d="M28.347,5.157c-13.6,0-24.625,11.023-24.625,24.624c0,13.6,11.024,24.625,24.625,24.625   c13.602,0,24.625-11.025,24.625-24.625C52.972,16.18,41.948,5.157,28.347,5.157z M42.296,34.251c-0.025,4.574-3.748,8.32-8.33,8.32   h-9.57c-4.583,0-8.328-3.746-8.328-8.32V24.53c0-4.584,3.745-8.338,8.328-8.338h5.824c2.152,0.256,5.281,2.098,6.436,4.549   c0.316,0.686,0.484,0.793,0.746,2.831c0.143,1.049,0.215,1.824,0.684,2.254c0.658,0.6,3.109,0.197,3.592,0.574l0.373,0.291   l0.221,0.459l0.076,0.367L42.296,34.251z"></path></g></svg>
    </a>
    </div>
</section>
    <section id="about">
        <h6>
            About
        </h6>
        <div>
            At Active Bridge - <h3>ruby on rails agency</h3>, we all come to work every day with a great enthusiasm, because we're inspired by our mission. To resolve all doubts of <h4>web development process</h4> and show how simple and clear it is. Every day new <h4>website projects</h4>, ideas, brands appear. And in many ways, their future depends on the chosen <h4>programming language</h4> technology. Our goal, at Active Bridge, connects your ideas with global community as soon as possible. To provide this we implement the fastest and effective way - <h3>Ruby on Rails framework</h3>. We want to popularize the way we do and show it's comprehensive facilities.
        </div>
        <dl>
            <dt>
                <cite>Our Team Core values</cite>
            </dt>
            <dd itemprop="description">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="298px" height="289px" viewBox="0 0 298 289" version="1.1" class="left">
                    <defs>
                        <path d="M119.072781,9.74339712 C135.601128,-2.26514952 162.409275,-2.25759159 178.927219,9.74339712 L276.948163,80.9597818 C293.47651,92.9683285 301.753494,118.466727 295.444201,137.884734 L258.003532,253.115266 C251.690266,272.545502 229.997577,288.296821 209.580275,288.296821 L88.4197248,288.296821 C67.989565,288.296821 46.3057609,272.533273 39.9964678,253.115266 L2.55579864,137.884734 C-3.75746794,118.454498 4.53389309,92.9607705 21.051837,80.9597818 L119.072781,9.74339712 Z" id="path-1234"></path>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="AB-mobile" transform="translate(-1202.000000, -1885.000000)">
                            <g id="screen-2" transform="translate(1156.000000, 1644.000000)">
                                <g id="Group" transform="translate(-636.000000, 70.000000)">
                                    <g id="friends" transform="translate(682.000000, 171.000000)">
                                        <mask id="friends-mask" fill="white">
                                            <use xlink:href="#path-1234"></use>
                                        </mask>
                                        <use id="Mask" fill="#4F484F" xlink:href="#path-1234"></use>
                                        <g id="Group-3" mask="url(#friends-mask)">
                                            <g transform="translate(144.236473, 185.984230) rotate(-13.000000) translate(-144.236473, -185.984230) translate(-1.763527, 37.484230)">
                                                <g id="girl" transform="translate(218.326501, 201.599705) rotate(13.000000) translate(-218.326501, -201.599705) translate(163.182633, 117.242717)">
                                                    <g id="Layer_1">
                                                        <g id="Group">
                                                            <path d="M110.065709,150.530319 L109.512094,148.629742 C109.244719,147.711632 108.352259,147.148767 107.434404,147.265849 L106.850314,142.874559 L105.640414,133.778912 L105.640414,133.777821 L105.500015,132.721177 C104.864409,127.942645 101.910221,123.791699 97.0455891,121.354073 L91.3447289,118.497207 C90.4214319,118.034698 89.7165337,118.629924 89.0384818,119.385864 L76.5277167,114.77241 C74.1576188,113.980472 72.5588094,111.757375 72.5588094,109.253208 L72.5588094,99.8714022 L85.0608675,94.6503591 C91.5493417,91.9400273 95.7761917,85.5852553 95.7761917,78.5392652 L95.7761917,52.3595101 C95.7761917,44.3266886 89.2790106,31.9974784 81.2646475,31.9974784 L29.0230884,31.9974784 C21.0083625,31.9974784 14.5115442,44.3266886 14.5115442,52.3595101 L14.5115442,78.5392652 C14.5115442,85.5848917 18.7383942,91.9396637 25.227594,94.6499955 L37.7300149,99.8710386 L37.7300149,109.252481 C37.7300149,111.756647 36.1312055,113.979745 33.7611076,114.771683 L21.2503425,119.385137 C20.5722906,118.629197 19.8673924,118.033607 18.9440954,118.49648 L13.2432352,121.353346 C8.37824005,123.791335 5.42441522,127.942281 4.78880959,132.72045 L4.6484104,133.777094 L4.6484104,133.778185 L3.4385104,142.873832 L2.85442074,147.265122 C1.93656557,147.14804 1.04446839,147.710905 0.776730403,148.629014 L0.223114992,150.529592 C-0.0732832982,151.54733 0.50971799,152.6127 1.5251633,152.909768 L2.0820438,153.072664 L1.31583427,158.833665 C0.618554572,164.065616 4.67888464,168.713977 9.94476124,168.713977 L100.342975,168.713977 C105.608851,168.713977 109.669544,164.065616 108.973353,158.834028 L108.207143,153.073028 L108.764024,152.910132 C109.779106,152.613791 110.362108,151.548057 110.065709,150.530319 L110.065709,150.530319 Z" id="Shape" fill="#F6B47B"></path>
                                                            <path d="M37.7300149,99.2649046 L37.7300149,109.252845 C37.7300149,111.322863 36.6354817,113.198716 34.9176777,114.234634 C58.0469024,118.239773 71.2665564,100.853143 72.4677494,99.2649046 L37.7300149,99.2649046 L37.7300149,99.2649046 Z" id="Shape" fill="#E2A071"></path>
                                                            <path d="M85.0601419,94.6499955 L66.3061478,102.481742 C62.7689589,103.958716 58.9752784,104.719384 55.1435052,104.719384 L55.1435052,104.719384 C51.3117319,104.719384 47.5176887,103.958716 43.9804998,102.481742 L25.227594,94.6503591 C18.7383942,91.9400273 14.5115442,85.5852553 14.5115442,78.5392652 L14.5115442,52.3595101 C14.5115442,44.3270522 21.0087253,31.9974784 29.0230884,31.9974784 L81.2646475,31.9974784 C89.2790106,31.9974784 95.7761917,44.3270522 95.7761917,52.3595101 L95.7761917,78.5392652 C95.7761917,85.5852553 91.5493417,91.9400273 85.0601419,94.6499955 L85.0601419,94.6499955 Z" id="Shape" fill="#FDC88E"></path>
                                                            <path d="M34.8277061,69.8126801 L34.8277061,69.8126801 C33.2314362,69.8126801 31.9253972,68.5036924 31.9253972,66.9038185 L31.9253972,63.9949568 C31.9253972,62.3950829 33.2314362,61.0860951 34.8277061,61.0860951 L34.8277061,61.0860951 C36.423976,61.0860951 37.7300149,62.3950829 37.7300149,63.9949568 L37.7300149,66.9038185 C37.7300149,68.5036924 36.423976,69.8126801 34.8277061,69.8126801 L34.8277061,69.8126801 Z" id="Shape" fill="#623F33"></path>
                                                            <path d="M75.4600299,69.8126801 L75.4600299,69.8126801 C73.86376,69.8126801 72.557721,68.5036924 72.557721,66.9038185 L72.557721,63.9949568 C72.557721,62.3950829 73.86376,61.0860951 75.4600299,61.0860951 L75.4600299,61.0860951 C77.0562997,61.0860951 78.3623387,62.3950829 78.3623387,63.9949568 L78.3623387,66.9038185 C78.3623387,68.5036924 77.0562997,69.8126801 75.4600299,69.8126801 L75.4600299,69.8126801 Z" id="Shape" fill="#623F33"></path>
                                                            <path d="M55.143868,90.2543419 C49.9839256,90.2543419 45.157386,88.981715 41.9020839,86.7618899 C40.5771799,85.8586883 40.2325307,84.0490128 41.1355116,82.7211174 C42.0352273,81.3946765 43.8422773,81.0492492 45.1671813,81.9528143 C47.4487589,83.5079645 51.1785885,84.4369822 55.143868,84.4369822 C59.1091474,84.4369822 62.8389771,83.5079645 65.1205546,81.9528143 C66.4483609,81.0467039 68.2510575,81.3932221 69.1522244,82.7211174 C70.0548424,84.0490128 69.710556,85.8586883 68.3856521,86.7618899 C65.1307127,88.981715 60.3038103,90.2543419 55.143868,90.2543419 L55.143868,90.2543419 Z" id="Shape" fill="#E2A071"></path>
                                                            <path d="M14.5115442,55.6828846 L14.5115442,78.5392652 C14.5115442,85.5848917 18.7383942,91.9400273 25.227594,94.6499955 L43.980137,102.481378 C44.8979922,102.864621 45.8347124,103.194777 46.7834046,103.480936 C38.4958617,97.4046875 32.9792981,92.0927425 29.7468517,88.6195617 C27.3952559,86.0924881 26.1207796,82.7578418 26.1207796,79.3021141 L26.1207796,63.0448499 C34.4286386,60.1385334 55.9220495,50.5923766 56.2202618,34.9067037 C56.2485593,33.424275 56.2260664,32.102561 56.1607644,30.9241084 C42.5014107,49.6371792 23.5779942,54.5444288 14.5115442,55.6828846 L14.5115442,55.6828846 Z" id="Shape" fill="#F6B47B"></path>
                                                            <path d="M105.39009,96.7531025 C105.39009,90.5895882 100.320119,87.9850662 100.320119,82.7363889 C100.320119,77.4877117 106.907635,76.0758229 106.907635,68.2073521 C106.907635,62.947403 104.569099,58.8637248 103.017815,55.100385 C111.862238,16.6797764 78.684495,0 69.6554122,0 C60.2229084,0 55.143868,2.90886167 55.143868,2.90886167 C55.143868,2.90886167 50.0648275,0 40.6323238,0 C31.603241,0 -1.57450255,16.6797764 7.26992086,55.1000214 C5.71863678,58.8633612 3.38010143,62.9470394 3.38010143,68.2069885 C3.38010143,76.0758229 9.96761692,77.4873481 9.96761692,82.7360253 C9.96761692,87.9847026 4.89764617,90.5895882 4.89764617,96.7527389 C4.89764617,102.916253 9.78078079,105.900745 11.3672554,110.537834 C12.0928326,112.658758 11.2464468,119.020802 11.2464468,119.020802 C11.2464468,119.020802 16.4161844,110.471658 13.6952698,102.618095 C10.9743553,94.764532 14.1306162,93.9195076 16.5975787,90.4899597 C20.3161619,85.3205489 19.8118857,79.5206424 16.7749823,73.8839957 C14.8137471,70.2435553 15.3299953,66.7271051 18.0788446,64.2789344 C20.9720837,61.7024102 21.6504984,57.2558515 21.654489,57.2274901 C35.3947447,53.1958078 55.143868,45.1189898 55.143868,31.9974784 C55.143868,45.1189898 74.8929913,53.1958078 88.6328841,57.2274901 C88.6372376,57.2554879 89.3156523,61.7024102 92.2085286,64.2789344 C94.9573779,66.7271051 95.473626,70.2435553 93.5123908,73.8839957 C90.4754874,79.5206424 89.9712113,85.3209125 93.6897945,90.4899597 C96.156757,93.9195076 99.3130179,94.764532 96.5921033,102.618095 C93.8711888,110.471294 99.0409264,119.020802 99.0409264,119.020802 C99.0409264,119.020802 98.1945406,112.658395 98.9201178,110.537834 C100.506955,105.900745 105.39009,102.916253 105.39009,96.7531025 L105.39009,96.7531025 Z" id="Shape" fill="#6E4439"></path>
                                                            <path d="M105.499652,132.720813 C104.864046,127.942281 101.909859,123.791335 97.0452263,121.353709 L91.3443661,118.496844 C90.2904652,117.968885 89.5213534,118.819 88.7518788,119.713111 C73.2840238,137.686604 55.1449563,145.444538 55.1449563,145.444538 L55.1445936,145.444538 L55.1442308,145.444538 C55.1442308,145.444538 37.0051633,137.686604 21.5373083,119.713111 C20.7678337,118.819 19.9983591,117.968885 18.944821,118.496844 L13.2439608,121.353709 C8.37896562,123.791699 5.4251408,127.942645 4.78953516,132.720813 L2.42705577,150.47796 C10.0935046,153.123933 23.2184707,157.07853 23.2184707,157.07853 L23.2184707,168.713977 L87.0692652,168.713977 L87.0692652,157.07853 C87.0692652,157.07853 100.194231,153.123933 107.861769,150.47796 L105.499652,132.720813 L105.499652,132.720813 Z" id="Shape" fill="#FFFFFF"></path>
                                                            <path d="M23.1466386,156.189873 C22.969235,152.730873 21.8170183,149.388591 19.7357001,146.606992 L6.11044848,128.398972 C5.45271273,129.756683 4.99052005,131.20166 4.78808401,132.721177 L2.48764147,150.014723 L23.1466386,156.189873 L23.1466386,156.189873 Z" id="Shape" fill="#EAEAEA"></path>
                                                            <path d="M0.222026626,150.530319 C-0.074371664,151.548057 0.508629624,152.613791 1.52371214,152.910495 L23.2184707,159.253268 L23.2184707,157.07853 C23.2184707,155.704457 23.0029743,154.358381 22.6884366,153.037758 L3.15009346,147.325481 C2.13501094,147.028777 1.07204033,147.612731 0.776004826,148.630105 L0.222026626,150.530319 L0.222026626,150.530319 Z" id="Shape" fill="#CCCCCC"></path>
                                                            <path d="M87.1410974,156.189873 C87.318501,152.730873 88.4707176,149.388591 90.5520358,146.606992 L104.177287,128.398972 C104.835023,129.756683 105.297216,131.20166 105.499652,132.721177 L107.800094,150.014723 L87.1410974,156.189873 L87.1410974,156.189873 Z" id="Shape" fill="#EAEAEA"></path>
                                                            <path d="M110.065709,150.530319 C110.362108,151.548057 109.779106,152.613791 108.764024,152.910495 L87.0692652,159.253268 L87.0692652,157.07853 C87.0692652,155.704457 87.2847617,154.358381 87.5992994,153.037758 L107.137642,147.325481 C108.152725,147.028777 109.215696,147.612731 109.511731,148.630105 L110.065709,150.530319 L110.065709,150.530319 Z" id="Shape" fill="#CCCCCC"></path>
                                                            <path d="M40.6323238,0 C31.603241,0 -1.57413976,16.6797764 7.26992086,55.1000214 L7.26992086,55.1000214 C5.71863678,58.8633612 3.38010143,62.9470394 3.38010143,68.2069885 C3.38010143,76.0758229 9.96761692,77.4873481 9.96761692,82.7360253 C9.96761692,87.9847026 4.89764617,90.5895882 4.89764617,96.7527389 C4.89764617,102.916253 9.78078079,105.900745 11.3672554,110.537834 C12.0928326,112.658758 11.2464468,119.020802 11.2464468,119.020802 C11.2464468,119.020802 16.4161844,110.471658 13.6952698,102.618095 C10.9743553,94.764532 14.1306162,93.9195076 16.5975787,90.4899597 C20.3161619,85.3205489 19.8118857,79.5206424 16.7749823,73.8839957 C14.8137471,70.2435553 15.3299953,66.7271051 18.0788446,64.2789344 C20.9720837,61.7024102 21.6504984,57.2558515 21.654489,57.2274901 L21.6515867,57.2271265 C21.6526751,57.2267629 21.6534007,57.2263993 21.654489,57.2263993 C13.4554666,19.4050162 46.1438083,2.93904111 55.143868,2.9103161 L55.143868,2.90886167 C55.143868,2.90886167 50.0648275,0 40.6323238,0 L40.6323238,0 Z" id="Shape" fill="#5E342E"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                                <g id="boy" transform="translate(116.865494, 144.938417) rotate(15.000000) translate(-116.865494, -144.938417) translate(29.807707, 18.308908)">
                                                    <g id="Layer_1">
                                                        <g id="Group">
                                                            <path d="M174.041032,230.317564 L173.646008,226.757777 C173.489848,225.349875 172.222613,224.33466 170.816085,224.490973 L170.594632,224.515482 L166.771163,193.898917 C165.939217,187.239022 161.361065,181.648806 154.999862,179.526332 L133.753953,172.437258 C130.836429,171.463436 127.635967,172.08324 125.386067,174.002562 L119.1277,171.914401 C115.572478,170.728168 113.175124,167.39822 113.175124,163.647264 L113.175124,149.594384 L131.925739,141.773854 C141.6588,137.715719 147.998239,128.196992 147.998239,117.642899 L147.998239,113.285755 C155.210433,113.285755 161.056907,107.433565 161.056907,100.214321 C161.056907,97.1833829 160.023096,94.3953551 158.293367,92.1781132 C162.07766,82.6228955 170.653396,55.259484 161.056907,21.7857221 C161.056907,21.7857221 159.499117,20.6408824 156.589755,18.9208996 C155.801337,8.87169066 152.351129,4.35714441 152.351129,4.35714441 L136.463626,9.65815523 C122.619806,4.65451952 103.155861,0 78.3525531,0 C78.3525531,0 75.4959694,2.99553678 69.6467743,4.35714441 C69.6467743,4.35714441 54.8197448,1.0892861 39.1765486,0 L30.4707698,21.7857221 C30.4707698,21.7857221 8.70632288,21.6043559 8.70632288,47.9285885 C8.70632288,57.5834759 14.0837736,81.659422 16.381011,91.507113 C14.315565,93.8191227 13.0586682,96.8691238 13.0586682,100.214321 C13.0586682,107.433565 18.9051427,113.285755 26.1173363,113.285755 L26.1173363,117.642899 C26.1173363,128.196447 32.4567756,137.715174 42.1892922,141.774943 L60.9404514,149.595473 L60.9404514,163.647808 C60.9404514,167.398765 58.5425535,170.728713 54.9878752,171.914945 L48.7295085,174.003107 C46.4796088,172.083785 43.2791468,171.463981 40.3616227,172.437803 L19.1157137,179.526877 C12.75451,181.64935 8.1763586,187.239567 7.34441262,193.899462 L3.5209434,224.516026 L3.29949016,224.491518 C1.89241866,224.335205 0.625727849,225.349875 0.469023831,226.758322 L0.0739991196,230.318109 C-0.0821607872,231.726011 0.931518329,232.994485 2.33804571,233.150797 L8.70577877,233.858833 L8.70577877,244.000087 C8.70577877,248.812553 12.6032471,252.714376 17.4115575,252.714376 L156.704018,252.714376 C161.512328,252.714376 165.409797,248.812553 165.409797,244.000087 L165.409797,233.858289 L171.776986,233.150253 C173.183513,232.99394 174.197736,231.725467 174.041032,230.317564 L174.041032,230.317564 Z" id="Shape" fill="#FDC88E"></path>
                                                            <path d="M113.175124,149.232196 L60.9404514,149.232196 L60.9404514,163.647808 C60.9404514,166.784408 59.2069132,169.546837 56.5783121,171.087088 C93.0849072,177.483376 113.175124,149.232196 113.175124,149.232196 L113.175124,149.232196 Z" id="Shape" fill="#F5B97A"></path>
                                                            <path d="M147.998239,87.1428882 L147.998239,78.4285994 C147.998239,66.3968897 138.253752,56.6428773 126.233792,56.6428773 L47.8817833,56.6428773 C35.8618233,56.6428773 26.1173363,66.3968897 26.1173363,78.4285994 L26.1173363,87.1428882 C18.9051427,87.1428882 13.0586682,92.9950778 13.0586682,100.214321 C13.0586682,107.433565 18.9051427,113.285755 26.1173363,113.285755 L26.1173363,117.642899 C26.1173363,128.196447 32.4567756,137.715174 42.1892922,141.774943 L70.3149428,153.505465 C75.6205709,155.71835 81.3108855,156.857199 87.0577877,156.857199 L87.0577877,156.857199 C92.80469,156.857199 98.4944605,155.717806 103.799544,153.505465 L131.926827,141.774399 C141.6588,137.715719 147.998239,128.196992 147.998239,117.642899 L147.998239,113.285755 C155.210433,113.285755 161.056907,107.433565 161.056907,100.214321 C161.056907,92.9950778 155.210433,87.1428882 147.998239,87.1428882 L147.998239,87.1428882 Z" id="Shape" fill="#FFD7A3"></path>
                                                            <path d="M134.939571,230.929198 L171.39502,230.929198 L166.770619,193.899462 C165.938673,187.239567 161.360521,181.64935 154.999318,179.526877 L133.753409,172.437803 C130.053453,171.203097 125.891002,172.521678 123.801071,175.817857 C116.085575,187.987362 102.523604,196.071498 87.0583318,196.071498 C71.59306,196.071498 58.0305449,187.986817 50.3145043,175.817313 C48.2245733,172.521133 44.0621228,171.202552 40.3621668,172.437258 L19.1162579,179.526332 C12.7550541,181.648806 8.17690271,187.239022 7.34495673,193.898917 L3.20481481,227.052429 L39.1765486,227.116152 L39.1765486,252.71492 L134.939571,252.71492 L134.939571,230.929198 Z" id="Shape" fill="#B96BA2"></path>
                                                            <path d="M56.5881061,104.571466 L56.5881061,104.571466 C54.194017,104.571466 52.2352168,102.610751 52.2352168,100.214321 L52.2352168,95.857177 C52.2352168,93.4607476 54.194017,91.5000326 56.5881061,91.5000326 L56.5881061,91.5000326 C58.9821953,91.5000326 60.9409955,93.4607476 60.9409955,95.857177 L60.9409955,100.214321 C60.9409955,102.610751 58.9816512,104.571466 56.5881061,104.571466 L56.5881061,104.571466 Z" id="Shape" fill="#623F33"></path>
                                                            <path d="M117.528013,104.571466 L117.528013,104.571466 C115.133924,104.571466 113.175124,102.610751 113.175124,100.214321 L113.175124,95.857177 C113.175124,93.4607476 115.133924,91.5000326 117.528013,91.5000326 L117.528013,91.5000326 C119.922103,91.5000326 121.880903,93.4607476 121.880903,95.857177 L121.880903,100.214321 C121.880903,102.610751 119.922103,104.571466 117.528013,104.571466 L117.528013,104.571466 Z" id="Shape" fill="#623F33"></path>
                                                            <path d="M87.0583318,135.190754 C79.3194386,135.190754 72.0805836,133.284503 67.198274,129.959457 C65.21118,128.606564 64.6942744,125.895875 66.0485671,123.906839 C67.3979628,121.919981 70.1081806,121.40257 72.0952746,122.756008 C75.5171898,125.085446 81.1111967,126.477009 87.0583318,126.477009 C93.005467,126.477009 98.5994739,125.085446 102.021389,122.756008 C104.012836,121.398758 106.716524,121.917802 108.068097,123.906839 C109.421845,125.895875 108.905484,128.606564 106.91839,129.959457 C102.036624,133.284503 94.7972251,135.190754 87.0583318,135.190754 L87.0583318,135.190754 Z" id="Shape" fill="#E4B07B"></path>
                                                            <path d="M48.9683733,132.742038 C45.4414446,128.956769 43.5299821,123.961848 43.5299821,118.78556 L43.5299821,80.3304929 C55.5434127,73.825821 90.6494656,56.6428773 126.233792,56.6428773 L47.8817833,56.6428773 C46.3833011,56.6428773 44.9321566,56.8177078 43.5288939,57.1227079 L43.5288939,57.0818596 C33.5950562,59.1008514 26.1173363,67.8892117 26.1173363,78.4285994 L26.1173363,87.1428882 C18.9051427,87.1428882 13.0586682,92.9950778 13.0586682,100.214321 C13.0586682,107.433565 18.9051427,113.285755 26.1173363,113.285755 L26.1173363,117.642899 C26.1173363,128.196992 32.4567756,137.715719 42.1892922,141.774943 L70.3143987,153.505465 C71.691,154.079519 73.095895,154.574055 74.5187457,155.002689 C62.0890701,145.900615 53.8158597,137.943924 48.9683733,132.742038 L48.9683733,132.742038 Z" id="Shape" fill="#FDC88E"></path>
                                                            <path d="M39.1765486,234.218298 L39.1765486,224.356991 C39.1765486,220.164873 37.6671842,216.113818 34.925408,212.945085 L10.9741783,185.270137 C9.04149537,187.719397 7.747599,190.678443 7.34550084,193.898917 L2.79890788,230.306671 C9.72163433,230.722779 28.1365329,232.882288 39.1765486,234.218298 L39.1765486,234.218298 Z" id="Shape" fill="#AC6497"></path>
                                                            <path d="M39.1765486,228.481573 L3.30003427,224.491518 C1.89296277,224.335205 0.626271961,225.349875 0.469567943,226.757777 L0.0745432308,230.317564 C-0.081616676,231.725467 0.93206244,232.99394 2.33858982,233.150253 L39.1765486,237.247602 L39.1765486,228.481573 L39.1765486,228.481573 Z" id="Shape" fill="#9B5285"></path>
                                                            <path d="M134.939571,234.218298 L134.939571,224.356991 C134.939571,220.164873 136.448935,216.113818 139.190712,212.945085 L163.141941,185.270137 C165.074624,187.719397 166.368521,190.678443 166.770619,193.898917 L171.317212,230.306671 C164.394485,230.722779 145.979043,232.882288 134.939571,234.218298 L134.939571,234.218298 Z" id="Shape" fill="#AC6497"></path>
                                                            <path d="M134.939571,228.481573 L170.816085,224.491518 C172.223157,224.335205 173.489848,225.349875 173.646552,226.757777 L174.041576,230.317564 C174.197736,231.725467 173.184057,232.99394 171.77753,233.150253 L134.939571,237.247602 L134.939571,228.481573 L134.939571,228.481573 Z" id="Shape" fill="#9B5285"></path>
                                                            <path d="M161.056907,21.7857221 C161.056907,21.7857221 159.499117,20.6408824 156.589755,18.9208996 C155.801337,8.87169066 152.351129,4.35714441 152.351129,4.35714441 L136.463626,9.65815523 C122.619806,4.65451952 103.155861,0 78.3525531,0 C78.3525531,0 75.4959694,2.99553678 69.6467743,4.35714441 C69.6467743,4.35714441 54.8197448,1.0892861 39.1765486,0 L30.4707698,21.7857221 C30.4707698,21.7857221 8.70632288,21.6043559 8.70632288,47.9285885 C8.70632288,57.6019938 14.1044498,81.7531006 16.3946138,91.5653898 C18.7865265,88.8726745 22.2351031,87.1428882 26.1178804,87.1428882 L26.1178804,78.4285994 C26.1178804,66.5047291 35.6964135,56.8471185 47.567287,56.6744666 C44.2253562,63.9312907 43.529438,69.7143106 43.529438,69.7143106 C54.4116614,62.4520401 68.558552,56.6428773 87.0583318,56.6428773 L126.234336,56.6428773 C138.254296,56.6428773 147.998783,66.3968897 147.998783,78.4285994 L147.998783,87.1428882 C152.192792,87.1428882 155.883498,89.1569782 158.27269,92.2331222 C162.045557,82.7258331 170.670808,55.320484 161.056907,21.7857221 L161.056907,21.7857221 Z" id="Shape" fill="#9D6E48"></path>
                                                            <path d="M152.351129,4.35714441 L136.463626,9.65815523 C122.619806,4.65451952 103.155861,0 78.3525531,0 C78.3525531,0 75.4959694,2.99553678 69.6467743,4.35714441 C69.6467743,4.35714441 54.8197448,1.0892861 39.1765486,0 L30.4707698,21.7857221 C30.4707698,21.7857221 8.70632288,21.6043559 8.70632288,47.9285885 C8.70632288,57.6019938 14.1044498,81.7531006 16.3946138,91.5653898 C18.7865265,88.8726745 22.2351031,87.1428882 26.1178804,87.1428882 L26.1178804,78.4285994 C26.1178804,67.0559078 34.8557618,57.8252974 45.9605267,56.8367703 C44.7934082,60.0861107 43.529438,64.7161213 43.529438,69.7143106 C60.6689399,47.9285885 85.0135621,40.0688446 104.469889,34.8571553 C123.785836,29.6830463 126.234336,21.7857221 126.234336,21.7857221 C126.234336,21.7857221 145.277683,20.696436 152.351129,4.35714441 L152.351129,4.35714441 Z" id="Shape" fill="#8D5F3D"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <span>Foremost, we're the team of <h3>web app developers</h3>, united by mutual ideas and interests. Our passion is Ruby, fundamental value is friendship relationship. Our <h3>web development agency</h3> success pillars are based on  customized approach, contribution to the Rails framework and sharing our experience.</span>
            </dd>
            <dt>
                <cite>Our main benefits</cite>
            </dt>
            <dd itemprop="description">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="298px" height="288px" viewBox="0 0 298 288" version="1.1" class="right">
                    <defs>
                        <path d="M119.627481,9.21530637 C136.155827,-2.79324026 162.963974,-2.78568234 179.481918,9.21530637 L277.502863,80.4316911 C294.031209,92.4402377 302.308194,117.938636 295.998901,137.356644 L258.558232,252.587175 C252.244965,272.017411 230.552276,287.76873 210.134975,287.76873 L88.9744244,287.76873 C68.5442646,287.76873 46.8604605,272.005182 40.5511674,252.587175 L3.11049825,137.356644 C-3.20276833,117.926407 5.08859269,92.4326798 21.6065366,80.4316911 L119.627481,9.21530637 Z" id="path-12345"></path>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="AB-mobile" transform="translate(-1649.000000, -2491.000000)">
                            <g id="screen-2" transform="translate(1156.000000, 1644.000000)">
                                <g id="Group" transform="translate(-636.000000, 70.000000)">
                                    <g id="cup" transform="translate(1128.290032, 777.201935)">
                                        <mask id="cup-mask" fill="white">
                                            <use xlink:href="#path-12345"></use>
                                        </mask>
                                        <use id="Mask" fill="#4F484F" xlink:href="#path-12345"></use>
                                        <g id="Group-5" mask="url(#cup-mask)">
                                            <g transform="translate(64.554700, 78.471909)" id="trophy">
                                                <g>
                                                    <g id="Layer_1">
                                                        <path d="M66.1108205,85.2365848 C39.2582308,85.2365848 16.5649744,65.9786979 12.1515128,39.4414659 L12.0272821,38.7039688 C11.5425641,35.7902222 12.3014615,32.9712281 14.165359,30.7687797 C15.9656154,28.6383782 18.6019231,27.4188226 21.3995128,27.4188226 L44.5735641,27.4188226 L44.5735641,15.8546589 L21.3995128,15.8546589 C15.2027949,15.8546589 9.35610256,18.5649279 5.35761538,23.2929435 C1.32338462,28.0659337 -0.395358974,34.3746121 0.641641026,40.6116803 L0.765871795,41.3456842 C6.10953846,73.4811696 33.5902564,96.7998752 66.1095128,96.7998752 L66.1191026,96.7998752 L66.1191026,85.2361481 C66.1147436,85.2365848 66.1147436,85.2365848 66.1108205,85.2365848 L66.1108205,85.2365848 Z" id="Shape" fill="#EBB45F"></path>
                                                        <g id="Group" transform="translate(73.230769, 15.719298)" fill="#FFC36E">
                                                            <path d="M91.4120513,7.57364522 C87.4135641,2.84562963 81.5668718,0.135360624 75.3701538,0.135360624 L52.1961026,0.135360624 L52.1961026,11.6990877 L75.3701538,11.6990877 C78.1677436,11.6990877 80.8040513,12.9186433 82.6038718,15.0490448 C84.4677692,17.2510565 85.2266667,20.0704873 84.7419487,22.9842339 L84.6177179,23.721731 C80.2046923,50.2593996 57.5114359,69.5168499 30.6588462,69.5168499 L30.651,69.5168499 L30.651,81.080577 L30.6588462,81.080577 C63.1798462,81.080577 90.6605641,57.7614347 96.0037949,25.626386 L96.1280256,24.8923821 C97.1654615,18.6557505 95.4458462,12.3466355 91.4120513,7.57364522 L91.4120513,7.57364522 Z" id="Shape"></path>
                                                            <path d="M23.3131026,165.880951 L0.225794872,165.880951 L4.07346154,84.9352982 L19.4654359,84.9352982 L23.3131026,165.880951 Z" id="Shape"></path>
                                                        </g>
                                                        <path d="M77.3042308,100.654596 L73.4565641,181.60025 L85,181.60025 L85,100.654596 L77.3042308,100.654596 Z" id="Shape" fill="#EBB45F"></path>
                                                        <path d="M108.087744,197.018261 L61.9126923,197.018261 L61.9126923,181.60025 C61.9126923,179.471595 63.6357949,177.745528 65.7607949,177.745528 L104.240077,177.745528 C106.365077,177.745528 108.088179,179.471595 108.088179,181.60025 L108.088179,197.018261 L108.087744,197.018261 Z" id="Shape" fill="#FFD782"></path>
                                                        <path d="M85,177.745528 L65.760359,177.745528 C63.635359,177.745528 61.9122564,179.471595 61.9122564,181.60025 L61.9122564,197.018261 L81.1518974,197.018261 L81.1518974,181.60025 C81.1523333,179.471595 82.875,177.745528 85,177.745528 L85,177.745528 Z" id="Shape" fill="#FFC36E"></path>
                                                        <path d="M123.479282,204.727267 L46.5207179,204.727267 L51.9319487,196.59646 C53.3590769,194.452086 55.7621795,193.16354 58.3352821,193.16354 L111.664718,193.16354 C114.237821,193.16354 116.640487,194.452086 118.068051,196.59646 L123.479282,204.727267 L123.479282,204.727267 Z" id="Shape" fill="#9B5A50"></path>
                                                        <path d="M81.4230256,193.16354 L58.3352821,193.16354 C55.7621795,193.16354 53.3595128,194.451649 51.9319487,196.59646 L46.5207179,204.727267 L69.6084615,204.727267 L75.0196923,196.59646 C76.4472564,194.451649 78.8499231,193.16354 81.4230256,193.16354 L81.4230256,193.16354 Z" id="Shape" fill="#874641"></path>
                                                        <path d="M123.479282,224 L46.5207179,224 C44.3957179,224 42.6726154,222.273934 42.6726154,220.145279 L42.6726154,204.727267 C42.6726154,202.598612 44.3957179,200.872546 46.5207179,200.872546 L123.479282,200.872546 C125.604282,200.872546 127.327385,202.598612 127.327385,204.727267 L127.327385,220.145279 C127.327385,222.273934 125.604282,224 123.479282,224 L123.479282,224 Z" id="Shape" fill="#AA6455"></path>
                                                        <path d="M69.6084615,220.145279 L69.6084615,204.727267 C69.6084615,202.598612 71.3315641,200.872546 73.4565641,200.872546 L46.5211538,200.872546 C44.3961538,200.872546 42.6730513,202.598612 42.6730513,204.727267 L42.6730513,220.145279 C42.6730513,222.273934 44.3961538,224 46.5211538,224 L73.4565641,224 C71.3315641,224 69.6084615,222.273934 69.6084615,220.145279 L69.6084615,220.145279 Z" id="Shape" fill="#9B5A50"></path>
                                                        <path d="M115.66059,89.6152827 L98.6287692,102.88499 C97.2774872,103.93731 95.6154103,104.508881 93.9040769,104.508881 L76.0972308,104.508881 C74.3858974,104.508881 72.7229487,103.93731 71.3725385,102.88499 L54.3407179,89.6152827 C44.4279744,81.8918674 38.0826154,70.4573879 36.7683846,57.9465731 L31.1291795,4.29136842 L138.870821,4.29136842 L133.232487,57.9465731 C131.918256,70.4573879 125.572897,81.8923041 115.66059,89.6152827 L115.66059,89.6152827 Z" id="Shape" fill="#FFD782"></path>
                                                        <path d="M84.4446667,102.88499 L76.5370513,89.6152827 C71.9344103,81.8918674 68.9890513,70.4573879 68.378359,57.9456998 L65.760359,4.29136842 L31.1291795,4.29136842 L36.7675128,57.9465731 C38.0821795,70.4573879 44.4271026,81.8923041 54.3398462,89.6161559 L71.3716667,102.885864 C72.7229487,103.93862 74.3850256,104.510191 76.096359,104.510191 L86.6376667,104.510191 C85.8438974,104.509318 85.0719231,103.937747 84.4446667,102.88499 L84.4446667,102.88499 Z" id="Shape" fill="#FFC36E"></path>
                                                        <g id="Group" transform="translate(27.025641, 0.000000)" fill="#FFD782">
                                                            <path d="M111.845615,8.14565302 L4.10353846,8.14565302 C1.97853846,8.14565302 0.255435897,6.41958674 0.255435897,4.29093177 L0.255435897,4.29093177 C0.255435897,2.1622768 1.97853846,0.436210526 4.10353846,0.436210526 L111.845179,0.436210526 C113.970179,0.436210526 115.693282,2.1622768 115.693282,4.29093177 L115.693282,4.29093177 C115.693282,6.42002339 113.970615,8.14565302 111.845615,8.14565302 L111.845615,8.14565302 Z" id="Shape"></path>
                                                            <path d="M69.5182308,131.491057 L46.4304872,131.491057 C44.3054872,131.491057 42.5823846,129.76499 42.5823846,127.636335 L42.5823846,123.781614 C42.5823846,121.652959 44.3054872,119.926893 46.4304872,119.926893 L69.5182308,119.926893 C71.6432308,119.926893 73.3663333,121.652959 73.3663333,123.781614 L73.3663333,127.636335 C73.3663333,129.76499 71.6432308,131.491057 69.5182308,131.491057 L69.5182308,131.491057 Z" id="Shape"></path>
                                                        </g>
                                                        <g id="Group" transform="translate(31.384615, 7.859649)" fill="#FFC36E">
                                                            <path d="M49.7677179,119.776686 L49.7677179,115.921965 C49.7677179,113.79331 51.4908205,112.067244 53.6158205,112.067244 L42.0719487,112.067244 C39.9469487,112.067244 38.2238462,113.79331 38.2238462,115.921965 L38.2238462,119.776686 C38.2238462,121.905341 39.9469487,123.631407 42.0719487,123.631407 L53.6153846,123.631407 C51.4903846,123.631407 49.7677179,121.905341 49.7677179,119.776686 L49.7677179,119.776686 Z" id="Shape"></path>
                                                            <path d="M106.271359,7.99500975 L107.081256,0.286003899 L0.149512821,0.286003899 L0.959410256,7.99500975 L106.271359,7.99500975 Z" id="Shape"></path>
                                                        </g>
                                                        <path d="M65.9486667,8.14565302 L31.5341282,8.14565302 L32.3440256,15.8546589 L66.3248462,15.8546589 L65.9486667,8.14565302 Z" id="Shape" fill="#EBB45F"></path>
                                                        <path d="M61.9126923,4.29136842 C61.9126923,2.16271345 63.6357949,0.436647173 65.7607949,0.436647173 L31.1296154,0.436647173 C29.0046154,0.436647173 27.2815128,2.16271345 27.2815128,4.29136842 C27.2815128,6.42002339 29.0046154,8.14608967 31.1296154,8.14608967 L65.7607949,8.14608967 C63.635359,8.14565302 61.9126923,6.42002339 61.9126923,4.29136842 L61.9126923,4.29136842 Z" id="Shape" fill="#FFC36E"></path>
                                                        <g id="Group" transform="translate(96.333333, 7.859649)" fill="#FFFFFF">
                                                            <path d="M34.6429487,12.0767875 C28.9008718,10.7650994 24.3806154,6.23750487 23.0716154,0.485551657 C22.9731026,0.0523976608 22.4007692,0.0523976608 22.3018205,0.485551657 C20.9923846,6.23750487 16.4725641,10.7655361 10.7304872,12.0767875 C10.2980769,12.1754698 10.2980769,12.7487875 10.7304872,12.8479064 C16.4725641,14.1595945 20.9928205,18.6871891 22.3018205,24.4391423 C22.4003333,24.8722963 22.9726667,24.8722963 23.0716154,24.4391423 C24.3810513,18.6871891 28.9008718,14.1591579 34.6429487,12.8479064 C35.075359,12.7492242 35.075359,12.1754698 34.6429487,12.0767875 L34.6429487,12.0767875 Z" id="Shape"></path>
                                                            <path d="M17.7976923,29.5016296 C13.7551795,28.4528031 10.5718205,25.2639688 9.52479487,21.2145029 C9.41930769,20.8079844 8.89405128,20.8079844 8.789,21.2145029 C7.74197436,25.2639688 4.55861538,28.4528031 0.516102564,29.5016296 C0.110282051,29.6072982 0.110282051,30.1334581 0.516102564,30.2386901 C4.55861538,31.2875166 7.74197436,34.4759142 8.789,38.5258168 C8.89448718,38.9323353 9.41974359,38.9323353 9.52479487,38.5258168 C10.5718205,34.4754776 13.7551795,31.2875166 17.7976923,30.2386901 C18.2035128,30.1338947 18.2035128,29.6072982 17.7976923,29.5016296 L17.7976923,29.5016296 Z" id="Shape"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                <span>We know the whole importance of your <h4>web project idea</h4> and provide great service to create a superior finished product. All our <h3>Senior and Middle ruby on rails developers</h3> have Master's degree, good English speaking skills and more than 6 years experience in <h3>web development<h3> across a variety of industries. Our web development team has many years experience of cooperation with other <h4>web development companies</h4> in USA, Canada, and Europe.</span>
            </dd>
        </dl>
    </section>
    <section id="services">
        <h6>
            Services
        </h6>
        <p class="text-center">
            We can help you on every stage of web development process
        </p>
        <ul class="skills">
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 116 113" version="1.1" class="icon ">
                    <defs>
                        <path d="M41.8363002,5.76280994 C50.7669649,-0.733610603 65.2440279,-0.735360372 74.1770981,5.76280994 L103.999601,27.4565505 C112.930266,33.952971 117.405587,47.7377263 113.993458,58.2519867 L102.602275,93.3531962 C99.1910646,103.864625 87.4799018,112.385823 76.4255003,112.385823 L39.587898,112.385823 C28.5420749,112.385823 16.8232525,103.867457 13.4111234,93.3531962 L2.01994071,58.2519867 C-1.39126968,47.7405575 3.08072671,33.9547208 12.0137969,27.4565505 L41.8363002,5.76280994 Z" id="path-1"></path>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="AB-mobile" transform="translate(-2136.000000, -569.000000)">
                            <g id="screen-3" transform="translate(2046.000000, 143.000000)">
                                <g id="Group" transform="translate(-698.000000, 100.000000)">
                                    <g id="tech-list" transform="translate(779.000000, 326.000000)">
                                        <g id="ror-tech" transform="translate(9.000000, 0.000000)">
                                            <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                            </mask>
                                            <use id="tech-mask" fill="#4F484F" xlink:href="#path-1"></use>
                                            <path d="M88.3899851,40.9683234 L87.0491885,42.9875066 C87.0491885,42.9875066 83.6971376,39.1739193 77.5536372,39.846462 C71.4085878,40.5194831 60.5727166,46.801094 58.8965124,60.5970713 C57.2207848,74.392929 63.8122898,89.4229779 63.8122898,89.4229779 L34.095768,89.4229779 C34.095768,89.4229779 33.3139048,84.4876487 35.2130389,75.0660698 C37.1118155,65.6442517 39.904814,59.363239 44.7085902,50.3899023 C49.5123665,41.4170441 57.2206657,34.0141699 68.3924212,33.0052363 C79.564415,31.9954652 88.3899851,40.9683234 88.3899851,40.9683234 L88.3899851,40.9683234 Z M28.1746018,74.3930487 L27.5042631,80.0015187 L32.978378,80.674181 L33.9842435,74.8416497 L28.1746018,74.3930487 L28.1746018,74.3930487 Z M38.8995443,57.6809253 L33.760837,55.6616225 L32.0851094,60.372053 L37.3358178,62.0544864 L38.8995443,57.6809253 L38.8995443,57.6809253 Z M47.613709,43.4363469 L43.7033205,40.8564722 L40.575391,44.3328312 L44.5971848,47.0251552 L47.613709,43.4363469 L47.613709,43.4363469 Z M58.8965124,34.2390686 L56.2153959,31.2104732 L52.5290097,33.1172071 L55.2101262,36.3696245 L58.8965124,34.2390686 L58.8965124,34.2390686 Z M70.8507269,32.5566352 L70.4031989,29.6404892 L65.5998993,29.4157102 L66.2697614,32.6692042 L70.8507269,32.5566352 L70.8507269,32.5566352 Z M84.8150042,35.5847521 L81.128618,32.8929066 L81.016736,34.9116113 L84.1447847,36.5940446 L84.8150042,35.5847521 L84.8150042,35.5847521 Z M80.4576836,43.2114483 L83.4742077,43.5477196 L83.4742077,42.2020361 L80.4576836,41.5290149 L80.4576836,43.2114483 L80.4576836,43.2114483 Z M70.8507269,42.9876263 L72.3024522,45.6789932 L74.425112,43.9965599 L73.9781798,42.2021557 L70.8507269,42.9876263 L70.8507269,42.9876263 Z M68.5044223,49.829809 L66.2697614,46.4649423 L63.9240526,48.5960963 L67.1635066,52.1849046 L68.5044223,49.829809 L68.5044223,49.829809 Z M60.3491909,58.6897393 L64.1472208,61.9431137 L65.0410852,58.2414972 L61.8016311,55.7740718 L60.3491909,58.6897393 L60.3491909,58.6897393 Z M60.0139024,69.906799 L64.7061541,71.9255037 L64.4832242,68.2243656 L60.2373089,65.9808819 L60.0139024,69.906799 L60.0139024,69.906799 Z M68.6154702,84.2639463 L66.4932871,79.889189 L61.5779863,79.889189 L62.6953763,83.9275554 L68.6154702,84.2639463 L68.6154702,84.2639463 Z" id="ror-tech-icon" fill="#B96BA2" mask="url(#mask-2)"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                Ruby on Rails
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 115 113" version="1.1" class="icon ">
                    <defs>
                        <path d="M41.191964,5.76280994 C50.1226288,-0.733610603 64.5996918,-0.735360372 73.5327619,5.76280994 L103.355265,27.4565505 C112.28593,33.952971 116.761251,47.7377263 113.349121,58.2519867 L101.957939,93.3531962 C98.5467284,103.864625 86.8355656,112.385823 75.7811641,112.385823 L38.9435618,112.385823 C27.8977388,112.385823 16.1789164,103.867457 12.7667872,93.3531962 L1.37560453,58.2519867 C-2.03560586,47.7405575 2.43639054,33.9547208 11.3694607,27.4565505 L41.191964,5.76280994 Z" id="path-1"></path>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="AB-mobile" transform="translate(-2276.000000, -569.000000)">
                            <g id="screen-3" transform="translate(2046.000000, 143.000000)">
                                <g id="Group" transform="translate(-698.000000, 100.000000)">
                                    <g id="tech-list" transform="translate(779.000000, 326.000000)">
                                        <g id="js-tech" transform="translate(149.412911, 0.000000)">
                                            <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                            </mask>
                                            <use id="tech-mask" fill="#4F484F" xlink:href="#path-1"></use>
                                            <path d="M42.5095966,39.1355539 L50.9278237,39.1355539 L50.9278237,66.2705806 C50.9278237,78.5004794 45.8327231,82.7683835 37.6910983,82.7683835 C35.6974024,82.7683835 33.1498021,82.3862243 31.4880889,81.7492923 L32.4296564,73.9145691 C33.5927456,74.3604215 35.0881176,74.6788875 36.7495308,74.6788875 C40.294079,74.6788875 42.5095966,72.8315548 42.5095966,66.2071174 L42.5095966,39.1355539 L42.5095966,39.1355539 Z M58.2369425,72.1306997 C60.4522601,73.4683718 63.9969083,74.8060439 67.596837,74.8060439 C71.4737678,74.8060439 73.5229441,72.9589412 73.5229441,70.0925174 C73.5229441,67.4809813 71.75067,65.8886514 67.2645543,64.1050119 C61.061445,61.557054 56.9631923,57.6078458 56.9631923,51.3019893 C56.9631923,43.9766968 62.3353951,38.4349287 71.0860048,38.4349287 C75.3506987,38.4349287 78.396623,39.3906716 80.6121406,40.6007273 L78.7289056,48.3717573 C77.2890141,47.5438607 74.5750726,46.33346 70.9754438,46.33346 C67.3200347,46.33346 65.5476606,48.3080641 65.5476606,50.4738628 C65.5476606,53.2129002 67.596837,54.422956 72.4708157,56.5888697 C79.0612883,59.3916003 82.1074125,63.3408085 82.1074125,69.4557004 C82.1074125,76.6534916 77.3443946,82.7684984 67.098413,82.7684984 C62.8337191,82.7684984 58.6244056,81.4307114 56.5201487,80.0931542 L58.2369425,72.1306997 Z" id="js-tech-icon" fill="#B96BA2" mask="url(#mask-2)"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                Javascript ReactJS jQuery AngularJS Backbone.js
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 115 113" version="1.1" class="icon ">
                    <defs>
                        <path d="M41.191964,5.76280994 C50.1226288,-0.733610603 64.5996918,-0.735360372 73.5327619,5.76280994 L103.355265,27.4565505 C112.28593,33.952971 116.761251,47.7377263 113.349121,58.2519867 L101.957939,93.3531962 C98.5467284,103.864625 86.8355656,112.385823 75.7811641,112.385823 L38.9435618,112.385823 C27.8977388,112.385823 16.1789164,103.867457 12.7667872,93.3531962 L1.37560453,58.2519867 C-2.03560586,47.7405575 2.43639054,33.9547208 11.3694607,27.4565505 L41.191964,5.76280994 Z" id="path-1"></path>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="AB-mobile" transform="translate(-2416.000000, -569.000000)">
                            <g id="screen-3" transform="translate(2046.000000, 143.000000)">
                                <g id="Group" transform="translate(-698.000000, 100.000000)">
                                    <g id="tech-list" transform="translate(779.000000, 326.000000)">
                                        <g id="html-tech" transform="translate(289.181486, 0.000000)">
                                            <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                            </mask>
                                            <use id="tech-mask" fill="#4F484F" xlink:href="#path-1"></use>
                                            <path d="M79.6222249,35.4160156 L33.3053278,35.4160156 L35.6446859,63.1147461 L67.7697361,63.1147461 L66.721346,75.1811523 L56.5323812,78.0854492 L46.0704671,75.2734375 L45.5978109,68.0429688 L35.7556388,68.0429688 L37.3634359,82.3461914 L56.4693929,87.9423828 L75.5377523,82.4223633 L77.8390218,54.0883789 L44.2476976,54.0883789 L43.4845296,44.6811523 L78.594698,44.6811523 L79.6222249,35.4160156 Z" id="html-tech-icon" fill="#B96BA2" mask="url(#mask-2)"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                HTML Haml Slim
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 116 113" version="1.1" class="icon ">
                    <defs>
                        <path d="M41.191964,5.76280994 C50.1226288,-0.733610603 64.5996918,-0.735360372 73.5327619,5.76280994 L103.355265,27.4565505 C112.28593,33.952971 116.761251,47.7377263 113.349121,58.2519867 L101.957939,93.3531962 C98.5467284,103.864625 86.8355656,112.385823 75.7811641,112.385823 L38.9435618,112.385823 C27.8977388,112.385823 16.1789164,103.867457 12.7667872,93.3531962 L1.37560453,58.2519867 C-2.03560586,47.7405575 2.43639054,33.9547208 11.3694607,27.4565505 L41.191964,5.76280994 Z" id="path-1" fill="white"></path>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="AB-mobile" transform="translate(-2557.000000, -569.000000)">
                            <g id="screen-3" transform="translate(2046.000000, 143.000000)">
                                <g id="Group" transform="translate(-698.000000, 100.000000)">
                                    <g id="tech-list" transform="translate(779.000000, 326.000000)">
                                        <g id="css-tech" transform="translate(430.728380, 0.000000)">
                                            <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                            </mask>
                                            <use id="tech-mask" fill="#4F484F" xlink:href="#path-1"></use>
                                            <path d="M34.2159559,35.0849609 L81.990477,35.0849609 L77.6671278,84.2036133 L58.1368544,89.5932617 L38.6002333,83.9916992 L37.2472059,68.8515625 L47.5198975,68.8515625 L48.1235554,77.0214844 L58.1749403,79.8374023 L69.1558973,77.0214844 L69.7745497,64.2763672 L48.1235558,64.2763672 L47.2154676,54.7441406 L70.2789952,54.7441406 L71.2823622,44.7236328 L35.5117435,44.7236328 L34.2159559,35.0849609 Z" id="css-tech-icon" fill="#B96BA2" mask="url(#mask-2)"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                CSS SASS LESS Compass
            </li>
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 115 113" version="1.1" class="icon ">
                    <defs>
                        <path d="M41.191964,5.76280994 C50.1226288,-0.733610603 64.5996918,-0.735360372 73.5327619,5.76280994 L103.355265,27.4565505 C112.28593,33.952971 116.761251,47.7377263 113.349121,58.2519867 L101.957939,93.3531962 C98.5467284,103.864625 86.8355656,112.385823 75.7811641,112.385823 L38.9435618,112.385823 C27.8977388,112.385823 16.1789164,103.867457 12.7667872,93.3531962 L1.37560453,58.2519867 C-2.03560586,47.7405575 2.43639054,33.9547208 11.3694607,27.4565505 L41.191964,5.76280994 Z" id="path-1"></path>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="AB-mobile" transform="translate(-2699.000000, -569.000000)">
                            <g id="screen-3" transform="translate(2046.000000, 143.000000)">
                                <g id="Group" transform="translate(-698.000000, 100.000000)">
                                    <g id="tech-list" transform="translate(779.000000, 326.000000)">
                                        <g id="db-tech" transform="translate(572.275274, 0.000000)">
                                            <mask id="mask-2" fill="white">
                                                <use xlink:href="#path-1"></use>
                                            </mask>
                                            <use id="tech-mask" fill="#4F484F" xlink:href="#path-1"></use>
                                            <path d="M80.5324446,67.6805943 C77.7055016,71.4515849 68.6921085,74.2079468 58.0006367,74.2079468 C47.3158638,74.2079468 38.2957718,71.4515849 35.4721782,67.6805943 C34.8726251,66.8816088 34.5544266,67.3101304 34.5544266,67.7054762 L34.5544266,73.2403173 C34.5544266,78.600985 45.0516298,84.1579433 58.0006367,84.1579433 C70.9496436,84.1579433 81.4468468,78.600985 81.4468468,73.2403173 L81.4468468,67.7054762 C81.4468468,67.3101304 81.1252988,66.8816088 80.5324446,67.6805943 L80.5324446,67.6805943 Z M80.5659392,53.5393795 C77.789238,56.8735545 68.7356515,59.3175103 58.0006367,59.3175103 C47.2656219,59.3175103 38.2120353,56.8735545 35.4353342,53.5393795 C34.8592273,52.8509802 34.5544266,53.2242088 34.5544266,53.5366149 L34.5544266,60.0501441 C34.5544266,64.9242324 45.0516298,68.872161 58.0006367,68.872161 C70.9496436,68.872161 81.4468468,64.9242324 81.4468468,60.0501441 L81.4468468,53.5366149 C81.4468468,53.2242088 81.1386966,52.8509802 80.5659392,53.5393795 L80.5659392,53.5393795 Z M58.0006367,35.5 C45.0516298,35.5 34.5544266,38.7567646 34.5544266,42.7765742 L34.5544266,46.257276 C34.5544266,50.5203753 45.0516298,53.9761952 58.0006367,53.9761952 C70.9496436,53.9761952 81.4468468,50.5203753 81.4468468,46.257276 L81.4468468,42.7793389 C81.4468468,38.7567646 70.9496436,35.5 58.0006367,35.5 L58.0006367,35.5 Z" id="db-tech-icon" fill="#B96BA2" mask="url(#mask-2)"></path>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
                MySQL PostgreSQL MongoDB Redis
            </li>
        </ul>
        <cite>
            <h2>
                Ruby on Rails web development
            </h2>
        </cite>
        <dl class="text-left section" itemprop="description">
            <dt>
            <h3 class="mark">
                Custom Web Development
            </h3>
            </dt>
            <dd itemprop="description">
                As Ruby on Rails developers, we know a variety of programming languages and technologies. Our team has fundamental knowledge in Strong Skills.
            </dd>
            <dt>
            <h3 class="mark">
                Scrum process
            </h3>
            </dt>
            <dd itemprop="description">
                Thanks to using <h4>Scrum methodology</h4>, we can deliver large and complex products. Through effective planning and good communication within our <h4>agile development rails</h4> team, we can complete the projects with fast delivery times.
            </dd>
            <dt>
            <h3 class="mark">
                Free code review
            </h3>
            </dt>
            <dd itemprop="description">
                We implement this engineering practice in terms of <h4>agile development methodology</h4>. Main goal code review is to identify differences in code writing style according to Ruby style guide. To provide this convention we use rubocob gem and make the description of problem-solving in a short time.
            </dd>
        </dl>
        <cite>
            <h3>
                Maintenance and Support
            </h3>
        </cite>
        <div itemprop="description">
            The existing <h4>web application</h4> needs sustained attention. It is necessary to make some updates and enhancements to the features. We offer <h4>web development project management</h4>, maintenance, and support services to achieve your business needs. Our team keeps this process strong with regular checkups and web analytic tools.
        </div>
        <cite>
            <h3>
                Outstaffing
            </h3>
        </cite>
        <div itemprop="description">
            <h3>Web support</h3> The development process is an ongoing process for all time product existing. That's why the main idea of development industry is <h4>Dedicated Team</h4>. What's necessary to develop and maintain web product. The main features of dedicated team realization can be short <h4>product releases</h4>, halving functional step-by-step; there is no psychological problem as hiding troubles from customers when product realization is; the customer has ability quickly responds and makes decisions relating to functional improvement. Ordering-company no needs to create a development and product testing division. Save your financial and material resources, time and financial costs for the set of a <h4>dedicated team<h4>; providing workplaces; training for the officers; utility costs.
        </div>
    </section>
    <section id="contact"><h6>
        Contact us
    </h6><form target="_top" action="/contact" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="919jBiaYYBtfOk/O+E43/gAZbZT+jYRdq3BJl5sohhERzVczbWDr5uhQBB2FbMvqyMgcTNngOOcLZvauro+Cmw==" />
        <input id="name" name="contact[name]" placeholder="Your name" type="text" /><input id="email" name="contact[email]" placeholder="Your email" required="" type="email" /><textarea id="text" minlength="10" name="contact[message]" placeholder="Text message" required="" rows="4"></textarea><button>Send</button><address class="vcard"><a class="url fn n" href="https://active-bridge.com"></a><a class="email" data-label="Email" href="mailto:contact@active-bridge.com">contact@active-bridge.com</a><span class="adr"><span class="tel" data-label="Phone number">+380636086045</span><span class="locality" data-label="Address">Cherkasy</span>, <span class="postal-code">18000</span> <span class="country-name">Ukraine</span></span></address></form>
    </section></main>
<nav>
    <a class="active" href="home"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="104px" height="59px" viewBox="0 0 104 59" version="1.1">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="AB-mobile" transform="translate(-2136.000000, -1469.000000)">
                <g id="screen-3" transform="translate(2046.000000, 143.000000)">
                    <g id="Group" transform="translate(-698.000000, 100.000000)">
                        <g id="menu-home-button" transform="translate(787.804383, 1226.599774)">
                            <path d="M22.0194527,53.1717677 C22.0250181,49.89801 22.025972,45.1532517 22.0106479,39.9936985 C21.9753512,28.1094547 22.1019388,14.6567198 21.7866269,14.6438903 C21.3329729,14.664739 20.3925177,43.6476108 19.9045432,56.9292555 C19.8882054,57.3526655 21.0143375,58.5706336 21.8944247,57.2574268 C22.0927725,56.8837179 22.0158588,55.2857646 22.0194527,53.1717677 L22.0194527,53.1717677 Z" id="menu-home-path-5" fill="#A8A8A8"></path>
                            <path d="M82.8923952,50.0871756 C82.5494749,45.8302117 82.0443916,39.6612153 81.4765692,32.9546489 C80.1686775,17.5070953 78.8773327,0.00311603779 78.5178245,0.0198452081 C78.0047769,0.0950194452 80.0284515,37.8767331 80.8910716,55.1965608 C80.9176836,55.7487879 82.3267057,57.2130073 83.1862399,55.4123907 C83.3716614,54.9054969 83.1138324,52.8360688 82.8923952,50.0871756 L82.8923952,50.0871756 L82.8923952,50.0871756 Z" id="menu-home-path-4" fill="#A8A8A8"></path>
                            <path d="M88.149459,27.3070521 C86.0051028,22.9289728 82.2452632,13.5500416 82.2452632,13.5500416 C82.2452632,13.5500416 84.4724329,22.3511838 86.5171495,27.5639771 C87.7764448,30.7744203 92.1572994,38.8197509 92.1572994,38.8197509 C92.1572994,38.8197509 73.6332043,31.9124029 50.3064899,32.9911121 C24.9141727,33.4079501 0.0276415741,42.5479268 0.0276415741,42.5479268 C0.0276415741,42.5479268 3.51755589,41.4125414 8.52514028,40.37507 C20.0108103,37.9954682 38.4465264,35.74501 50.7683245,35.5981374 C64.760054,35.431359 96.2258932,42.0939529 96.2258932,42.0939529 C96.2258932,42.0939529 90.6653128,32.44361 88.149459,27.3070521 L88.149459,27.3070521 Z" id="menu-home-path-3" fill="#A8A8A8"></path>
                            <path d="M64.1108276,20.3016061 C58.6280293,23.5602717 51.4327315,25.6666078 48.7684414,26.0507368 C29.2315521,29.8597486 24.3960692,22.3633702 24.3960692,22.3633702 C24.3960692,22.3633702 27.826879,31.7364442 49.2645615,27.338014 C68.12332,23.3063197 75.803988,11.0095622 75.803988,11.0095622 C75.803988,11.0095622 70.8702673,16.2841768 64.1108276,20.3016061 L64.1108276,20.3016061 Z" id="menu-home-path-2" fill="#A8A8A8"></path>
                            <path d="M82.277645,13.5826918 C82.277645,13.5826918 89.4090916,28.8490726 93.4052313,35.1225564 C96.7514347,40.3757146 104.304675,48.1626182 104.304675,48.1626182 C104.304675,48.1626182 78.0451603,37.6734445 54.564641,37.2262787 C24.6846596,36.056245 0.1607895,42.4054341 0.1607895,42.4054341 C0.1607895,42.4054341 12.7186555,39.4105823 26.2491739,37.0891847 C35.8088386,35.4490567 47.0280743,34.2375195 57.3338703,34.5951184 C59.5031259,34.6453905 61.7571106,34.8067568 64.0381541,35.0498115 C79.4940868,36.6967061 96.1923371,42.0940575 96.1923371,42.0940575 C96.1923371,42.0940575 93.2234611,37.2174906 89.1080067,29.2309119 C85.6669984,22.4577114 82.277645,13.5826918 82.277645,13.5826918 Z" id="menu-home-path-1" fill="#E8E8E8"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    </a><a href="about"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="67px" height="55px" viewBox="0 0 67 55" version="1.1">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="AB-mobile" transform="translate(-2344.000000, -1481.000000)" stroke="#A6A6A6" stroke-width="2">
            <g id="screen-3" transform="translate(2046.000000, 143.000000)">
                <g id="Group" transform="translate(-698.000000, 100.000000)">
                    <g id="menu-about-button" transform="translate(997.000000, 1240.000000)">
                        <path d="M26.7282226,33.8876137 L25.5390175,48.3123416 L17.8695067,49.0966501 L17.8695067,51.8908467 L47.0664799,51.8908467 L47.0664791,49.0966499 L39.41723,48.3123414 L37.9312883,32.1314225 L26.7282226,33.8876137 Z" id="menu-about-path-1"></path>
                        <rect id="menu-about-rectangle-1" fill="#FFFFFF" x="1.1490566" y="0.370967742" width="62.7018868" height="40" rx="3"></rect>
                        <path d="M0.999999977,34.0483871 L63.0000008,34.0483871" id="menu-about-line-1" stroke-linecap="square"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
</a><a href="services"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="46px" viewBox="0 0 64 46" version="1.1">
    <defs>
        <path id="nav-path-2" d="M0.125200441,11.087628 L11.1657041,0.459048575 L46.3949477,0.459048575 L57.8369242,11.0975849 L28.9810623,40.4409364 L0.125200441,11.087628 Z"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="AB-mobile" transform="translate(-2519.000000, -1483.000000)">
            <g id="screen-3" transform="translate(2046.000000, 143.000000)">
                <g id="Group" transform="translate(-698.000000, 100.000000)">
                    <g id="menu-services-button" transform="translate(1174.000000, 1242.000000)">
                        <mask id="nav-mask-2" fill="white">
                            <use xlink:href="#nav-path-2"></use>
                        </mask>
                        <use id="menu-services-mask" stroke="#A6A6A6" stroke-width="2" xlink:href="#nav-path-2"></use>
                        <path d="M9.20083213,-1.27310595 L15.746221,11.426812 L-4.08493134,11.426812 L9.20083213,-1.27310595 Z" id="menu-services-path-4" stroke="#A6A6A6" stroke-width="2" mask="url(#nav-mask-2)"></path>
                        <path d="M48.2992085,-1.27310595 L41.7538196,11.426812 L61.5849719,11.426812 L48.2992085,-1.27310595 L48.2992085,-1.27310595 Z" id="menu-services-path-3" stroke="#A6A6A6" stroke-width="2" mask="url(#nav-mask-2)"></path>
                        <rect id="menu-services-rectangle-1" stroke="#A6A6A6" stroke-width="2" opacity="0.1" mask="url(#nav-mask-2)" x="-3.54736701" y="11.0545574" width="66.390867" height="33.4332008"></rect>
                        <path d="M15.7713683,11.3697992 L28.9420885,42.9420052 L41.6613556,11.3697992 L15.7713683,11.3697992 Z" id="menu-services-path-2" stroke="#A6A6A6" stroke-width="2" mask="url(#nav-mask-2)"></path>
                        <path d="M61.4174307,11.3509339 L42.6829696,11.3509339 L29.796363,43.3858306 L61.4174307,11.3509339 Z" id="menu-services-path-1" stroke="#A6A6A6" stroke-width="2" mask="url(#nav-mask-2)"></path>
                        <polygon id="menu-services-triangle-1" stroke="#A6A6A6" stroke-width="2" mask="url(#nav-mask-2)" points="28.7658569 1.01811217 41.5552073 11.2220554 15.6229562 11.2220554 "></polygon>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
</a><a href="contact"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="64px" height="44px" viewBox="0 0 64 44" version="1.1">
    <defs>
        <rect id="nav-path-1" x="0" y="0" width="60" height="40" rx="8"></rect>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="AB-mobile" transform="translate(-2710.000000, -1482.000000)">
            <g id="screen-3" transform="translate(2046.000000, 143.000000)">
                <g id="Group" transform="translate(-698.000000, 100.000000)">
                    <g id="menu-contacts-button" transform="translate(1364.000000, 1241.000000)">
                        <mask id="nav-mask-1" fill="white">
                            <use xlink:href="#nav-path-1"></use>
                        </mask>
                        <use id="menu-contacts-mask" stroke="#A6A6A6" stroke-width="2" xlink:href="#nav-path-1"></use>
                        <path d="M4.92699724,46.6628598 L4.92699767,5.91419745 L30.1102828,16.6841388 L54.9111033,6.13890675 L54.9111033,41.8814753 C54.9111033,41.8814753 71.7438549,44.1222896 71.7438534,41.8806117 C71.743852,39.6389339 71.8488419,-11.4227808 71.8488419,-11.4227808 L-11.8343152,-4.08501796 L-12.6558038,28.3016407 L-3.00607648,43.2088066 L4.92699724,46.6628598 Z" id="menu-contacts-path-1" stroke="#A6A6A6" stroke-width="2" opacity="0.9" mask="url(#nav-mask-1)"></path>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
</a>
</nav>
</body>
<%= javascript_include_tag :mobile, async: true %>
</html>
