.step {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

#step1 {
  .about {
    background: $violet;
    position: absolute;
    top: 60%;
    left: 35%;
    color: white;
    padding: 1%;
    border: 3px solid;
  }
}
.front {
  text-align: center;
  background: url("https://res.cloudinary.com/active-bridge/image/upload/v1448008261/cloud.png") no-repeat 50% 50% / cover;
  position: relative;
  height: 840px;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  z-index: 1;
  line-height: 100vh;
  .cloud {
    display: inline-block;
    width: 40%;
    line-height: 1;
    vertical-align: middle;
  }
  .scroll-arrows {
    cursor: pointer;
    margin: 0 34%;
  }
  .scroll-arrows::before, .scroll-arrows::after {
    content: '\e805';
    display: block;
    font-size: 50px;
    font-family: 'icomoon';
    color: $red;
  }
  .scroll-arrows::after {
    transform: rotate(180deg);
  }
}

.contacts {
  position: fixed;
  transform: scale(0.1);
  line-height: 200vh;
  opacity: 0;
  top: -50vh;
  bottom: -50vh;
  left: 0;
  right: 0;
  z-index: 1;
  .info {
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    line-height: 200vh;
    vertical-align: middle;
    padding: 0 36vw;
    img {
      width: 60%;
    }
  }
  .icon {
    font-size: 2em;
    padding-right: 20px;
  }
  .cloud {
    position: absolute;
    vertical-align: middle;
    display: inline-block;
    line-height: 200vh;
    padding: 0 26%;
    img {
      width: 100%;
      line-height: 1;
      vertical-align: middle;
    }
  }
  .contacts-container {
    div {
      display: inline-block;
    }
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    .logo {
      position: relative;
      width: 60%;
      padding: 0 20%;
    }
    .contact-section {
      text-align: left;
      padding: 10px 0;
      display: block;
    }
  }
}

a.popup-link {
  padding: .5em 1em;
  background: $violet;
  color: white;
  border: 2px solid white;
  position: absolute;
  border-radius: 2em;
  pointer-events: auto;
}

#about_us {
  bottom: 38%;
  left: 38%;
}

#our_services {
  bottom: 48%;
  right: 45%;
  transform: scale(0.06);
}

#our_team {
  position: absolute;
  bottom: 52%;
  left: 47%;
  transform: scale(0.3);
  z-index: 1;
}

#delorian {
  top: 30%;
  height: 130px;
  img {
    position: absolute;
  }
  #portfolio {
    top: 22%;
    left: 35%;
    opacity: 0;
    font-size: 1.5em;
  }
  #machine {
    left: 50%;
    opacity: 0;
    max-width: 300px;
  }
  #lightning {
    left: 40%;
    pointer-events: none;
  }
  .light {
    position: absolute;
    left: 47%;
    right: 30%;
    overflow: hidden;
    height: 100%;
    #light {
      position: relative;
      left: 120%;
      top: 0%;
      line-height: 2;
      #light1{
        display: block;
        left: 10%;
      }
      #light3{
        display: block;
        left: 20%;
      }
    }
  }
}

@media (max-width: 1024px) {
  #lazybox {
    max-width: 95%;
    .projects .project-wrapper .project-info .info-section {
      width: 50%;
    }

    .projects .project-wrapper .project-info {
      text-align: center;
    }
  }

  .front .scroll-arrows {
    margin: 0px 19%;
  }
}

@media (max-width: 640px) {
  #lazybox {
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    border-radius: 0px;

    .active-content {
      max-height: 88vh;
    }

    .active-content.members .member {
      width: 49%;
    }

    .projects .project-wrapper .project {
      max-height: 77vh;
      padding: 0 15px;
      box-sizing: border-box;
    }
  }

  .section {
    width: 100%;
  }

  .front .cloud {
    width: 90%;
  }

  .contacts .info {
    padding: 0;
    max-width: 96vw;

  }

  .contacts .contacts-container .contact-section {
    padding: 10px 26%;
  }

  .contacts .contacts-container {
    text-align: center;
  }
}
