.envelop {
  position: relative;
  top: 18vmax;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 840px;
  @media
  only screen and (max-height: 900px) and (max-width: 1400px),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px) and (max-width: 1500px),
  only screen and (min-resolution: 192dpi) and (min-width: 1024px) and (max-width: 1500px)
  {
    top: 17vh;
    transform: scale(.7);
    * {
      font-size: 18px !important;
      line-height: 24px;
    }
    .error, [class^=material] label {
      font-size: 16px !important;
    }
  }

  label[for='toggle-envelop-checkbox'] {
    cursor: pointer;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90vw;
    max-width: 840px;
    transition: all .3s;
  }
  .up-triangle {
    top: 2vw;
    transform-origin: center top;
    transform: rotateX(0) translateY(0);
    transition: transform .3s .1s, z-index 0s .125s;
    z-index: 5;
    @media (min-width: 840px) {
      top: 24px;
    }
  }
  #up-triangle-shadow, #up-triangle-shadow-2 {
    transition: opacity .2s .15s;
    opacity: 1;
  }
  .up-envelop {
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translate(0);
    z-index: 4;
  }
  .contact-form {
    position: relative;
    top: 7vw;
    left: 14vw;
    width: 72vw;
    max-width: 670px;

    padding: 40px 50px;
    background: white;
    z-index: 3;
    transition: transform .3s .1s;
    @media (min-width: 840px) {
      left: calc((100% - 72vw)/2);
    }
    @media (min-width: 944px) {
      top: 84px;
      left: 10%;
    }
  }
  address.vcard {
    position: absolute;
    top: 385px;
    left: 16%;
    font-size: 14px;
    font-style: normal !important;
    font-family: 'Roboto', sans-serif;
    color: #666;
    line-height: 22px;
    z-index: 4;
    a {
      color: #a94e9d;
      text-decoration: none;
    }
  }
}

body[class~=contact] #lazy_overlay.active {
  .wrapper {
    height: 570px;
    transform-origin: center center;
    transition: all .3s;
    animation: pulse-minus 1s infinite .5s;
  }
  #up-triangle-shadow, #up-triangle-shadow-2 {
    opacity: 1;
  }
  .contact-form {
    transition: all .3s;
    transform: translateY(0);
  }

  #contact-envelop-shadow {
    opacity: 1;
    transition: all .3s;
    animation: pulse-shadow 1s infinite .5s;
  }
  #toggle-envelop-checkbox:checked ~ .envelop .wrapper {
    animation: none;
    transition: all .3s;
    .up-triangle {
      transform: rotateX(180deg) translateY(-1px);
      transition: transform .3s 0s, z-index .2s 0s;
      z-index: 2;
    }
    #up-triangle-shadow, #up-triangle-shadow-2 {
      transition-delay: 0s;
      opacity: 0;
    }
    .up-envelop {
      pointer-events: none;
    }
    .contact-form {
      transition: transform .3s .1s, box-shadow .3s .1s;
      box-shadow: 5px 0 2px -1px rgba(0,0,0,.1),
                  -5px 0 2px -1px rgba(0,0,0,.1),
                  0 -5px 2px -1px rgba(0,0,0,.1);
      transform: translateY(-280px);
    }
    form:invalid + .material-button {
      background: #888;
    }
    .material-button {
      pointer-events: auto;
      &:after {
        transform: rotate(-90deg);
        opacity: 0;
      }
      &:before {
        transform: rotate(0);
        opacity: 1;
      }
    }
    #contact-envelop-shadow {
      animation: none;
      transition: all .3s;
      transform: translateY(-10px);
    }
  }
}

@keyframes open-envelop {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}

@keyframes pulse-minus {
  50% {
    transform: translateY(-10px);
  }
}

@keyframes pulse-shadow {
  50% {
    transform: translateY(10px);
    opacity: .5;
  }
}

$font-size: 16px;
$main-color: $gradient;
$textarea-height: 120px;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

form:valid + .material-button {
  pointer-events: auto;
  background-color: $gradient;
  &:after {
    transform: rotate(-90deg);
    opacity: 0;
  }
  &:before {
    transform: rotate(0);
    opacity: 1;
  }
}

.material-button {
  position: absolute;
  display: block;
  top: 410px;
  right: 50px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: none;
  background-color: $gradient;
  z-index: 7;
  cursor: pointer;
  opacity: 1;
  transition: background-color .2s,
              box-shadow .2s;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 2px 5px 0px;
  outline: none;
  pointer-events: none;
  &:hover {
    background-color: darken($gradient, 10%);
  }
  &:before, &:after {
    content: '';
    position: absolute;
    top: 21px;
    left: 21px;
    display: block;
    height: 24px;
    width: 24px;
    transition: transform .2s cubic-bezier(0.4, 0, 0.2, 1),
                opacity .2s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:before {
    background-image: image-url('contact/send-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
    transform: rotate(90deg);
  }
  &:after {
    background-image: image-url('contact/create-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.material-input {
  height: 70px;
  &.left {
    float: left;
    width: 46%;
  }
  &.right {
    float: right;
    width: 46%;
  }
  label {
    line-height: $font-size + 46px;
    height: $font-size + 30px;
  }
}
.material-textarea {
  height: $textarea-height + 52px;
  label {
    line-height: $font-size + 46px;
    height: $textarea-height + 30px;
  }
}
.material-input, .material-textarea {
  position: relative;
  width: 100%;
  margin-bottom: 6px;
  overflow: hidden;
  label, input, textarea, .error {
    position: absolute;
    left: 0;
    width: 100%;
    font-size: $font-size;
  }
  textarea {
    height: $textarea-height;
    resize: none;
  }
  input, textarea {
    top: $font-size - 4px;
    border: none;
    margin: 8px 0;
    background: none;
    box-shadow: none;
    outline: none;
    z-index: 2;
    &:focus { outline: none; }
    &:focus + label, &:valid + label,
    &:not(:placeholder-shown) + label {
      line-height: $font-size + 2px;
      font-size: $font-size - 4px;
    }
    &:placeholder-shown ~ .error,
    &:valid ~ .error { opacity: 0; }
    &:focus + label {
      color: $main-color;
      &:after {
        visibility: visible;
        left: 0;
        width: 100%;
      }
      & + .error { opacity: 0; }
    }
    &:not(:focus):not(:placeholder-shown):invalid {
      transition-delay: 0s;
      color: red;
      & + label {
        transition: all .2s 0s;
        color: red;
        &:after {
          visibility: visible;
          left: 0;
          width: 100%;
          background: red;
          transition-delay: 0s;
        }
      }
    }
  }
  label {
    color: #888;
    transition: .2s all cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: inset 0px -1px #d6d6d6;
    z-index: 1;
    &:after {
      content: '';
      visibility: hidden;
      position: absolute;
      left: calc(50% - 5px);
      bottom: 0;
      background-color: $main-color;
      width: 10px;
      height: 2px;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 10;
    }
  }
  .error {
    position: absolute;
    bottom: -2px;
    color: red;
    font-size: $font-size - 4px;
    font-style: italic;
    opacity: 1;
    transition: all .2s;
  }
}
