.contact {
  background: left 100% / 100% 100% no-repeat url('contact/contact_bg.png');
  box-sizing: border-box;
  padding: 7vh 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header-3 {
    margin: 12vh 0 4vh;
    font-size: 1.8em;
  }

  .header-2 {
    max-width: 100%;
    font-size: 1.5em;
    text-align: center;
  }

  .description {
    margin: 6vh 0;
    letter-spacing: 0.02em;
  }

  &__form {
    &-container { width: 90%; }

    &-item,
    &-more {
      position: relative;
      display: flex;
      flex-direction: column;
      margin: 3vh;
    }

    &-item::before {
      content: '';
      position: absolute;
      width: 90%;
      height: 1px;
      left: 2vw;
      bottom: 2vh;
      background-color: $azovstal;
    }

    &-label {
      padding-bottom: 1vh;
      padding-left: 2vw;
      line-height: 1.4em;
    }

    &-input {
      min-height: 5vh;
      max-height: 60px;
      padding: 1vh 2vw;
      background-color: transparent;
      border: none;
      border-radius: 5vh;
      box-shadow: $form-shadow;

      &:focus { outline: none; }

      &::placeholder {
        font-size: 1.1em;
        color: $azovstal;
      }
    }

    &-link {
      margin-top: 1vh;
      padding: 1vh;
      min-height: 2.5vh;
      max-height: 30px;
      background-color: transparent;
      border: none;
      border-radius: 5vh;
      box-shadow: $form-shadow;
      font-family: 'Cera Regular', serif;
      font-style: italic;
      font-size: 1em;
      font-weight: 100;
      text-align: center;

      &:link,
      &:active,
      &:visited,
      &:focus {
        text-decoration: none;
        color: inherit;
      }
    }

    textarea { resize: none; }

    &-upload {
      position: relative;

      &-wrap {
        position: absolute;
        right: 0;
        bottom: 2.3vh;
        z-index: 1;
      }

      &-input { display: none; }

      &-label {
        padding: 2.3vh;
        background: rgba($white, .5);
        border-radius: 50%;
        cursor: pointer;
        max-height: 60px;
        min-height: 5vh;
      }
    }

    &-description {
      .header-2 { margin: 6vh 0 5vh; }

      &-list {
        li {
          font-size: 1.1em;
          line-height: 1.8em;
        }
      }
    }

    &-button.button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 65%;
      margin: 6vh auto 0;
      font-weight: 100;
      background: rgba($white, .8);
    }
  }
}

@media (max-width: 600px) {
  .contact {
    padding: 8vw;

    .header-3 { font-size: 1.4em; }

    .header-2 {
      margin-top: 1vh;
      margin-bottom: 1vh;
      font-size: .9em;
    }

    .description {
      margin-bottom: 4vh;
      font-size: .75em;
      letter-spacing: normal;
      text-align: left;
    }

    &__form {
      &-container {
        width: 100%;
      }

      &-item,
      &-more {
        margin-right: 0;
        margin-left: 0;
      }

      &-item {
        &::placeholder { font-size: .7em; }

        &::before {
          width: 80%;
          left: 8vw;
        }
      }

      &-input {
        padding-right: 8vw;
        padding-left: 8vw;
      }

      &-label { padding-left: 8vw; }

      &-label,
      &-link { font-size: .9em; }

      &-description {
        .header-2 {
          margin-top: 6vh;
          margin-bottom: 6vh;
        }
      }

      &-description-list {
        padding-left: 4vw;

        li { font-size: .75em; } 
      }
    }
  }
}
