html {
  font-family: $font;
  letter-spacing: .05em;
}

body {
  height: 1000vh;
  margin: 0;
}

canvas {
  width: 100%;
  height: 100vh;
  position: fixed;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.translation_missing {
  color: red;
  background: black;
}

#lazy_close {
  font-size: 2em;
  font-weight: normal;
  font-family: 'icomoon';
}

#lazybox {
  max-height: 96vh;
  max-width: 70%;
  overflow: hidden;

  h1 {
    text-align: center;
    color: black;
    font-weight: normal;
  }

  h2 {
    margin-top: 0;
    text-align: center;
    color: black;
    font-weight: normal;
  }


  .item-title {
    text-transform: uppercase;
    color: grey;
  }

  .item-description {
    font-weight: bold;
  }

  .active-content {
    overflow-y: auto;
    padding: 5px 20px;
    max-height: 84vh;
    box-sizing: border-box;
    text-align: center;

    &.projects {
      overflow: hidden;
      padding: 0;
    }

    &.members {
      .member {
        padding: 0 3%;
        color: black;
        display: inline-block;
        margin-bottom: 20px;
        text-align: center;
        perspective: 1000;
        width: 32%;
        box-sizing: border-box;
        img { width: 100%; }

        p, h4 {
          margin: 0;
          font-size: 0.8em;
        }

        &:hover {
          .member-info {
            transform: rotateY(180deg);
            border-color: $violet;
          }
        }
        .member-info {
          transform-style: preserve-3d;
          position: relative;
          transition: .5s;
          .member-info-front, .member-info-back {
            background: white;
            backface-visibility: hidden;
            overflow: hidden;
          }
          .member-info-back {
            position: absolute;
            transform: rotateY(180deg);
            top: 0;
          }
        }
        .details {
          padding-top: 15px;
          h2 { margin: 0; }
        }
      }
    }
  }

  .projects {
    .wrapper {
      white-space: nowrap;
      transition: transform .3s;
      font-size: 0;
    }
    .project-wrapper {
      width: 100%;
      font-size: 16px;
      overflow: hidden;
      max-height: 100%;
      vertical-align: top;
      white-space: normal;
      display: inline-block;
      .project {
        overflow-y: auto;
        max-height: 62vh;
        padding: 0 5%;
      }
      img {
        max-width: 100%;
        height: auto;
        max-height: 120px;
        padding-top: 1%;
      }
      .project-description {
        padding: 3% 0;
        font-size: .9em;
      }
      .project-info {
        width: 100%;
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        text-align: left;
        font-size: small;
        .info-section {
          display: inline-block;
          width: 20%;
        }
      }
      a.view-project {
        padding: 10px 15px;
        border: 1px solid $violet;
        border-radius: 30px;
        min-width: 150px;
        display: inline-block;
        margin: 20px 0;
        color: $violet;
      }
    }
    .arrows {
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      border-bottom: 1px solid #e2e2e2;
      top: 100px;
      z-index: 999;
      margin: 0px 25px;
      &::before {
        position: absolute;
        content: '';
        border: 3px solid $violet;
        position: absolute;
        top: -1px;
        border-radius: 50%;
        left: 49%;
      }
      .icon-chevrone-up {
        position: absolute;
        border: 1px solid #e2e2e2;
        border-radius: 50%;
        background: white;
        padding: 5px;
        cursor: pointer;
        top: -12px;
        color: grey;
        &#left {
          transform: rotate(-90deg);
          left: 0%;
        }
        &#right {
          transform: rotate(90deg);
          right: 0%;
        }
      }
    }
  }
}

.section {
  line-height: 1.2;
  padding: 0 1%;
  display: inline-block;
  width: 30%;
  vertical-align: top;
  .section-title {
    .icon {
      padding-bottom: 5%;
      font-size: 3em;
      color: $violet;
      display: block;
    }
    text-align: center;
    padding-bottom: 5%;
    text-transform: uppercase;
  }

  .section-description {
    font-size: .8em;
    padding: 5%;
    margin: 0;
    position: relative;
    border-top: 1px solid #e2e2e2;
    text-align: left;
    &::before {
      position: absolute;
      content: '';
      border: 3px solid $violet;
      position: absolute;
      top: -3px;
      border-radius: 50%;
      left: 49%;
    }
  }

  ul {
    list-style-type: none;
    font-size: .9em;
    padding: 0 5% 0 10%;
  }

  ul > li:before {
    content: "–";
    position: absolute;
    margin-left: -1.1em;
  }
}

@media (max-width: 1024px) {
  #lazybox {
    max-width: 95%;
    .projects .project-wrapper .project-info .info-section {
      width: 50%;
    }

    .projects .project-wrapper .project-info {
      text-align: center;
    }
  }
}

@media (max-width: 640px) {
  #lazybox {
    max-width: 100%;
    max-height: 100vh;
    width: 100%;
    height: 100%;

    .active-content {
      max-height: 88vh;
    }

    .active-content.members .member {
      width: 49%;
    }

    .projects .project-wrapper .project {
      max-height: 77vh;
      padding: 0 15px;
      box-sizing: border-box;
    }
  }

  .section {
    width: 100%;
  }
}


