#disqus_thread {
  margin: 0px -103px;
  padding: 20px 103px;
  background: asset_data_url('blog/desqus_background.png');
  box-shadow: 0 -20px 20px -20px #3e2552;

  a {
    color: rgba(255, 255, 255, 0.5);
  }
}
