.envelope {
  position: fixed;
  top: 0px;
  width: 10%;
  max-width: 50px;
  left: 0px;
  z-index: 10000;
  transition: transform 1.4s, top 1s, left 1s;
  transform: rotate(360deg) translate(-100%, -300%) scale(.1);
  transform-origin: 50%, 50%;
  backface-visibility: hidden;
  text-decoration: none;
  animation: blinker 3s linear infinite;
  img {
    position: relative;
    z-index: 100;
  }

  @keyframes blinker {
    50% { opacity: 0; }
  }
}

.about .envelope,
.testimonials .envelope,
.services .envelope,
.team .envelope,
.portfolio .envelope {
  transform: rotate(40deg) translate(-193%, -19%) scale(0.5);
  &:hover {
    transform: rotate(0deg) translate(-17%, -23%) scale(0.5);
    animation: none;
  }
}
