.envelope {
  position: absolute;
  top: 0px;
  width: 10%;
  max-width: 50px;
  left: 0px;
  z-index: 10000;
  transition: transform 1.4s, top 1s, left 1s;
  transform: rotate(360deg) translate(-100%, -300%) scale(.1);
  transform-origin: 50%, 50%;
  backface-visibility: hidden;
  text-decoration: none;
  span {
    display: inline-block;
    width: 250px;
    font-size: 35px;
    text-align: center;
    color: white;
    animation: blinker 1.5s linear infinite;
  }
  img {
    position: relative;
    z-index: 100;
  }

  @keyframes blinker {
    50% { opacity: 0; }
  }
}

.about .envelope {
  transform: rotate(23deg) translate(940%, 340%) scale(0.5);
  top: -495px;
  left: 392px;
}

.testimonials .envelope,
.services .envelope,
.team .envelope,
.portfolio .envelope {
  transform: rotate(11deg) translate(80%, 10%) scale(.5);
}
