.expertise {
  .header-3 { margin-top: 2vh; }

  .header-2 {
    max-width: 85%;
    margin: 5vh auto;
    font-size: 1.5em;
    line-height: 1.5;
  }

  .description { margin-bottom: 10vh; }

  &__main {
    .header-2 { font-size: 1em; }

    .description {
      margin-top: 5vh;
      margin-bottom: 5vh;
    }
  }

  &__technologies {
    background: center/cover no-repeat url('expertise/technologies-bg.jpg');
    box-shadow: 0px 0px 20px -3px grey;;

    .header-3 { font-size: 1.3em; }

    .header-2 { margin-top: 1vh; }

    svg { margin: 5vh 0; }

    .description { margin-bottom: 3vh; }
  }

  &__industries {
    .header-3:first-child { font-size: 1.8em; }

    .header-3 { font-size: 1.3em; }

    .carousel {
      padding-bottom: 6vh;

      &__item {
        width: 35vw;
        max-width: 430px;
        height: 70vh;
        max-height: 530px;
        align-items: baseline;
        padding: 4vh 3vh;
        box-sizing: border-box;

        &[data-index="-1"] { transform: translateX(-50%) scale(0.9); }

        &[data-index="1"] { transform: translateX(50%) scale(0.9); }

        &[data-index="-1"],
        &[data-index="1"] { opacity: .9; }
      }

      .industries {
        &__title {
          margin: 0 auto;
          font-family: 'Inria Bold', serif;
          font-size: 1.25em;
          text-transform: capitalize;
          letter-spacing: normal;
        }

        &__logo {
          width: 13vh;
          height: 13vh;
          margin: 8% auto;
          box-shadow: none;

          img {
            height: 13vh;
            max-width: 100%;
          }
        }
      }

      &__subtitle {
        margin: 0 auto;
        font-family: 'Inria', serif;
        font-style: italic;
        font-size: 1.1em;
      }

      &__description {
        margin: 2.5vh 0 0;
        font-size: 1em;
        line-height: 1.5em;
        list-style: inside;
        text-align: left;
        -webkit-line-clamp: inherit;

        .blue-text {
          display: inline;
          color: $purple-heart;
        }
      }
    }
  }

  &__main,
  &__solutions,
  &__testimonials {
    .header-2 { max-width: 100%; }
  }

  &__solutions .header-2 {
    margin-top: 0;
    margin-bottom: 0;
  }

  &__testimonials {
    background: center/cover no-repeat url('expertise/testimonials-bg.jpg');

    .carousel {
      padding-top: 2vh;
      padding-bottom: 3vh;

      &__item {
        &[data-index="-1"] { transform: translateX(-45%) scale(0.9); }

        &[data-index="1"] { transform: translateX(45%) scale(0.9); }

        &[data-index="-1"],
        &[data-index="1"] { opacity: .9; }
      }

      &__description {
        margin: 1vh 6vh 3vh;
        -webkit-line-clamp: 9;
      }
    }
  }

  &__tell-us {
    min-height: 85vh;
    background: center/cover no-repeat url('expertise/tell-us.jpg');

    .header-2 {
      font-family: 'Cera Regular', serif;
      font-size: 1.8em;
      letter-spacing: 0.5em;
      line-height: 1.6;
      text-transform: uppercase;
    }
  }
}

.chart-container {
  width: calc(100% - 12vw);
  margin: 6vh 0;
  padding: 6vh 6vw;
  border-radius: 20px;
  background: $white;
  box-shadow: $main-shadow;

  .chart-bar {
    display: flex;

    &__item {
      padding: 3vh 1vw;
      font-size: 1.3em;
      box-shadow: inset -7px -7px 11px -6px #8f8f8f;

      &:first-child { border-radius: 1.2em 0 0 1.2em; }

      &:last-child { border-radius: 0 1.2em 1.2em 0; }
    }
  }

  .chart {
    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 4vh;
    }

    &__item {
      display: flex;
      width: 45%;

      &-color {
        width: 45px;
        height: 45px;
        margin-top: 2vh;
        border-radius: 15px;
        box-shadow: inset -7px -7px 11px -6px #8f8f8f;
      }

      &-asterisk {
        margin-left: 2vw;
        margin-top: 2vh;
        display: flex;
        align-items: baseline;
        flex-direction: column;
      }

      &-title {
        font-family: 'Inria Bold';
        font-size: 1.3em;
        margin-bottom: 1vh;
      }

      &-description { font-size: 1.2em; }

      &:first-child,
      &:nth-child(2) { margin-bottom: 2vh; }

      &:nth-child(2n) { justify-content: flex-end; }
    }
  }

  .button {
    margin-top: 6vh;
    background: linear-gradient($white, $white) padding-box,
                linear-gradient(to right, $main-violet, $main-blue) border-box;
  }

  .pie-chart {
    position: relative;
    height: 150px;
    width: 150px;
    margin: auto;
    background: conic-gradient($sky-ua 0.00% 20.00%, $palianytsia 20.00% 50.00%, $kviten 50.00% 90.00%, $azovstal 90.00%);
    border-radius: 50%;
    box-shadow: $main-shadow;

    span {
      position: absolute;
      font-size: .7em;

      &.arcitect {
        top: 18%;
        right: 20%;
      }

      &.senior {
        top: 60%;
        right: 20%;
      }

      &.middle {
        top: 55%;
        left: 20%;
      }

      &.jumior {
        top: 12%;
        left: 31%;
      }
    }
  }
}

.expertise-cards {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
  flex-wrap: wrap;

  &__item {
    margin: 0 2vw;

    &-title {
      font-family: 'Inria Bold', serif;
      font-size: 1.6em;
      line-height: 1.6em;
    }

    &-description {
      margin: 2vh;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .card__description { line-height: 1.6em; }
}

@media (max-width: 600px) {
  .chart-container {
    width: calc(100% - 10vw);
    margin: 4vh 0;
    padding: 7vh 5vw;

    .chart__item {
      width: 100%;
      justify-content: space-around;

      &:nth-child(2n) {
        justify-content: space-around;
      }

      &-color {
        width: 35px;
        height: 35px;
      }

      &-title { font-size: 1em; }

      &-description { font-size: .9em; }
    }
  }

  .expertise {
    &-cards {
      margin-bottom: 0;

      .card {
        min-width: 300px;
        height: auto;
        margin: 0 10vw;
        padding: 4vh 2vw;

        &:not(:last-child) { margin-bottom: 5vh; }

        &__title-2 {
          font-size: 1.2em;
          padding-right: 7vw;
          padding-left: 7vw;
        }

        &__description {
          font-size: 0.9em;
          line-height: 1.8em;
        }
      }
    }

    .header-2 { font-size: 1em; }

    .carousel {
      &__list {
        margin: 0;
        padding: 0;
        height: 48vh;
      }

      &__item {
        width: 70vw;
        height: 48vh;

        &[data-index="-1"] { transform: translateX(-22%) scale(0.9); }

        &[data-index="1"] { transform: translateX(22%) scale(0.9); }
      }

      &__description {
        font-size: .8em;
        padding-inline-start: 0;
      }

      &__subtitle { font-size: .95em; }

      .industries {
        &__title { font-size: 1em; }

        &__logo {
          width: 9vh;
          height: 9vh;
        }
      }
    }

    &__main .description { margin-bottom: 0; }

    &__technologies svg {
      margin-right: -15px;
      margin-left: -15px;
    }

    &__industries.wrap { padding-bottom: 0; }

    &__industries {
      .header-3:first-child { font-size: 1.5em; }

      .carousel .industries__logo img { height: 9vh; }
    }

    &__solutions .header-2 { margin: 0 auto;}

    &__testimonials {
      .header-2 { margin-top: 0 }

      .carousel {
        padding-bottom: 4vh;

        &__description {
          margin-right: 3vh;
          margin-left: 3vh;
          -webkit-line-clamp: 7;
        }
      }
    }

    &__tell-us {
      min-height: 50vh;

      .header-2 { margin: 0 auto; }
    }
  }
}

@media screen and (min-width: 1550px) {
  .chart-container {
    .chart-bar__item { padding: 2vh 1vw; }

    .chart__item-color {
      width: 65px;
      height: 65px;
    }
  }

  .expertise {
    &__industries {
      .carousel {
        .industries__logo {
          width: 9vh;
          height: 9vh;
          margin-top: 7%;
          margin-bottom: 7%;

          img { height: 8vh; }
        }
      }
    }

    &__testimonials {
      .carousel {
        padding-bottom: 0;

        &__description {
          margin-right: 3vh;
          margin-left: 3vh;
          -webkit-line-clamp: 8;
        }
      }
    }

    &__tell-us { min-height: 60vh; }
  }
}
