$models: dedicated-team, team-extension, project-model;

.how_we_work_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;

  .work_desc {
    margin-top: 5vh;
    text-align: justify;
    line-height: 35px;
    font-size: 1.1em;
  }

  .holder_key{
    width: 100%;
    margin: 5vh 0;

    .keyboard {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;

      &-container {
        width: 80%;

        .keyboard {
          width: 80%;
        }

        .key_hover {
          bottom: 4px;
          visibility: hidden;
          opacity: 0;
          transition: all .3s linear;
        }
      }

      &:hover {
        .key-hover {
          visibility: visible;
          opacity: 1;
        }
      }


      .get_dedicated{
        color: $main-blue;
        text-transform: uppercase;;
        height: 20%;
        font-size: 2.7vh;
      }

      .cooperation-models{
        width: 100%;
        font-size: 1.75vw;
        color: $main-blue;
      }
    }
  }
  .cooperation_models_cards {
    width: 100%;
    height: auto;
    margin-bottom: 2vh;
    display: flex;
    justify-content: space-between;

    .model_card {
      width: 30%;
      max-width: 350px;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;

      .descr {
        color: $main-blue;
        text-align: justify;
      }

      .learn_more {
        margin-top: 10px;
      }
    }
  }
  .models_information {
    .informational_container {
      text-align: justify;
      display: flex;
      overflow-y: auto;
      justify-content: center;
      .desc_container {
        width: 85%;

        .header_2 {
          text-align: center;
        }
        p {
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
  @each $model in $models {
    ##{$model}:target {
      visibility: visible;
      opacity: 1;
      z-index: 6;
    }

    ##{$model}:target ~ #close_model {
      position: fixed;
      z-index: 3;
      visibility: visible;
    }
  }
  #close_model {
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }


  @media (max-width: 600px) {
    .holder_key .keyboard {

      .keyboard-container {
        position: relative;
        width: 100%;
      }

      .cooperation-models {
        width: 100%;
        font-size: 0.7em;
        position: absolute;
        color: #5f52ca;
        bottom: 5px;
      }
    }

    .logo_container {
      width: 40%;
    }

    .work_desc {
      line-height: normal;
      font-size: 1em;
    }


    .cooperation_models_cards {
      flex-direction: row;

      .model_card {
        width: 100%;
        padding: 1%;

        .logo_container {
          width: 100%;
        }

        .learn_more {
          background: black;
        }
      }
    }
  }
  .awards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .award {
      width: 30%;

      img {
        width: 100%;
      }
    }
  }
}

