$solutions_and_benefits: 
  full_stack_expertise_where_you_need_it, 
  project_staffing_and_recruiting,
  a_motivated_workforce,
  timely_delivery,
  team_extending,
  dedicated_web_developers,
  teamwork_and_expert_integration,
  transparency_and_face_to_face_communication,
  flexibility,
  fluent_english_communication; 

body{
  overflow-x: hidden;
  overflow-y: auto;
}
.container_index{
  height: 100vh;
  display: flex;
  justify-content: center;
}

.logo{
  position: relative;  
  margin-top: 8vh;
  text-align: center;
  width: 50vw;
  z-index: 2;


  h1 {
    color: #b64e96;
  }

  h2{
    color: #5f52ca;
    text-transform: uppercase;
  }

  .img__logo {
    width: 35vw;
  }

  .btn_work{
    border-radius: 30px;
    border: solid 1px #20538D;
    background: linear-gradient(to right, #b64e96, #5f52ca);
    color: #FFF;
    padding: 18px 35px;
    text-decoration: none;
    transition: all .3s ease;

    &:hover{
      box-shadow: 0px 0px 100px#5f52ca;
    }
  }

  .btn_work:hover + p{
    transition: font-size 1s;
    font-size: 100px;
  }

  p {
    margin-top: 15px;
    font-size: 45px;
    color: #b64e96;
    transition: all .3s ease;
  }

  .logo_container{
    margin-top: 1vh;
    margin-bottom: 10vh;
  }
}

.about_us_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 105vh;
  margin-left: 5vw;


  .description_container{
    margin-top: 5vh;
    text-align: justify;
    display: flex;
    font-size: 1.2em;
    width: 90%;

    div {
      width: 80%;
      svg {
        margin-top: 2vh;
      }
    }
  }
}

.container_for_scroll{
  width: 90%;
  height: 140vh;
  margin-top: -20vh;
  margin-bottom: -120vh;
  width: 100%;
}
.solutions_and_benefits{
  height: 120vh;
  width: 80%;
  align-self: center;
  overflow-y: auto;
  overflow-x: hidden;
  .solutions{
    height: 40%;

    .higher{
      z-index: 3;
    }

    .tetris_container{
      margin-top: 4vh;
      margin-left: 7vw;
      height: 80%;
      width: 100%;
      display: flex;
      flex-wrap: nowrap;

      .tetris_holder{
        display: flex;
        flex-direction: column;
        span{
          z-index: 3;
          color: white;
          text-transform: uppercase;
          font-size: 1em;

          a{
            text-decoration: none;
            color: white;
          }
        }
        .tetris{
          z-index: 2;
        }
      }

      .first_element, .fourth_element{
        align-self: flex-end;
        width: 30%;        
      }
      .second_element, .third_element, .fifth_element{
        align-self: flex-end;
        width: 20%;
      }
  
      .fourth_element, .fifth_element{
        margin-left: -10%;
      }

      .fifth_element{
        span{
          margin-bottom: -130%;
        }
      }

      .fourth_element{
        span{
          margin-right: -30%;
          margin-bottom: -20%;
        }
      }
      
      .third_element{
        span{
          margin-bottom: -80%;
        }
      }
  
      .second_element{
        margin-bottom: 10%;
        span{
          margin-bottom: -60%;
        }
      }

      .first_element{
        margin-right: -20%;
        span{
          margin-bottom: -55%;
        }
      }
    }

    .lower{
      margin-top: -29.5%;
      transition: transform 2.3s linear;
      z-index: 2;
      visibility: hidden;

      #first_lower{
        span{
          width: 50%;
          transform: rotate(-90deg) translateY(-50%) translateX(20%);
        }
        transition: all 1.5s linear;
      }
      #second_lower{
        transition: all 1.3s linear;
      }
      #third_lower{
        span{
          transform: rotate(180deg);
        }
        transition: all 1.9s linear;
      }
      #fourth_lower{
        span{
          width: 50%;
          transform: rotate(-90deg) translateY(140%) translateX(-45%);
        }
        transition: all 2.1s linear;
      }
      #fifth_lower{
        span{
          transform: rotate(-90deg) translateY(60%) translateX(30%);
        }
        transition: all 1.7s linear;
      }
    }
  }

  .benefits{
    height: 60%;
  }

  .solutions_and_benefits_desc{
    .informational_container{
      top: 25%;
      width: 35%;
      height: 40%;
      display: flex;
      align-items: center;
      flex-direction: column;

      div{
        overflow-y: auto;
        text-align: justify;
        width: 80%;
      }
    }
    @each $element in $solutions_and_benefits{
      ##{$element}:target{
        z-index:4;
        opacity: 1;
        visibility: visible;
      }
      ##{$element}:target ~ #close_description{
        position: fixed;
        z-index: 3;
        visibility: visible;
      }
    }
  }

  #close_description{
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

.home_page{
  width: 20%;
}

.home_page_1{
  margin-top: 6vh;
}

.home_page_1:hover ~ .home_page_pink{
  visibility: visible;
}

.home_page_2:hover ~ .home_page_pink{
  visibility: visible;
}

.home_page_3:hover ~ .home_page_pink{
  visibility: visible;
}

.home_page_pink{
  margin-left: -19.75%;
  visibility: hidden;
}

.home_page_pink_2{
  margin-top: -3vh;
}

.home_page_line{
  width: 105%;
}

.gradient-circle-1{
  height: 500px;
  width: 500px;
  opacity: 0.4;
  background: radial-gradient(150px 150px, circle contain #5f52ca, white);
  position: absolute;
  top: 24%;
  left: 5%;
  z-index: 1;
}

.gradient-circle-2{
  height: 550px;
  width: 550px;
  opacity: 0.4;
  background: radial-gradient(200px 200px, circle contain #5f52ca, #b64e96 5%, white);
  position: absolute;
  top: 10%;
  right: 1%;
  z-index: 1;
}

@media only screen and (min-width: 1368px) {
  .home_page_pink_2{
    width: 15%;
    margin-left: -17.5%;
  }
}