@keyframes slide-top {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: -15px;
    margin-bottom: 15px;
  }

  100% {
    margin-top: 0;
  }
}

@keyframes draw {
  from {
    stroke-dashoffset: 450;
  }
  to {
    stroke-dashoffset: 0;
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

.index-background {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.bridge-stripe {
  position: absolute;
  left: 0;
  z-index: -1;
  top: 60vh;
  transform: translateY(-50%);
  width: 80%;

  path {
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    animation: draw 2s linear forwards;
  }
}

.home-page-container {
  width: 100%;
  height: 100vh;
  z-index: 2;

  .index-logo {
    width: 150px;
    margin-top: 70px;
  }

  .index-header {
    font-size: 2.5em;
  }
}

.awards-img {
  position: absolute;
  top: 50vh;
  right: 15px;
  width: 10%;
  min-width: 135px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(-50%);

  a {
    width: 100%;

    &:hover {
      animation: slide-top 0.6s ease;
      animation-iteration-count: 1;
    }

    img {
      width: 100%;
    }
  }
}

.index {
  &-testimonials {
    &__header {
      margin-bottom: 5vh;
      padding: 0 25%;
      font-size: 1.7em;
    }

    &__item {
      position: relative;
      display: inline-block;
      margin-right: 5px;
    }
  }

  &-testimonial {
    &__image {
      img {
        width: 25%;
      }
      margin-bottom: 2vh;
    }

    &__logo {
      img {
        height: 5vh;
        width: 45%;
      }
    }

    &__description {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 7;
    }
  }

  &-technologies {
    padding: 1vh 20% 0 20%;

    &__container {
      background: linear-gradient(135deg, $white, $main-lilac);

      .header-4  {
        margin: 7vh 0 3vh 0;
        padding: 0 5%;
      }
    }

    &__holder {
      display: flex;
      width: 100%;
      height: 100vh;
      margin-top: 4vh;
    }

    &__photo {
      width: 50%;
      height: 100%;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__description {
      text-align: justify;
      font-family: 'Inria Bold', serif;
      padding: 0 !important;
    }

    &__title {
      margin: 6vh 0 3vh 0;
    }

    &__items {
      position: absolute;
      left: 50%;
      width: 40%;
      height: calc(100% - 10vw);
      padding: 5vw;
      overflow: hidden;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
      background: linear-gradient(135deg, #EBDEF5, $main-lilac);
      transition: height .3s ease;

      table {
        width: 100%;
        table-layout: fixed;
        border-spacing: 0;

        tbody {
          tr {
            width: 100%;

            td {
              width: 33%;
              border-bottom: 1px solid black;
              border-right: 1px solid black;  
              padding: 3vh 1vw;

              svg {
                width: auto;
                height: 4vh;
                max-width: 140px;
              }
              // &:first-child, &:second-child,
              // &:nth-child(3) {
              //   border: 1px solid black;
              // }
              &:first-child {
                border-left: 1px solid black;
                border-bottom: 1px solid black;
                border-right: 1px solid black;
              }

            }

            &:first-of-type {
              td {
                border-top: 1px solid black;
                border-right: 1px solid black;
                border-bottom: 1px solid black;
                
                &:first-child {
                  border: 1px solid black;
                }
              }
            }
          }
        }
      }

      .show-all-technologies {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        position: absolute;
        z-index: 1;
        bottom: 0;
        height: 40%;
        width: 100%;
        margin-left: -5vw;
        background: linear-gradient(to top, $main-lilac 34%, transparent 100%);
        transition: visibility, opacity .3s ease;
        visibility: visible;
        opacity: 1;

        .technologies-toggle {
          max-height: 10vh;
          margin-bottom: 3vh;
          border: 2px solid transparent;
          background: linear-gradient($main-lilac, $main-lilac) padding-box,
                      linear-gradient(135deg, $main-violet, $main-blue)  border-box;
          cursor: pointer;
          
          &:hover {
            background: linear-gradient(135deg, $main-violet, $main-blue) padding-box,
                        linear-gradient(135deg, $main-violet, $main-blue)  border-box;
          }
        }
      }

      .technologies-close {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        border: none;
        background: transparent;
        cursor: pointer;

        svg {
          width: 50px;
        }
      }

      &.open {
        height: auto;

        .show-all-technologies {
          visibility: hidden;
          opacity: 0;
          z-index: -1;
        }

        .technologies-close {
          display: block;
        }
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__icon {
      width: 40px;
      height: 40px;
    }

    h2.header-3 {
      margin-top: 12vh;
    }

    .header-3:last-child {
      margin-top: 7vh;
    }
  }

  &-services {
    padding: 7vh 0;
    background: $main-lilac;

    &__container {
      display: flex;
      justify-content: center;
      margin: 5vh 0;
    }

    &__item {
      margin: 0 2vw;

      &-title {
        font-family: 'Inria Bold', serif;
        font-size: 1.8em;
        color: #5723B5;
        line-height: 1.6em;
      }

      &-description {
        text-align: justify;
        font-size: 1.2em;
        line-height: 1.8em;
        margin-top: 3vh;
      }
    }

    &__description {
      margin: 3vh 0;
    }

    &__button {
      width: 35%;
    }
  }

  &-about-us {
    padding: 10vh 15vw;

    &__description {
      margin-top: 4.5vh;
      font-family: 'Inria Bold', serif;
      font-size: 1.2em;
      line-height: 2em;
      text-align: justify;
      color: $white;
    }

    &__container {
      width: 50%;
    }
    
    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 3vh;
      font-size: 1.4em;
      font-weight: bold;
      color: $white;

      svg {
        height: 10vh;
        margin-right: 10px;
      }
    }

    &__photo {
      width: 75%;
      margin-right: -15vw;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__items {
      display: flex;
      margin-top: 5vh;
    }
  }

  &-solutions {
    position: relative;
    height: 100vh;

    &__photo {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100vh;
    }

    &__holder {
      position: relative;
      z-index: 2; 
      padding-top: 1vh;
    }

    &__items {
      margin: 7vh auto 0 auto;
    }

    &__item {

    }

    &__title {
      font-size: 1.6em;
      letter-spacing: 0.3em;
      line-height: 1.7em;
      text-transform: uppercase;
    }

    &__logo {
      display: flex;
      justify-content: center;
      width: 15vh;
      height: 15vh;
      margin: 3vh auto;
      border-radius: 7.5vh;
      box-shadow: inset -3px -3px 7px -4px grey, 1px 1px 14px -2px grey;

      svg {
        width: 9vh;
      }
    }

    &__description {
      font-size: 1.3em;
      line-height: 1.5em;
      text-align: justify;
    }

    .blue-text {
      display: inline;
      color: $main-blue;
    }
  }
}

.index-solutions__holder {
  .index-solutions__items {
    margin: 7vh auto 0 auto;
  }

  .index-solutions__button {
    margin-top: 1vh;
    background: linear-gradient(135deg, $main-violet, $main-blue);
  }
}
