.camera {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  height: 740px;
  z-index: 2;
  transition: opacity .3s;
  @media (max-width: 1118px) {
    height: 66vw;
  }
  @media
  only screen and (max-height: 900px) and (max-width: 1400px),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px) and (max-width: 1500px),
  only screen and (min-resolution: 120dpi) and (min-width: 1024px) and (max-width: 1500px)
  {
    transform: translateY(-50%) scale(.7);
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90vw;
    max-width: 1000px;
  }
}

.team-photos {
  position: absolute;
  max-height: 477px;
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  @media (max-width: 1118px) {
    height: 44vw;
  }
}

.photos-container {
  width: 100%;
  max-width: 1000px;
}

.photo {
  position: absolute;
  top: 16.7%;
  left: 10vw;
  width: 62vw;
  height: 64.2%;
  border-radius: calc(100vw / 53.23);
  overflow: hidden;
  background: #70447f;
  opacity: 0;
  visibility: hidden;
  @media (min-width: 1001px) and (max-width: 1117px) {
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-right: calc(50% - 22vw);
  }
  @media (min-width: 1118px) {
    top: 120px;
    left: 57px;
    width: 686px;
    height: 473px;
    border-radius: 21px;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    box-shadow: inset 0 0 35px rgba(0, 0, 0, 0.65);
    border-radius: calc(100vw / 53.23);
    width: 100%;
    height: 100%;
    @media (min-width: 1118px) {
      border-radius: 19px;
    }
  }
}

input[name='team-photos'] {
  position: absolute;
  display: none;
  &:checked + .photo,
  &:checked + .photo + .team-photo-controls{
    visibility: visible;
    opacity: 1;
  }
}

.team-photo-controls {
  position: absolute;
  right: 9.8vw;
  top: 45.3vw;
  width: 12%;
  opacity: 0;
  visibility: hidden;
  @media (min-width: 1001px) and (max-width: 1117px) {
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 11.7vw;
    margin-left: calc(50% + 28.4vw);
  }
  @media (min-width: 1118px) {
    right: 5.3%;
    top: 68%;
    width: 13.5%;
  }
  label {
    position: absolute;
    z-index: 100;
    visibility: visible;
    display: block;
    width: 0;
    height: 0;
    cursor: pointer;
    transition: border .2s;
    &.next {
      right: 0;
      border-top: 16px solid transparent;
      border-left: 10px solid #d2c0e5;
      border-bottom: 16px solid transparent;
      &:hover {
        border-left: 10px solid darken(#d2c0e5, 10%);
      }
      @media (max-width: 1118px) {
        border-top: 1.5vw solid transparent;
        border-left: 1vw solid #d2c0e5;
        border-bottom: 1.5vw solid transparent;
        &:hover {
          border-left: 1vw solid darken(#d2c0e5, 10%);
        }
      }
    }
    &.prev {
      left: 0;
      border-top: 16px solid transparent;
      border-right: 10px solid #d2c0e5;
      border-bottom: 16px solid transparent;
      &:hover {
        border-right: 10px solid darken(#d2c0e5, 10%);
      }
      @media (max-width: 1118px) {
        border-top: 1.5vw solid transparent;
        border-right: 1vw solid #d2c0e5;
        border-bottom: 1.5vw solid transparent;
        &:hover {
          border-right: 1vw solid darken(#d2c0e5, 10%);
        }
      }
    }
  }
}
