$members: 
bidochka_alex, 
oleynikov_oleg,
galushka_alex,
milevskyi_ruslan,
zimin_anton,
lukin_alexey,
savenko_serhii;

.cartoon_cards{
  height: 90%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .cartoon_container{
    cursor: pointer;
    width: 20%;
    height: 30vh;
    display: flex;
    flex-direction: column;

    .cartoon_logo_container{
      display: flex;
      align-items: center;
      width: 100%;
      height: 80%;

      .cartoon_logo{
        width: 80%;
        margin-right: -40%;
        height: 100%;
      }

      .cartoon_logo_hover{
        width: 80%;
        height: 100%;
        margin-left: -40%;
        visibility: hidden;
        opacity: 0;
        transition: all .3 linear;
      }
      &:hover{
        .cartoon_logo_hover {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .descr{
      width: 100%;
      height: 30%;
      align-self: flex-end;
      span{
        color: #5f52ca;

        &.name{
          font-weight: bold;
          text-transform: uppercase;  
        }

        &.position{
          font-size: .75rem;
        }
      }
    }

    svg{
      height: 70%;
    }
  }
  .informational_container{
    display: flex;
    justify-content: center;
    text-align: justify;

    .member_information{
      display: flex;
      flex-direction: column;
      width: 80%; 
      height: 100%;

      .member{
        display: flex;
        height: 35%;
        margin-bottom: 5%;
        img{
          width: 100px;
          height: 125px;
          align-self: flex-end;
        }
        .name_and_post{
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: calc(100% - 100px);

          .info{
            text-align: left; 
            width: 75%;
            .name{
              text-transform: uppercase;
              font-size: 1.5em;
              margin-bottom: 15px;
            }
            .position{
              color: black;
            }
          }
          hr{
            margin: 0;
            padding: 0;
            width: 100%;
          }
        }
      }
      .description{
        height: 35%;
        overflow-y: auto;
        margin-bottom: 15px;
      }
      .title_projects{
        height: 7%;
        text-align: center;
        font-size: 1.5em;
        hr{
          margin: 0;
          padding: 0;
        }
      }

      .projects{
        overflow-y: auto;
        display: flex;
        height: 20%;
        flex-wrap: wrap;
      
        li{
          width: 50%;
          letter-spacing: 1px;
        }
      }
    }
    @media screen and (max-width: 1000px){
      top: 25%;
      width: 50%;
      height: 50%;
    }

    @media screen and (min-height: 900px){
      top: 25%;
      height: 50%;
      width: 30%;
    }
  }
  @each $member in $members{
    ##{$member}:focus ~ ##{$member}_card{
      z-index: 4;
      opacity: 1;
      visibility: visible;
    }

    ##{$member}:target ~ #close_member{
      z-index: 3;
      opacity: 1;
      visibility: visible;
    }
  }
}