@keyframes spin {
  100% {transform:rotateY(360deg);}
}

.members {
  font-size: 0;
  overflow-y: visible;
  padding-top: 0;
  padding-right: 5%;
  padding-left: 2%;
  height: 100vh;
  perspective: 800px;
  perspective-origin: 50% 225px;
  transition: 2s;
  .arrow {
    position: absolute;
    top: -3rem;
    width: 15%;
    height: 100vh;
    &.left {
      &.x1 {
        left: 30%;
        &:hover ~ .rotate-shape {
          animation-play-state: paused;
          & > .rotate-left {
            animation-play-state: running;
          }
        }
      }
      &.x2 {
        left: 15%;
        &:hover ~ .rotate-shape {
          animation-play-state: paused;
          & > .rotate-left, & > .rotate-left > div > .rotate-left {
            animation-play-state: running;
          }
        }
      }
      &.x3 {
        left: 0%;
        &:hover ~ .rotate-shape {
          animation-play-state: paused;
          .rotate-left {
            animation-play-state: running;
          }
        }
      }
    }
    &.right {
      &.x1 {
        right: 30%;
        &:hover ~ .rotate-shape {
          animation-play-state: running;
        }
      }
      &.x2 {
        right: 15%;
        &:hover ~ .rotate-shape {
          animation-play-state: running;
          & > div > .rotate-right {
            animation-play-state: running;
          }
        }
      }
      &.x3 {
        right: 0%;
        &:hover {
          & ~ .rotate-shape {
            animation-play-state: running;
            .rotate-right {
              animation-play-state: running;
            }
          }
        }
      }
    }
    &:hover {
      svg path {
        fill: #fff;
      }
    }
  }
  .rotate-shape {
    position: absolute;
    top: 40%;
    left: 50%;
    height: 1px;
    width: 1px;
    animation: spin 50s infinite linear;
    animation-play-state: paused;
    transform-style: preserve-3d;
    display: flex;
    align-items: center;
    justify-content: center;
    .rotate-left, .rotate-right {
      animation: spin 50s infinite linear;
      animation-play-state: paused;
      animation-duration: 25s;
      animation-direction: reverse;
    }
    .rotate-right {
      animation-direction: normal;
    }
  }
  .logo {
    z-index: 9999;
    display: inline-flex;
    align-self: center;
    animation: spin 15s infinite linear reverse;
    img {
      width: 80vmin;
      height: 80vmin;
      border-radius: 50%;
    }
  }
  .member {
    backface-visibility: hidden;
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    transition: transform 2s, opacity 1s;
    top: -100px;
    left: -100px;
    font-size: .5rem;
    vertical-align: top;
    z-index: 10020;
    min-width: 200px;
    .member-image {
      background-size: 100%;
      background-position: center center;
      img {
        transition: opacity .5s;
        border-radius: 50%;
      }
    }

    &:hover {
      .member-image img {
        opacity: 0;
      }
    }

    img {
      width: 100%;
      display: block;
    }

    p, h4 {
      margin: 0;
      font-size: 0.8em;
    }

    .details {
      font-size: 16px;
      color: white;
      h2 { margin: 0; }
    }
  }
}
