$members:(
  andreieva_nastya,
  bidochka_alex,
  bilan_igor,
  bondarenko_vitaliy,
  borodai_alex,
  domotenko_eugene,
  dzyoma_artem,
  galushka_alex,
  karpenko_alex,
  kovtun_vitaliy,
  kovtun_volodymyr,
  kuritsyna_dasha,
  lukin_alexey,
  makodzeba_dima,
  marchenko_alex,
  mihailovskiy_pavel,
  milevskyi_ruslan,
  motuzko_alex,
  motuzko_nastya,
  misan_misha,
  naumenko_sergii,
  novitskyi_dmitryi,
  okunieva_lena,
  oleynikov_oleg,
  pedan_andriy,
  savenko_serhii,
  serebryansky_maxim,
  shmigol_victor,
  surzhko_eugene,
  tsibulko_alex,
  tupitskiy_vlad,
  tupitskiy_yarik,
  verbivskyi_alexey,
  voloshyn_oleg,
  zimin_anton,
  zubritskiy_denis
);

.cartoon_cards {
  margin-top: 3vh;
  height: 90%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .cartoon_container {
    cursor: pointer;
    width: 25%;
    height: 33vh;
    display: flex;
    flex-direction: column;

    .cartoon_logo_container {
      display: block;
      position: relative;
      width: 100%;
      height: 80%;

      .cartoon_logo {
        visibility: visible;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }

      .hover {
        top: -2px;
        left: 2px;
        visibility: hidden;
        opacity: 0;
        transition: all .3s linear;
      }
    }
    .descr {
      width: 100%;
      height: 30%;
      align-self: flex-end;
      span {
        color: #5f52ca;
        transition: all .3s linear;

        &.name {
          font-weight: bold;
          text-transform: uppercase;
        }

        &.position {
          font-size: .75rem;
        }
      }
    }

    &:hover {
      .descr {
        span {
          color: #b64e96;
          }
        }
      
      .cartoon_logo_container {
        .hover {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &:focus{
      outline: none;
    }
  }
  .informational_container {
    display: flex;
    justify-content: center;
    text-align: justify;

    .member_information {
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 100%;

      .member {
        display: flex;
        height: 35%;
        margin-bottom: 5%;

        img {
          height: 85%;
          max-width: 35%;
          align-self: flex-end;
        }
        .name_and_post {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 100%;
          width: 75%;

          .info {
            text-align: left;
            width: 75%;
            .name {
              text-transform: uppercase;
              font-size: 1.5em;
              margin-bottom: 15px;
            }
            .position {
              color: black;
            }
          }
          hr {
            margin: 0;
            padding: 0;
            width: 100%;
          }
        }
      }
      .description {
        height: 35%;
        overflow-y: auto;
        margin-bottom: 15px;

        &.high{
          height: 60%;
        }
      }
      .title_projects {
        height: 7%;
        text-align: center;
        font-size: 1.5em;
        hr {
          margin: 0;
          padding: 0;
        }
      }

      .projects {
        overflow-y: auto;
        display: flex;
        height: 20%;
        flex-wrap: wrap;

        li {
          width: 50%;
          letter-spacing: 1px;
        }
      }
    }

    @media screen and (max-width: 1000px) {
      top: 15%;
      width: 50%;
      height: 65%;
    }

    @media screen and (min-height: 900px) {
      top: 25%;
      height: 50%;
      width: 30%;
    }
  }
  @each $member in $members {
    ##{$member}:focus ~ ##{$member}_card {
      z-index: 5;
      opacity: 1;
      visibility: visible;
    }
  }
}
