$projects: (
  upstack,
  preeline,
  everseat,
  daisybill,
  freestak,
  beatthread,
  invoyis,
  split,
  mediprocity,
  lifelinker-inc,
  joseph-carpenter,
  def-method,
  modean-apps,
  knock-knock-city
);

.subtitle{
  margin-top: 2vh;
  color: $main-blue;
  font-size: 1.35rem;
  text-transform: uppercase;
}

.subsubtitle{
  margin-top: 1vh;
  color: $main-blue;
  font-size: 1.3rem;
}

.content.projects {
  position: relative;

  .portfolio-background {
    width: 80%;
    margin-top: 20px;

    path.background {
      fill-opacity: 0;
    }

    path, text {
      transition: all 0.3s;
    }

    @each $project in $projects {
      a[href="##{$project}"] {
        path, polygon, rect, circle{
          transition: all .3s ease;
        }
        &:hover{
          path, polygon, rect, circle{
            stroke: $main-violet;
            fill: $main-violet;
          }
          .bg{
            stroke-width: 2px;
          }
        }
      }
    }

    @media screen and (min-width: 1400px) {
      width: 70%;
    }
  }

  @each $project in $projects {
    ##{$project}:target {
      visibility: visible;
      opacity: 1;
      z-index: 5;
    }

    ##{$project}:target ~ #close_project {
      z-index: 4;
    }
  }

  #close_project {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .informational_container {
    display: flex;
    .project-details {
      display: flex;
      margin: auto;
      flex-direction: column;
      width: 90%;
      height: 95%;
      text-align: justify;

      b{
        text-transform: capitalize;
      }

      .general-info {
        height: auto;

        .name_and_link {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 15px;

          .view-project {
            display: inline-block;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            border-radius: 30px;
            background: linear-gradient(to right, $main-violet, $main-blue);
            color: #FFF;
            padding: 12px 40px;
            text-decoration: none;
            transition: all .3s;

            &:hover {
              background: linear-gradient(to right, $main-blue, $main-violet);
              box-shadow: 0px 0px 10px 1px rgba(95, 82, 202, 0.4);
            }
          }

          img {
            display: block;
            width: 30%;
            margin-bottom: 15px;
            min-width: 125px;
          }
        }

        .industry-and-tech{
          height: auto;
          text-align: left;
        }
      }

      .project-description {
        height: auto;
        text-align: justify;
        letter-spacing: 0.5px;
        line-height: 1.4em;
        overflow-y: auto;
      }
    }
  }
}

.portfolio_testimonials {
  z-index: 3;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-self: center;

  .testimonial {
    height: 10vh;
    max-height: 90px;
    margin: 5px;
    width: 100%;
    align-self: center;

    a {
      text-decoration: none;
      color: $main-blue;
      height: 100%;

      .description_wrapper{
        display: flex;
        align-items: center;
        height: 100%;

        .like{
          height: 100%;
          transition: all .3s ease-in-out;
        }

        span {
          margin-left: 2vw;
        }

        .read_more{
          border: 1px solid  $main-blue;
          font-size: 1rem;
          background: white;
          color: $main-blue;
          text-decoration: none;
          transition: all .5s ease-in-out;
          height: 60%;
          cursor: pointer;
          padding: 0 10px;
          white-space: nowrap;
        }

        &:hover{
          .like{
            transform: rotate(45deg);
          }

          .read_more{
            color: white;
            background: linear-gradient(to right, $main-violet, $main-blue);
            border: 1px solid white;
          }
        }
      }
    }
  }

  @media screen and (min-width: 1400px) {
    .portfolio_testimonial {
      width: 80%;
    }
  }
}

.open-quotes, .close-quotes{
  width: 1.5vw;
  max-width: 25px;
}

.open-quotes{
  margin-left: 15px;
  align-self: flex-start;
}

.close-quotes{
  transform: rotate(180deg);
  align-self: flex-end;
  margin-right: 15px;
}

.testimonials_cards {
  .informational_container {
    display: flex;
    justify-content: center;
    width: 30%;

    .testimonial_container {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 95%;

      .testimonial_logo_container {
        display: flex;
        height: 20%;
        padding: 2vh 0;

        .company_logo {
          margin: auto;
          width: 50%;
          height: 90%;
        }
      }

      .testimonial_author {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 135px;

        hr {
          margin: 0;
          height: 2px;
          width: 100%;
          background-color: $main-blue;
          border: none;
        }

        .author_info {
          display: flex;

          .author {
            width: 100px;
            height: 100px;
          }

          .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-left: 2vw;
          }
        }
      }
      .testimonial_description {
        display: flex;
        flex-direction: column;
        height: calc(100% - 25% - 102px);
        text-align: justify;

        .description {
          height: 80%;
          overflow-y: auto;
        }

        .open-quotes, .close-quotes {
          height: 10%;
        }
        .close-quotes {
          align-self: flex-end;
        }
      }
    }
  }
  @each $project in $projects {
    #testimonial-#{$project}:target {
      visibility: visible;
      opacity: 1;
      z-index: 4;
    }

    #testimonial_#{$project}:target ~ #close_testimonial {
      z-index: 3;
      position: fixed;
    }
  }
}

#close_testimonial {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media (max-width: 720px) {
  .testimonial_body {
    .testimonial_container {
      .testimonial_author {
        .author {
          min-width: 100px;
          min-height: 100px;
        }
      }

      .testimonial_description {
        overflow-y: scroll;
        max-height: 30%;
      }
    }
  }
}

@media (max-width: 600px){

  .content.projects {

    .portfolio_logo {
      display: flex;
      flex-wrap: wrap;
      padding: 0 10px;

      a {
        width: 48%;
        margin: 1%;
      }
    }
  }

  .portfolio_testimonials {
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-left: 15vw;

    .testimonial {
      height: 40vh;
      max-height: 250px;
      scroll-snap-align: center;
      background: linear-gradient(135deg, rgb(242,225,238), rgb(228,226,246));


      a .description_wrapper {
        flex-direction: column;
        position: relative;
        justify-content: space-between;

        .read_more {
          width: 60vw;
          height: unset;
        }

        .like {
          height: auto;
          position: absolute;
          width: 15vw;
          right: 12%;
          top: 36%;
        }

        .image-wrapper {
          width: 50%;

          img {
            width: 100%;
            border: 1px solid;
            margin: 5px;
          }
        }

        span {
          margin: 20px 10px 0;
        }
      }
    }
  }

  .testimonials_cards .informational_container {
    top: 0;
    width: unset;
    height: 60vh;

    .testimonial_container .testimonial_author .author_info .info {

      span {
        font-size: 1.5rem;
      }
    }
  }
}
