@import 'variables';

$technologies: rails, angular, react, backbone, android, ios;
$projects: (
  zozi: #43A7DC,
  twadlock: #53AD71,
  quick_quack: #44715A,
  numa: #4BAAB9,
  daisybill: #D44D5C,
  def_method: #332E44,
  everseat: #3B566A,
  ach_payments: #4D6E9D,
  etutorcloud: #4C79AE,
  myschool: #8DBB5B,
  somasoft_inc: #1C1C1C,
  moozen_apps: #47A1C8,
  classly: #7891CA,
  total_adventure_zazmic: #5E5E5E,
  zigloop: #469ECB,
  freestak: #79BDA0,
  knockknock_city: #6DB7D5,
  beatthread: #53AD71,
);

.portfolio #lazy_close {
  width: 0;
  height: 0;
  cursor: pointer;
  left: inherit;
  z-index: 4;

  &:after {
    content: '✕';
    position: absolute;
    right: 0;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
  }
}

.content.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  .portfolio-background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    padding: 5%;
    opacity: 1;
    z-index: 2;

    path.background {
      fill-opacity: 0;
    }

    path, text {
      transition: all 0.3s;
    }

    @each $tech in $technologies {
      a.#{$tech}:hover,
      a.#{$tech}:focus {
        path {
          fill: white;
          opacity: 1;
        }

        text {
          fill: #694086;
        }
      }

      a.#{$tech}:hover ~ g.technologies a[data-#{$tech}='true'],
      a.#{$tech}:focus ~ g.technologies a[data-#{$tech}='true'] {
        path, text {
          fill: #694086;
          stroke: none;
        }

        circle.st0 {
          fill: #694086;
        }

        path.st19, path.st14 {
          fill: none;
          stroke: #694086;
        }

        path.st15 {
          stroke: #694086;
        }

        path.st12 {
          fill: #EEEEEE;
          stroke: #694086;
        }

        path.background {
          fill-opacity: 1;
          fill: #EEEEEE;
        }
      }
    }

    g.technologies a[data-rails='true']:hover {
      cursor: pointer;

      path:not(.st6, .st8), text, path.st3, path.st5, path.st7, path.st9 {
        fill: white;
        stroke: none;
      }

      path.st27 {
        fill: none;
      }

      path.background {
        fill-opacity: 1;
        stroke-opacity: 1;
        stroke-width: 10px;
      }
    }

    a ~ g.technologies {
      @each $project, $bg-color in $projects {
        a[href="##{$project}"] {
          &:hover {
            path, text, circle.st0 {
              fill: white !important;
            }

            path.st12, path.st14, path.st15, path.st19 {
              fill: none !important;
              stroke: white !important;
              fill: none !important;
              stroke: white !important;
            }

            path.background {
              fill-opacity: 1 !important;
              fill: $bg-color !important;
              stroke-opacity: 1 !important;
              stroke-width: 10px !important;
              stroke: white !important;
            }
          }
        }
      }
    }
  }

  @each $project, $bg-color in $projects {
    ##{$project}:target {
      visibility: visible;
      opacity: 1;
      z-index: 4;

    }

    ##{$project}:target ~ #close_project {
      z-index: 3;
    }
  }

  #close_project {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .project {
    width: 80%;
    height: 70%;
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: visibility 0s linear .3s, opacity .3s linear;


    .project-info {
      float: left;
      display: inline-block;
      width: 50%;
      height: 100%;
      padding: 3%;
      padding-right: 1%;
      vertical-align: top;
      text-transform: uppercase;
      font-weight: bold;
      color: #543575;

      .item {
        display: flex;
        width: 100%;
        float: left;
        text-align: left;
        position: relative;
        height: 20%;
        justify-content: space-between;
        align-items: center;

        .item-title {
          width: 68%;
          display: flex;
          align-items: center;

          .name {
            display: inline-flex;
            z-index: 1;
            padding-left: 49px;
            margin-right: 3%;
            white-space: nowrap;
          }

          .hexagon:before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 3.7vh solid #E0D2E2;
            border-left: 5.2vh solid transparent;
            border-right: 5.2vh solid transparent;
            position: absolute;
            top: -3.7vh;
          }

          .hexagon {
            width: 10.4vh;
            height: 4.9vh;
            background-color: #E0D2E2;
            position: absolute;
            top: 20px;
          }

          .hexagon:after {
            content: '';
            width: 0;
            position: absolute;
            bottom: -3.7vh;
            border-top: 3.7vh solid #E0D2E2;
            border-left: 5.2vh solid transparent;
            border-right: 5.2vh solid transparent;
          }
        }

        .connection {
          width: 100%;
          height: 2px;
          background: #B898CB;
          position: relative;
          display: inline-flex;
          align-items: center;

          .multilink {
            width: 65px;
            display: inline-block;
            position: absolute;
            right: 0;
          }

          .technologies_1 {
            g:nth-child(4n+1), g:nth-child(2n) {
              display: none;
            }
          }

          .technologies_2 g:nth-child(3n+1) {
            display: none;
          }

          .technologies_3 g:nth-child(4n+1) {
            display: none;
          }

          .technologies_2, .technologies_4 {
            g:nth-child(5) {
              display: none;
            }
          }
        }

        .connection:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: -3px;
          background: #B898CB;
        }

        .connection:after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: -3px;
          right: 0;
          background: #B898CB;
        }
      }

      li.item:nth-of-type(even) {
        .name {
          left: 80px;
          padding-left: 89px;
        }

        .hexagon {
          left: 40px;
        }
      }

      .item-description {
        line-height: 20px;
        display: flex;
        text-align: left;
        width: 30%;
        float: right;
        height: 100px;
        align-items: center;

        .tech {
          padding-bottom: 1.5px;
        }
      }

      .item-description[data-tech-count] {
        align-items: normal;
      }


      .item-description[data-tech-count="2"] {
        padding-top: 2.5vh;
      }

      .item-description[data-tech-count="1"],
      .item-description[data-tech-count="3"] {
        align-items: center;
      }
    }

    .page-separator {
      height: 100%;
      display: inline-block;
      margin-top: 3px;
      width: 3%;
    }

    .project-details {
      display: inline-block;
      width: 44%;
      vertical-align: top;
      height: 100%;
      position: relative;

      img {
        margin: 10%;
        width: 35%;
      }

      .project-description {
        font-weight: bold;
        color: rgba(51, 51, 51, 0.95);
        text-align: left;
        margin: 7%;
        letter-spacing: 0.5px;
        line-height: 1.4em;
        display: block;
      }

      .view-project {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 84%;
        width: 180px;
        letter-spacing: 0.5px;
        padding: 10px 0;
        border-radius: 10px;
        font-weight: 500;
        background: #835697;
        text-decoration: none;
        color: white;
        z-index: 1;
        transition: all .3s;
        box-shadow: 0px 3px 6px rgba(136, 136, 136, 0.85);
      }

      .view-project:hover {
        background: #714d82;
        box-shadow: none;
        top: 85%;
      }
    }
  }
}

@media (max-width: 1050px) {
  .content.projects {
    .project {
      height: 90vh;
      width: 90%;
      background: rgba(255, 255, 255, 0.95);
      position: absolute;
      visibility: hidden;
      opacity: 0;
      left: 50%;
      transform: translateX(-50%);

      .project-info {
        float: none;
        display: block;
        width: 100%;
        height: 60%;
        padding-left: 20%;
        padding-right: 20%;

        .item {
          height: 78px;
        }
      }

      .page-separator {
        position: absolute;
        transform: rotate(90deg);
        left: 49%;
        top: 17%;
        height: 100%;
        margin: 0;
        width: 1%;
      }

      .project-details {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 35%;

        img {
          display: inline-flex;
          width: 20%;
          left: 15%;
          position: absolute;
          margin: 0;
        }

        .project-description {
          display: inline-flex;
          width: 50%;
          float: right;
          margin: 5%;
        }

        .view-project {
          left: 50%;
          top: 82%;
          width: 30%;
        }

        .view-project:hover {
          background: #714d82;
          box-shadow: none;
          top: 83%;
        }
      }
    }
  }
}
