@import 'variables';

$technologies: rails, angular, react, backbone, android, ios;
$projects: (
  zozi: #43A7DC,
  twadlock: #53AD71,
  quick_quack: #44715A,
  numa: #4BAAB9,
  daisybill: #D44D5C,
  def_method: #332E44,
  everseat: #3B566A,
  ach_payments: #4D6E9D,
  etutorcloud: #4C79AE,
  myschool: #8DBB5B,
  somasoft_inc: #1C1C1C,
  moozen_apps: #47A1C8,
  classly: #7891CA,
  total_adventure_zazmic: #5E5E5E,
  zigloop: #F8921F,
  freestak: #79BDA0,
  knockknock_city: #6DB7D5,
  beatthread: #53AD71,
  foundersuite: #F48420,
  cablook_taxi: #19A160,
  upstack: #57B16D,
  preeline: #57B16D,
  split: #44715A,
  invoyis: #44715A,
  mediprocity: #44715A,
  lifelinker_inc: #44715A,
  joseph_carpenter: #444471,
  modean_apps: #999
);

hr{
  border: none;
  border-top: 2px solid #5f52ca;
}

.content.projects {
  height: 100vh;
  display: flex;
  align-items: center;
  position: relative;

  .portfolio-background {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80%;
    padding: 5%;
    opacity: 1;
    z-index: 2;

    path.background {
      fill-opacity: 0;
    }

    path, text {
      transition: all 0.3s;
    }

    @each $tech in $technologies {
      a.#{$tech}:hover,
      a.#{$tech}:focus {
        path {
          fill: white;
          opacity: 1;
        }

        text {
          fill: #694086;
        }
      }

      a.#{$tech}:hover ~ g.technologies a[data-technologies*=#{$tech}],
      a.#{$tech}:focus ~ g.technologies a[data-technologies*=#{$tech}] {
        path, text, polygon {
          fill: #694086;
          stroke: none;
        }

        circle.st0 {
          fill: #694086;
        }

        path.st19, path.st14, line.st13 {
          fill: none;
          stroke: #694086;
        }

        path.st15 {
          stroke: #694086;
        }

        path.st12 {
          fill: #EEEEEE;
          stroke: #694086;
        }

        path.background {
          fill-opacity: 1;
          fill: #EEEEEE;
        }
      }
    }

    @each $project, $bg-color in $projects {
      a[href="##{$project}"] {
          path, polygon, rect, circle{
            transition: all .6s ease;
          }
          &:hover{
            path, polygon, rect, circle{
              stroke: #b64e96;
              fill: #b64e96;
            }
            .bg{
              stroke-width: 3px; 
            }
          }
      }
    }

    g.technologies a[data-technologies*='rails']:hover {
      cursor: pointer;

      path:not(.st6, .st8), text, path.st3, path.st5, path.st7, path.st9 {
        fill: white;
        stroke: none;
      }

      path.st27 {
        fill: none;
      }

      path.background {
        fill-opacity: 1;
        stroke-opacity: 1;
        stroke-width: 10px;
      }
    }

    a ~ g.technologies {
      @each $project, $bg-color in $projects {
        a[href="##{$project}"] {
          &:hover {
            path, text, circle.st0 {
              fill: white !important;
            }

            path.st12, path.st14, path.st15, path.st19 {
              fill: none !important;
              stroke: white !important;
              fill: none !important;
              stroke: white !important;
            }

            path.background {
              fill-opacity: 1 !important;
              fill: $bg-color !important;
              stroke-opacity: 1 !important;
              stroke-width: 10px !important;
              stroke: white !important;
            }
          }
        }
      }
    }
  }

  @each $project, $bg-color in $projects {
    ##{$project}:target {
      visibility: visible;
      opacity: 1;
      z-index: 4;

    }

    ##{$project}:target ~ #close_project {
      position: fixed;
      z-index: 3;
    }
  }

  #close_project {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .informational_container {

    .project-info {
      float: left;
      display: inline-block;
      width: 50%;
      height: 100%;
      padding: 3%;
      padding-right: 1%;
      vertical-align: top;
      text-transform: uppercase;
      font-weight: bold;
      color: #543575;

      .item {
        display: flex;
        width: 100%;
        float: left;
        text-align: left;
        position: relative;
        height: 20%;
        justify-content: space-between;
        align-items: center;

        .item-title {
          width: 68%;
          display: flex;
          align-items: center;

          .name {
            display: inline-flex;
            z-index: 1;
            padding-left: 49px;
            margin-right: 3%;
            white-space: nowrap;
          }

          .hexagon:before {
            content: '';
            width: 0;
            height: 0;
            border-bottom: 3.7vh solid #E0D2E2;
            border-left: 5.2vh solid transparent;
            border-right: 5.2vh solid transparent;
            position: absolute;
            top: -3.7vh;
          }

          .hexagon {
            width: 10.4vh;
            height: 4.9vh;
            background-color: #E0D2E2;
            position: absolute;
            top: 20px;
          }

          .hexagon:after {
            content: '';
            width: 0;
            position: absolute;
            bottom: -3.7vh;
            border-top: 3.7vh solid #E0D2E2;
            border-left: 5.2vh solid transparent;
            border-right: 5.2vh solid transparent;
          }
        }

        .connection {
          width: 100%;
          height: 2px;
          background: #B898CB;
          position: relative;
          display: inline-flex;
          align-items: center;

          .multilink {
            width: 65px;
            display: inline-block;
            position: absolute;
            right: 0;
          }

          .technologies_1 {
            g:nth-child(4n+1), g:nth-child(2n) {
              display: none;
            }
          }

          .technologies_2 g:nth-child(3n+1) {
            display: none;
          }

          .technologies_3 g:nth-child(4n+1) {
            display: none;
          }

          .technologies_2, .technologies_4 {
            g:nth-child(5) {
              display: none;
            }
          }
        }

        .connection:before {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: -3px;
          background: #B898CB;
        }

        .connection:after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          top: -3px;
          right: 0;
          background: #B898CB;
        }
      }

      li.item:nth-of-type(even) {
        .name {
          left: 80px;
          padding-left: 89px;
        }

        .hexagon {
          left: 40px;
        }
      }

      .item-description {
        line-height: 20px;
        display: flex;
        text-align: left;
        width: 30%;
        float: right;
        height: 100px;
        align-items: center;

        .tech {
          padding-bottom: 1.5px;
        }
      }

      .item-description[data-tech-count] {
        align-items: normal;
      }


      .item-description[data-tech-count="2"] {
        padding-top: 2.5vh;
      }

      .item-description[data-tech-count="1"],
      .item-description[data-tech-count="3"] {
        align-items: center;
      }
    }

    .page-separator {
      height: 100%;
      display: inline-block;
      margin-top: 3px;
      width: 3%;
    }

    .project-details {
      display: inline-block;
      width: 90%;
      vertical-align: top;
      height: 100%;
      position: relative;
    
      img {
        display: block;
        margin: 30px auto;
        width: 30%;
      }

      .project-description {
        height: 60%;
        text-align: justify;
        letter-spacing: 0.5px;
        line-height: 1.4em;
        display: block;
        overflow-y: auto;

        p{
          b{
            text-transform: capitalize;
          }
        }
      }

      .view-project {
        display: inline-block;
        margin-bottom: 2vh;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-weight: 500;
        border-radius: 30px;
        background: linear-gradient(to right, #b64e96, #5f52ca);
        color: #FFF;
        padding: 12px 40px;
        text-decoration: none;
        z-index: 1;
        transition: all .3s;
        &:hover {
          background: linear-gradient(to right, #5f52ca, #b64e96);
          box-shadow: 0px 3px 6px rgba(136, 136, 136, 0.85);
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .content.projects {
    .project {
      height: 90vh;
      width: 90%;
      background: rgba(255, 255, 255, 0.95);
      position: absolute;
      visibility: hidden;
      opacity: 0;
      left: 50%;
      transform: translateX(-50%);

      .project-info {
        float: none;
        display: block;
        width: 100%;
        height: 60%;
        padding-left: 20%;
        padding-right: 20%;

        .item {
          height: 78px;
        }
      }

      .page-separator {
        position: absolute;
        transform: rotate(90deg);
        left: 49%;
        top: 17%;
        height: 100%;
        margin: 0;
        width: 1%;
      }

      .project-details {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 35%;

        img {
          display: inline-flex;
          width: 20%;
          left: 15%;
          position: absolute;
          margin: 0;
        }

        .project-description {
          display: inline-flex;
          width: 50%;
          max-height: 50%;
          margin: 5%;
        }

        .view-project {
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 30%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.portfolio_testimonials {
  z-index: 3;
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  .testimonial {
    height: 10vh;
    margin: 1vh;
    width: 90%;
    align-self: center;
    a {
      text-decoration: none;
      height: 100%;
    .description_wrapper{
      display: flex;
      align-items: center;
      height: 100%;

      .like{
        height: 100%;
        transition: all .3s ease-in-out;
      }

      span {
        margin-left: 2vw;
      }

      .spacer {
        flex: 1;
      }

      &:hover{
        .like{
          transform: rotate(45deg);
        }

        .read_more{
          border: 1px solid white;
          color: white;
          background: linear-gradient(to right, #b64e96, #5f52ca);
        }
      }
    }
  }
  }
}

.open-quotes, .close-quotes{
  width: 15px;
}

.open-quotes{
  margin-bottom: 15px;
}

.close-quotes{
  transform: rotate(180deg);
  margin-top: 15px;
}

.testimonials_cards{
  .informational_container {
    display: flex;
    justify-content: center;
    width: 30%;
    .testimonial_container {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 95%;
      .testimonial_logo_container{
        display: flex;
        height: 20%;
        .company_logo {
          margin: auto;
          width: 50%;
          height: 90%;
        }
      }
      .testimonial_author{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 135px;

        hr{
          margin: 0;
          height: 1px;
          width: 100%;
        }

        .author_info{
          display: flex;

          .author{
            width: 100px;
            height: 100px;
          }

          .info{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            margin-left: 2vw;
          }
        }
      }
      .testimonial_description{
        display: flex;
        flex-direction: column;
        height: calc(100% - 25% - 102px);
        overflow-y: auto;
        text-align: justify;
        overflow-y: auto;

        .open-quotes, .close-quotes{
          width: 35px;
        }
        .close-quotes{
          align-self: flex-end;
        }
      }
    }
  }
  @each $project, $bg-color in $projects {
    #testimonial_#{$project}:target {
      visibility: visible;
      opacity: 1;
      z-index: 4;
    }
  
    #testimonial_#{$project}:target ~ #close_testimonial {
      z-index: 3;
      position: fixed;

    } 
  }
}

#close_testimonial{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media (max-width: 720px) {
  .testimonial_body{
    .testimonial_container{
      .testimonial_author{
        .author{
          min-width: 100px;
          min-height: 100px;
        }
      }
      .testimonial_description{
        overflow-y: scroll;
        max-height: 30%;
      }
    }
  }
}

