.services {
  .header-3 {
    max-width: 75%;
    margin: auto;
  }

  .description {
    margin-top: 4vh;
    text-align: justify;
    text-align-last: center;
  }

  .button {
    width: 50%;
    margin-bottom: 3vh;
    background: $main-gradient;
  }

  .cards-container {
    justify-content: space-around;

    .card {
      background: rgba($white, .4);
      min-width: 43%;
      height: auto;
      margin: 0;
      padding-right: 1vh;
      padding-left: 1vh;
      z-index: 1;

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 13vh;
        margin-top: 3vh;

        svg { height: 9vh; }
      }

      &__description {
        padding-right: 3vw;
        padding-left: 3vw;
        line-height: 1.6em;
      }

      &:first-child .card__icon svg { height: 13vh; }
    }
  }

  &__main-container {
    min-height: 85vh;
    height: 100%;
    margin-top: -1em;
    padding: 1vh 18vw;

    .header-3 {
      margin-top: 7vh;
      margin-bottom: 4vh;
    }

    .services__description-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 5vh;
      height: 60vh;

      .description {
        width: 49%;
        line-height: 2.2em;
        text-align: justify;
      }

      img {
        width: 47%;
        max-height: 60vh;
        object-fit: contain;
        object-position: top;
      }
    }
  }

  &__web-dev,
  &__custom-ror-dev,
  &__mobile-dev,
  &__engagement-models { padding: 7vh 18vw; }

  .carousel {
    padding-bottom: 6vh;

    &__item {
      width: 30vw;
      max-width: 380px;
      height: 62vh;
      max-height: 500px;
      display: flex;
      justify-content: space-around;

      &[data-index="-1"] { transform: translateX(-50%) scale(0.9); }

      &[data-index="1"] { transform: translateX(50%) scale(0.9); }

      &[data-index="-1"],
      &[data-index="1"] { opacity: .9; }
    }

    .services {
      &__title {
        font-family: 'Inria Bold', serif;
        text-transform: capitalize;
        letter-spacing: normal;
        font-size: 1.6em;
      }

      &__logo {
        width: 15vh;
        height: 15vh;
        border-radius: 7.5vh;
      }
    }

    &__description {
      font-size: 1.1em;
      line-height: 1.5em;
      text-align: center;

      .blue-text {
        display: inline;
        color: $purple-heart;
      }
    }
  }

  &__web-dev { background: left 100%/100% 75% no-repeat url(about/benefits.svg); }

  &__custom-ror-dev { background: center/cover no-repeat url(services/ror_dev_bg.jpeg); }

  &__mobile-dev {
    background: radial-gradient(circle, rgba(212,184,234,1) 0%, rgba(255,255,255,1) 100%);
  }

  &__engagement-models {
    position: relative;

    &-img {
      position: absolute;
      bottom: -4em;
      width: 40%;
      right: 0;
      z-index: 0;
    }

    .card {
      position: relative;

      &__description { padding-bottom: 6vw; }

      .button {
        position: absolute;
        bottom: 2em;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &__approaches {
    padding: 12vh 18vw 7vh;

    .header-2 { max-width: 100%; }

    .header-3 { margin: 5vh auto; }

    .button { background: transparent; }
  }
}

@media (max-width: 768px) {
  .services {
    &__web-dev,
    &__custom-ror-dev,
    &__mobile-dev,
    &__engagement-models { padding: 8vh 8vw; }

    .carousel {
      &__item {
        width: 60vw;
        height: 50vh;

        &[data-index="-1"] { transform: translateX(-30%) scale(0.9); }

        &[data-index="1"] { transform: translateX(30%) scale(0.9); }
      }

      .solutions__title { font-size: 1em; }

      &__description { font-size: .7em; }
    }
  }
}
