.services {
  perspective: 500px;
  max-height: 100vh;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  color: $light-grey;
  padding-top: 5rem;
  padding-bottom: 0;
  .skills {
    white-space: nowrap;
    padding: 0 10%;
    .skill {
      width: 20%;
      padding: 1% 2%;
      display: inline-block;
      vertical-align: top;
      white-space: normal;
      svg {
        min-width: 15vmin;
        min-height: 15vmin;
        max-height: 150px;
        #tech-mask {
          fill: white;
        }
      }
    }
  }
  &-background-svg {
    position: absolute;
    width: 90%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0 5%;
    opacity: 0.9;
    z-index: -1;
  }
  &-section {
    min-height: 45vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 0 0 15px 15px;
    &-tab {
      line-height: 1em;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      border-radius: 0 0 15px 15px;

      h3, h2 { margin: 0; }
      h4 {
        font-size: inherit;
        font-weight: normal;
        display: inline;
      }


      &-title {
        background: $light-grey;
        position: relative;
        height: 10vh;
        line-height: 20px;
        z-index: 1;
        width: 33%;
        left: 0;
        display: inline-block;
        color: $dark-violet;
        transition: .2s;
        font-size: 1.5rem;
        box-sizing: border-box;
        border-radius: 15px 15px 0 0;
        &:nth-child(2) {
          left: 33%;
        }
        &:hover {
          background: rgba($white, 0.5);
          color: #333;
        }
        label {
          padding: 10px 2%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
        }
      }
      &-description {
        opacity: 0;
        position: relative;
        height: 35vh;
        width: 100%;
        top: -3px;
        left: 0;
        bottom: 0;
        padding: 2%;
        z-index: 10;
        transition: .3s;
        font-size: .8em;
        border-radius: 0 0 15px 15px;
        line-height: 1em;
        text-align: justify;
        font-size: 1rem;
        overflow: auto;
        margin: 0;
        h3 {
          margin: 0;
        }
      }
    }
    input:checked + .services-section-tab {
      .services-section-tab-description {
        background: $white;
        opacity: 1;
        color: $gray;
        z-index: 100;
        h3 {
          color: $dark-violet;
        }
      }
      .services-section-tab-title {
        background: $white;
      }
    }
  }
}
