.services {
  &-container {
    display: flex;
    height: 60vh;

    .description {
      height: 100%;
      width: 50%;
      padding: 0;
      text-align: left;
      line-height: 2.8em;
    }

    img {
      width: 50%;
      object-fit: contain;
    }
  }
}

.container.services {
  .description {
    padding: 0;
  }
  .info-container {
    .content {
      .description {
        font-size: 1.4em;
      }

      .approaches {
        .approach {
          display: flex;
          min-height: 20vh;

          .approach__image {
            position: relative;
            width: 50%;
  
            svg {
              position: absolute;
              left: 0;
              bottom: 0;
              width: 100%;
              max-height: 25vh;
              z-index: 2;
            }
  
            img {
              position: absolute;
              left: 0;
              bottom: 0;
              // width: 100%;
              // max-height: 200%;
            }
          }
  
          .approach__content {
            width: 50%;
          }

          &:first-child {
            .approach__image {
              img {
                width: 100%;
                transform: translateY(23%);
              }
            }
          }

          &:nth-child(2) {
            .approach__image {
              img {
                width: 100%;
                transform: translateY(10%);
              }
            }
          }

          &:nth-child(3) {
            .approach__image {
              img {
                width: 110%;
                transform: translate(-5%, 20%);
              }
            }
          }
        
          &:nth-child(4) {
            .approach__image {
              img {
                width: 80%;
                transform: translate(9%, 21%);
              }
            }
          }

          &:nth-child(2n) {
            flex-direction: row-reverse;
          }
        }
      }
    }

    &.web-dev,
    &.custom-ror-dev {
      .button {
        width: 15%;
        min-width: 350px;
      }
    }

    .header-3 {
      padding: 0 20%;
    }

    .web-app-services {
      display: flex;
      align-items: center;
      background-image: url(asset_path('services/web_dev/web-dev-bg.svg'));
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 90vh;

      .cards-carousel {
        .card {
          background: $white;
        }
      }
    }

    &.custom-ror-dev {
      position: relative;
      z-index: 1;
      background-image: url(asset_path('services/custom_ror_dev/custom-ror-dev-bg.jpg'));
      background-repeat: no-repeat;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: rgba($main-blue, 0.3);
      }
    }

    &.mobile-dev {
      background: radial-gradient(circle, rgba(212,184,234,1) 0%, rgba(255,255,255,1) 100%);

      .content {
        .cards-container {
          .card {
            background: rgba($white, 0.6);

            .card__icon {
              svg {
                height: 12vh;
              }
            }

            .card__description {
              line-height: 1.8em;
            }
  
            &:first-child {
              .card__icon {
                svg {
                  height: 15vh;  
                }  
              }
            }
          }
        }
      }

      .button {
        width: 25%;
        min-width: 350px;
      }
    }

    &.engagement-models {
      position: relative;

      .cards-container {
        position: relative;
        z-index: 2;

        .card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: auto;
          background: rgba($main-lilac, 0.3);

          .button {
            background: $main-lilac;
            width: calc(100% - 7vw);
          }
        }
      }

      .engagement-models__image {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 40%;
        height: auto;
        transform: translateY(15%);
      }
    }
  }
}