.testimonials {
  perspective: 700px;
  perspective-origin-x: 400px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  position: relative;
  max-height: 100vh;
  padding-top: 0;
  padding-bottom: 0;

  .testimonials-background-svg {
    position: absolute;
    width: 95vw;
    left: 50%;
    transform: translateX(-50%);
    top: -14vh;
    opacity: 1;
    z-index: -1t gui
    ;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  img.author {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    max-width: 100px;
  }
  input {
    position: absolute;
    & + .testimonial {
      opacity: 0;
    }
    &:checked + .testimonial {
      opacity: 1;
      & + label img {
        filter: drop-shadow(0 0 6px rgba(255,255,255,0.5));
      }
    }
  }
  label {
    z-index: 9999;
    overflow: hidden;
    display: inline-flex;
    align-self: flex-end;
    max-width: 50px;
    min-height: 50px;
    padding: 10px;
    align-items: center;

    &:before {
      position: absolute;
      content: ' ';
      left: 45%;
      bottom: -50px;
      width: 0;
      height: 0;
      border: 25px solid transparent;
      border-top-color: #d6e0e3;
      border-left-color: #d6e0e3;
    }

    img {
      filter: drop-shadow(0px 0px 6px rgba(0,0,0,1));
      position: relative;
      width: 100%;
      height: auto;
      border-radius: 50%;
      transition: .3s;
      &:hover {
        filter: drop-shadow(0 0 6px rgba(255,255,255,0.5));
      }
    }
  }
  .testimonial {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    right: 0;
    font-size: 12px;
    padding: 0;
    max-width: 900px;
    max-height: 500px;
    background: #d6e0e3;
    background: linear-gradient(top,  #eaeced 0%,#d6e0e3 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(7px 7px 0 rgba(0,0,0,0.15));
    transition: .5s;
    opacity: 1;
    z-index: 110;
    z-index: 100;
    margin: 0 auto;
    transform: translateY(-50%);
    top: 50%;

    &.freestak {
      .testimonial-logo {
        background: #512b4e;
      }
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
      .testimonial-body:before {
        border-left-color: transparent;
        border-right-color: #d6e0e3;
      }
      .testimonial-body img {
        left: 50px;
        right: auto;
      }
    }
    &:after {
      position: absolute;
      left: -20px;
      bottom: -100px;
      height: 100px;
      width: 100%;
      content: ' ';
    }
    .testimonial-logo, .testimonial-body {
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #515151;
      .signature {
        width: 100%;
        display: block;
      }
    }
    q {
      quotes: "“" "”";
    }
    .testimonial-logo {
      background: white;
      img {
        max-width: 100%;
        height: auto;
        padding-top: 1%;
        max-height: 100px;
      }
    }
    .testimonial-body {
      .testimonial-wrapper {
        padding: 25px 25px 0;
        hr {
          width: 80%;
          border: 0;
          height: 2px;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
        }
        h2 {
          max-height: 50vh;
          overflow-y: auto;
        }

        h3 {
          padding-bottom: 30px;
        }
      }
      img {
        max-width: 100px;
        position: absolute;
        bottom: -50px;
        right: 50px;
        border: 10px solid #d6e0e3;
      }

      &:before {
        position: absolute;
        content: ' ';
        left: 45%;
        bottom: -49px;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        border-top-color: #d6e0e3;
        border-left-color: #d6e0e3;
      }
    }
  }
}

@media (max-width: 900px) {
  .testimonials .testimonial {
    display: block;
    height: auto;
    .testimonial-logo, .testimonial-body {
      height: auto;
      width: 100%;
    }

    &-logo img {
      margin: 10px 0;
      max-height: 200px;
    }
  }
}
