$violet: #842B98;
$gradient: #ab4e9c;
$dark-violet: #844ca9;
$light-violet: #a54fa0;
$blog-violet: #4e3065;
$blog-violet-hotspot: #8A62AA;
$blog-popular-post: #8A66A8;
$blog-violet-shadow: rgba(0, 0, 0, 0.3);
$blog-violet-post: #8b68a3;
$main-violet: #aa30be;
$transparent-main-violet: rgba(182.0, 78.0, 150.0, 0.95);
$main-blue: #5723b5;
$main-lilac: #d4b8ea;
$red: #FF3E3E;
$black: #333;
$lazy-padding: 0;
$lazy-bg: rgba(white, .9);
$white: #fff;
$blue: #559AE6;
$gray: #6a6a6a;
$light-grey: #dcdcdc;
$mediumpurple: rgba(147, 138, 218, 0.3);
$alto: #E0E0E0;
$silver: #C5C5C5;
$scorpion: #5C5C5C;
