$violet:                  #842B98;
$gradient:                #ab4e9c;
$dark-violet:             #844ca9;
$light-violet:            #a54fa0;
$blog-violet:             #4e3065;
$blog-violet-hotspot:     #8A62AA;
$blog-popular-post:       #8A66A8;
$blog-violet-shadow:      rgba(0, 0, 0, 0.3);
$blog-violet-post:        #8b68a3;
$main-violet:             #aa30be;
$transparent-main-violet: rgba(182.0, 78.0, 150.0, 0.95);
$main-blue:               #5723b5;
$main-lilac:              #d4b8ea;
$red:                     #FF3E3E;
$black:                   #333;
$lazy-padding:            0;
$lazy-bg:                 rgba(white, .9);
$white:                   #fff;
$blue:                    #559AE6;
$gray:                    #6a6a6a;
$light-grey:              #dcdcdc;
$mediumpurple:            rgba(147, 138, 218, 0.3);
$alto:                    #E0E0E0;
$silver:                  #C5C5C5;
$scorpion:                #5C5C5C;
$dusty-gray:              #979797;
$alabaster:               #F7F7F7;
$purple-heart:            #5723B5;
$azovstal:                #c1c9d6;
$buzok:                   #a49feb;
$kviten:                  #cd9feb;
$palianytsia:             #fbdf89;
$sky-ua:                  #8cc9fc;
$moon_raker:              #E9CDF4;
$medium_purple:           #8771DF;
$titan_white:             #F4F3FF;
$black_sea:               #2E2B33;

$main-gradient:        linear-gradient(135deg, $main-violet, $main-blue);

$main-shadow:          0px 4px 20px rgba(0, 0, 0, 0.2), inset -2px -2px 12px rgba(0, 0, 0, 0.25);
$hover-shadow:         inset -1px 4px 13px -5px white, inset -1px -2px 5px grey, 2px 1px 12px 0px grey;
$active-shadow:        inset 2px 2px 5px grey, inset -2px -2px 5px white;
$violet-shadow:        inset 2px 7px 10px -5px #9c64d2, inset -4px -5px 16px #4c2b84;
$light-purple-shadow:  inset -1px 4px 13px -5px white, inset -1px -5px 5px #9480a7, 2px 1px 12px 0px #9480a7;
$violet-hover-shadow:  inset -1px 4px 13px -5px white, inset -1px -5px 5px #9480a7, 2px 1px 12px 0px $main-violet;
$violet-active-shadow: inset 0px 0px 15px 1px rgba($main-violet, 0.3);
$form-shadow:          0px 0px 12px 5px $azovstal;
