$violet: #842B98;
$gradient: #ab4e9c;
$dark-violet: #844ca9;
$light-violet: #a54fa0;
$blog-violet: #4e3065;
$blog-violet-hotspot: #8A62AA;
$blog-popular-post: #8A66A8;
$blog-violet-shadow: rgba(0, 0, 0, 0.3);
$blog-violet-post: #8b68a3;
$main-violet: #b64e96;
$main-blue: #5f52ca;
$red: #FF3E3E;
$black: #333;
$lazy-padding: 0;
$lazy-bg: rgba(white, .9);
$white: #fff;
$blue: #559AE6;
$gray: #6a6a6a;
$light-grey: #dcdcdc;
$mediumpurple: rgba(147, 138, 218, 0.3);
