@import 'lazybox';
@import 'bridge';

.translation_missing {
  color: red;
  background: black;
}

#lazybox {
  max-height: 90vh;
  overflow: initial;
  padding: 0;

  .window-title {
    text-align: center;
    color: grey;
  }

  .item-title {
    text-transform: uppercase;
    color: grey;
  }

  .active-content {
    width: 75vw;
    overflow-y: auto;
    padding: 5px 25px;
    max-height: 62vh;
    text-align: center;
    display: inline-block;

    .user {
      width: 30%;
      color: grey;
      text-transform: uppercase;

      p, h3 {
        margin: 0.2em;
      }
    }
  }
}
