$lazy-start:      translateY(-500%);
$lazy-end:        translateY(0%);
$lazy-close:      asset-data-url('icons/esc-button.svg');

@import 'variables';
@import 'lazybox';
@import 'defaults';
@import 'members';
@import 'testimonials';
@import 'contact';
@import 'portfolio';
@import 'services';
@import 'about';
@import 'envelope';

$x: 500%;
$y: 500%;

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  // background: -moz-linear-gradient(-45deg, #5e2c77 0%, #884faf 50%, #623578 100%, #5e2c77 100%);
  // background: -webkit-linear-gradient(-45deg, #5e2c77 0%,#884faf 50%,#623578 100%,#5e2c77 100%);
  // background: linear-gradient(135deg, #5e2c77 0%,#884faf 50%,#623578 100%,#5e2c77 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e2c77', endColorstr='#5e2c77',GradientType=1 );
  background: asset-url('wall.svg') center #5e2c77;
  background-size: cover;

  svg a[id] {
    transition: opacity .2s, transform .2s;
    transform: scale(1);
    transform-origin: bottom left;
    opacity: 1;
  }

  $pages: ('contact', 'portfolio', 'testimonials', 'about', 'services', 'team', 'contactus');
  $selector: ();

  @each $item in $pages {
    $selector: append($selector, unquote('&.#{$item} svg a##{$item}'), 'comma');
  }

  #{$selector} {
    transform: scale(.7);
    opacity: 0;
  }
}

svg#main-svg {
  width: 100%;
  height: 100vh;
  a {
    outline: none;
  }
}

#lazy_close {
  transform: scale(0.6);
  transition: opacity .2s ease;
  &:hover {
    opacity: .8;
  }
}

#lazybox {
  background: transparent;
  border: none;
  box-shadow: none;
  max-width: 100%;
  width: 100%;
  height: 100vh;
  transition: opacity .3s, transform .3s;
  #lazy_body {
    height: 100vh;
  }
  &.hidden {
    opacity: 0;
  }
}

#lazy_overlay {
  background: rgba(133, 77, 171, 0.8);
}

// -- main animations --

#screen-cont {
  #title-logo path {
    transition: opacity .2s, transform .2s;
  }
  #social-icons g {
    transition: opacity .1s, transform .2s;
    transform-origin: bottom;
    transform: translateY(30px);
    opacity: 0;
    cursor: pointer;
  }
  &:hover {
    #title-logo {
      path {
        opacity: 0;
      }
      #active, #active-shadow {
        transform: translate(50px, 50px);
      }
      #left-column, #left-shadow {
        transform: translate(0px, 100px);
      }
      #right-column, #right-shadow {
        transform: translate(0px, 120px);
      }
      #curve, #curve-shadow {
        transform: translate(0px, -100px);
      }
      #bridge, #bridge-shadow {
        transform: translate(-20px, -20px);
      }
    }
    #social-icons {
      g {
        transform: translateY(0);
        opacity: 1;
        &:hover {
          transform: translate(0) scale(1);
          transform-origin: center;
          animation: button_jump .3s 1;
        }
      }
    }
  }
}

#lighting-shape {
  stroke: #cc8ec6;
  stroke-width: 2px;
  stroke-dasharray: 500;
  animation: light 3s infinite;
}

#laptop-keyboard {
  opacity: .3;
}

#testimonial {
  transition: transform .2s, opacity .2s;
  transform: scale(0);
  transform-origin: bottom center;
  opacity: 0;
}

#laptop-cont:hover ~ #testimonial,
#laptop-keyboard:hover ~ #testimonial,
#testimonial:hover {
  transform: scale(1);
  opacity: 1;
}

#project-cont {
  transition: transform .3s;
  &:hover {
    transform: translate(30px, -20px);
  }
}

#mail {
  transition: transform .3s;
  &:hover {
    transform: translateY(-20px);
  }
}

#team-cont {
  #shot-button,
  #upper-shot-button,
  #objectglass-shadow,
  #under-objectglass-shadow,
  #minor-shadow {
    transition: all .2s;
  }
  #white-lamp {
    opacity: 0;
    transition: opacity .2s ease-in;
    transform: translate(-7px, 0) !important;
  }
  #original-lamp {
    transform: translate(-7px, 0) !important;
  }
  #lighting-blick {
    opacity: 0;
    transition: opacity .1s ease-in;
    transform: translate(-19px, 0) !important;
  }
  &:hover {
    #objectglass-shadow {
      transform: translate(-29px, -16px);
      opacity: .5;
    }
    #under-objectglass-shadow,
    #minor-shadow {
      opacity: .5;
    }
    #shot-button {
      transform: translateY(6px);
    }
    #upper-shot-button {
      opacity: 0;
    }
    #white-lamp, #lighting-blick {
      animation: photo_blink .2s linear 1;
      opacity: 1;
    }
  }
}

#services-cont {
  transition: transform .3s;
  &:hover {
    transform: translate(10px, 5px);
    #chips path {
      animation: svg_light_blink .6s infinite;
      &:nth-of-type(3n) {
        fill: rgba(255, 255, 255, .2);
        animation: svg_light_blink .3s infinite .2s;
      }
      &:last-of-type {
        fill: white;
        fill-opacity: 1;
        animation: none;
      }
    }
  }
}

@keyframes light {
  0% {
    stroke-dashoffset: 500;
    fill: rgba(255,255,255,0);
  }
  100% {
    stroke-width: 0;
    stroke-dashoffset: 0;
    fill: rgba(255,255,255,.5);
  }
}

@keyframes button_jump {
  50% { transform: translate(1px, 0px) scale(.8); }
}

@keyframes svg_light_blink {
  0% { fill-opacity: 1; }
  50% { fill-opacity: 0; }
  100% { fill-opacity: 1; }
}

@keyframes photo_blink {
  50% { opacity: 0; }
}

// ----------

.page-title, .contact-title, .testimonials-title, .services-title {
  position: fixed;
  padding: 1% 5%;
  background: $white;
  color: $dark-violet;
  font-size: 2rem;
  font-weight: bold;
  z-index: 1000;
}

.page-title {
  top: -10%;
  box-shadow: 7px 7px 7px rgba(black, .3);
  transform: rotate(-110deg);
  transition: transform .3s, top .3s;
  transition-delay: .3s;
  -webkit-backface-visibility: hidden;
  transform-origin: 0;

}

.contact-title, .testimonials-title, .services-title {
  top: 6%;
  right: 10%;
  box-shadow: 7px 7px 0 rgba(black, 0.1);
  text-transform: uppercase;
}

.testimonials-title, .services-title {
  top: 3%;
  right: 50%;
  transform: translateX(50%);
}
