@import 'variables';
@import 'base';

$font-size: 16px;
$line-height: 1.75;
$lines-to-show: 4;

* {
  box-sizing: border-box;
}

body {
  background: $dark-violet;
  background: radial-gradient(#5F4076, #8A62AA);
  color: white;
}

a {
  color: rgba($white, .5);
  text-decoration: none;
}

nav {
  padding: 20px;
  text-align: right;
  a {
    padding: 0 10px;
  }
}

.popular {
  a {
    width: 30%;
    display: inline-block;
    position: relative;
    background-size: cover;
    &:before{
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
}

.social-icons {
  a {
    padding: 0 1%;
  }

  svg {
    width: 32px;
  }
}
