@import 'variables';
@import 'defaults';
@import 'base';
@import 'disqus_thread';
@import 'fonts';
@import 'coderay';

$font-size: 16px;
$line-height: 1.75;
$lines-to-show: 4;
$dark-font: #443848;
$content-table-bg: #efeefa;
$content-table-color: #a5a5a5;
$active-header: #7723cf;

* {
  box-sizing: border-box;
}

html {
  background-color: $white;
  background-image: asset_data_url('blog/desqus_background.png');
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  color: $white;
  font-family: Raleway;
  overflow-x: hidden;
  margin: 0px;

  &.blog {
    overflow-y: auto;
  }
}


a {
  color: rgba($white, .5);
  text-decoration: none;
  cursor: pointer;
}

.main {
  position: relative;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom, $main-blue -15%, $alabaster 30%);

  &.show {
    padding-top: 220px;
  }

  .content-holder {
    padding: 0 20%;

    .header-1, .header-2 {
      margin-top: 5vh;
      text-align: center;
    }

    .header-2 {
      padding: 0 20%;
      line-height: 1.5em;
    }
  }

  .articles {
    &-themes {
      display: flex;
      margin-top: 8vh;

      .themes {
        &-container,
        &-image {
          width: 50%;
        }

        &-title {
          margin-bottom: 3vh;
          color: $black;
          font-size: 1.2vmax;
          text-transform: uppercase;
          font-weight: bold;
        }

        &-container {
          ul.themes {
            display: flex;
            flex-direction: column;
            padding: 0;
            list-style-position: inside;

            .theme {
              margin-bottom: 2vh;
              color: $black;
              font-size: 1.1vmax;
            }
          }
        }

        &-image {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          svg {
            width: 65%;
          }
        }
      }
    }

    &-categories {
      position: sticky;
      top: 70px;
      z-index: 4;
      display: flex;
      align-items: center;
      height: 70px;
      width: 100%;
      margin-top: 5vh;
      padding: 0 20%;
      background: transparent;
      box-shadow: none;
      transition: .3s background, box-shadow ease;

      &.sticked {
        background: $alabaster;
        box-shadow: 0px 0px 8px 2px $dusty-gray;

        &:before,
        &:after {
          display: none;
        }
      }

      .categories {
        margin-left: 3vw;

        &-title {
          font-size: 0.9vmax;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: 0.3vmax;
        }

        a {
          display: inline-block;
          margin-left: 15px;
          padding: 0.5vmax 1.5vmax;
          border: 1px solid $black;
          border-radius: 30px;
          font-size: 0.75vmax;
          color: $black;
          text-decoration: none;
          text-transform: uppercase;
          transition: color, border, .2s ease;

          &:active, &.selected {
            color: $main-blue;
            border: 1px solid $main-blue;
          }
        }
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        height: 1px;
        width: 60%;
        background-color: $main-blue;
        left: 20%;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 0;
      }
    }
  }

  .title {
    margin: 0vmax 0 0.6vmax;
    font-size: 1.5vmax;
    font-weight: bold;
    color: $main-blue;
    text-align: left;
    position: relative;
    &:focus {
      outline:0;
    }
  }
  span.items_counter {
    display: inline-block;
    font-size: 1vmax;
    color: $main-blue;
  }
}
.popular {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

a.article {
  margin: 1vmax;
  width: 31.5%;
  display: inline-flex;
  position: relative;
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 14px 0px rgba(0, 0, 0, 0.3), inset 0px 140px 110px -15px rgba(32, 16, 48, 0.93);
  overflow: hidden;
  transition: padding .3s, box-shadow .5s;

  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0 10px 26px 0px rgba(0, 0, 0, 0.34);
    .article-rollover {
      background: rgba($blog-popular-post, .95);
      img, span {
        opacity: 1;
      }
      &:after {
        opacity: 1;
      }
      .preview-body {
        opacity: 1;
      }
    }
  }
}

.article-rollover{
  position: absolute;
  padding: 5% 1.3vmax 1.3vmax;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 1vmax;
  transition: background .4s, padding .8s;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    background: linear-gradient(top, rgba($blog-popular-post, 0) 0%, rgba($blog-popular-post, 1) 100%);
    opacity: 0;
  }
  img {
    display: inline-block;
    text-align: center;
    transition: opacity .3s ease-in-out;
    opacity: 0;
    width: 9.5vmax;
    margin: 10vmax auto 0;
    border-radius: 50%;
  }
  .meta {
    position: relative;
    text-align: center;
    .article-title {
      padding-top: 0.5vmax;
      position: absolute;
      margin: 0 auto;
      width: 100%;
      font-size: 1.6vmax;
      text-transform: uppercase;
      text-align: center;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    span {
      transition: opacity .3s ease-in-out;
      display: block;
      opacity: 0;
      text-align: center;
      font-size: 1.2vmax;
    }
  }

  .preview-body {
    line-height: 1.5;
    clear: both;
    margin-top: 5%;
    transition: opacity .5s ease-out;
    opacity: 0;
  }
}

.nav-right {
  align-items: center;
  width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  color: $main-blue;
  font-weight: 600;

  .menu-item {
    color: #cecaca;

    &.contact-us {
      margin-left: 10px;
      color:black;
      font-weight: bold;
      padding: 5px 7px;
      transition: .2s all ease-in-out;
    }
  }
}

.nav-left {
  display: inline-flex;
  align-items: center;
  width: 25%;
  min-width: 270px;
  align-content: flex-end;

  span {
    font-weight: 600;
    letter-spacing: 2px;
    color: black;
    margin-left: 9px;
  }

  a.main-site-link {
    display: inline-flex;
    align-items: center;
    align-self: center;

    svg {
      width: 80px;
    }
  }
}

.posts {
  margin-top: 1%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .article {
    width: 23%;
    color: $main-blue;
    box-shadow: 0 0 10px rgba(49, 37, 120, 0.1);
    margin-top: 33px;

    h4.article-title {
      background: #f7f6ff;
      color: $main-blue;
      text-transform: uppercase;
      text-align: center;
      padding: 10px 10px;
      margin: 0;
      min-height: 100px;
      line-height: 20px;
      font-size: 13px;
    }

    .article-body {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .article-info {
        color: $main-blue;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        padding: 0px 20px 0 20px;

        .article-about {
          display: flex;
          flex-direction: column;

          span {
            margin-top: 5px;
            font-size: 0.9em;
          }
        }

        .author-avatar {
          width: 4vmax;
        }
      }

      .article-picture {
        height: 24vh;
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
          width: 100%;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
        }
      }

      .description {
        text-align: justify;
      }

      .learn_more {
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 0.8em;
        font-weight: 600;
        text-align: center;
        padding: 10px 40px;
      }

      a {
        margin-bottom: 0 !important;
      }
    }

    .article-picture {
      position: relative;

      .text-center {
        top: 50%;
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s;
        font-size: 22px;
        font-weight: bolder;
        color: white;
        text-shadow: 1px 1px 5px black;
      }

      img {
        transition: filter 0.9s;
      }
    }
    &:hover {
      .article-picture {
        .text-center {
          opacity: 1;
        }

        img {
          -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
        }
      }
    }
  }
}

.main {
  padding: 0px 103px 25px 103px;
}

.link-group {
  position: relative;
  margin-top: 3.4vmax;
  display: flex;
  justify-content: flex-end;

  .pagination-holder {
    a {
      font-size: 1.3vmax;
      font-weight: bold;
      color: white;
      background-color: $main-blue;
      padding: 10px 35px;

      &:last-child {
        margin-left: 5px;
      }
    }
  }
}

.bottom-group {
  position: relative;
  margin-top: 25px;
}

.article-show {
  &-subheader {
    position: fixed;
    top: 70px;
    z-index: 4;
    width: 100%;
    background: $alabaster;
    box-shadow: 0px 0px 8px 2px $dusty-gray;

    .articles-categories {
      position: relative;
      top: 0;
      margin-top: 0;

      &:before {
        display: none;
      }
    }

    .breadcrumbs {
      display: flex;
      align-items: center;
      height: 80px;
      padding: 0 20%;
      color: $black;

      a, span {
        font-size: 1.1vmax;
        font-style: italic;
      }

      a {
        color: $black;
        text-decoration: underline;
        transition: .1s color ease-in-out;

        &:hover {
          color: $main-blue;
        }
      }

      span {
        color: $main-blue;
      }

      .angle-bracket {
        margin: 0 0.2vmax;
      }
    }
  }
}

.article-box {
  margin-top: 1%;
  position: relative;
  padding: 2vmax;
  font-size: 1.1vmax;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  background: white;
  color: $dark-font;
  overflow: visible;

  h1.title {
    margin: 2vmax 25% 2vmax 0;
    padding: 0 10%;
    font-size: 2vmax;
    text-align: center;
    letter-spacing: 0.6vmax;
    text-transform: uppercase;
    color: $black;
  }

  .article-content {
    display: flex;
  }

  a {
    margin: 3px;
    color: $dark-font;
  }
  .content-table {
    width: 25%;
    background-color: $content-table-bg;
    color: $content-table-color;
    display: inline-block;
    position: relative;
    border-left: 1px solid $main-blue;

    .article-info {
      display: flex;
      flex-direction: column;
      padding: 10px;
      color: $black;
      border-bottom: 1px solid $main-blue;

      .info-item {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        margin-bottom: 1.3vmax;

        span {
          margin-right: 0.4vmax;

          &:first-child {
            font-weight: bold;
            font-style: italic;
          }

          &.author {
            margin-right: 0;
            font-size: 1.3vmax;
            text-decoration: underline;
          }

          &.position {
            margin-left: 0.4vmax;
            font-size: 0.9vmax;
            font-style: italic;
          }
        }
      }
    }

    #share-article {
      bottom: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      div {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 15px 0;
        svg {
          border: 1px solid #91839b87;
          padding: 2px 20px;
          width: 60px;
          margin: 3px;
          path {
            border-color: $main-violet;
            fill: #83738d;
          }
        }
        .fa-share-alt {
          border: none;
          bottom: 50%;
          position: absolute;
          transform: translate(50%, 50%);
          left: 0;
          path {
            fill: #83738d;
          }
        }
      }
      hr {
        color: #91839b;
        margin: 0;
        width: 100%;
      }
      div svg:hover {
        path {
          fill: $main-blue;
        }
      }
    }
    #header:after {
      content: '';
      background-color: blue;
    }
    #div-table-content {
      padding-bottom: 150px;
      position: sticky;
      top: 10px;
      #contents {
        color: #3f274a;
        padding-left: 10px;
        text-decoration: underline;
      }
      .article-header-h2 {
        color: #bab8bc;
        display: block;
        margin: 10px 0;
        padding: 0 10px 0 10px;
        transition: all 50ms ease-in-out;
      }

      .article-header-h3 {
        color: #bab8bc;
        display: block;
        margin: 10px 0;
        margin-left: 8px;
        padding: 0 10px 0 10px;
        transition: all 50ms ease-in-out;
      }
      .article-header-h2.active, .article-header-h3.active {
        color: $active-header;
        box-shadow: -2px 0px 0px 0px;
      }
      .article-header-h2:hover, .article-header-h3:hover {
        color: $active-header;
        box-shadow: -2px 0px 0px 0px;
      }
    }
  }
  .back-link {
    z-index: 10;
    display: inline-block;
    color: $dark-font;
    transform: scale(-1, 1);
    font-size: 3.8vmax;
    position: absolute;
    right: 2vmax;
    top: 1.3vmax;
    opacity: .3;
    &:hover {
      opacity: .6;
    }
  }
  .author-info {
    margin-right: 2vmax;
    float: left;
    width: 5vmax;
  }
  .post-info {
    h1.title {
      text-transform: uppercase;
      margin: 0;
      padding-right: 5vmax;
      font-size: 1.7vmax;
      overflow: hidden;
      text-align: left;
      font-weight: bold;
      background-image: -webkit-gradient( linear, left top, right top, color-stop(0, $main-violet), color-stop(0.5, $main-blue));
      background-image: gradient( linear, left top, right top, color-stop(0, $main-violet), color-stop(0.5, $main-blue));
      color:transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    .created_date {
      display: block;
      opacity: .5;
    }
  }
  article {
    clear: both;
    margin-top: 3vmax;
    line-height: 1.4;
    letter-spacing: 1px;
    padding-right: 15px;
    width: 75%;
    float: left;
    img {
      max-width: 100%;
      height: auto;
    }
    strong {
      letter-spacing: 2px;
    }
    .CodeRay, blockquote {
      border: solid rgba(143, 89, 185, 0.45);
    }
    .CodeRay {
      font-size: 1vmax;
      padding: 1vmax 1.7vmax;
      border-radius: 10px;
      overflow: auto;
      cursor: text;
      pre {
        margin: 0;
        overflow: visible;
      }
    }
    blockquote {
      position: relative;
      font-style: italic;
      padding: 0.2vmax 2.6vmax;
      display: inline-block;
      margin-right: 0;
      border-radius: 10px;
      margin-left: 1vmax;
      &:before {
        content: '“';
        left: 0;
        top: -1vmax;
        font-size: 5vmax;
        position: absolute;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}

.recommended {
  background: white;
  font-size: 1.2vmax;
  color: #463159;
  text-align: center;
  padding-bottom: 20px;

  h3 {
    margin: 0;
    padding: 35px 0;
    text-align: center;
    color: $main-blue;
  }

  .articles {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      transition: .3s all ease-in-out;
      color: white;
      display: inline-flex;
      width: 30%;
      height: 100px;
      font-weight: bold;
      background: linear-gradient(to bottom right, $main-violet, $main-blue);
      margin: 0 15px;
      padding: 15px 50px;
      align-items: center;
      justify-content: center;
    }

    a:hover {
      background: linear-gradient(to right, $main-blue, $main-violet);
    }
  }
}

.footer {
    position: relative;
    bottom: 0;
    color: $main-blue;
    font-family: Raleway;
    background: #eee0f3;

    &-links {
      display: flex;
      padding: 0px 103px;
    }

  a:hover {
    color: $main-violet;
    border-color: $main-violet;
  }

  h4 {
    color: black;
  }

  &-title {
    background: #f3f3f3;
    padding: 5px 20%;
    text-align: center;
    font-style: italic;
  }

  &-pages {
    display: inline-block;
    width: 15%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        color: $main-blue;
      }
    }
  }

  &-contacts {
    display: inline-block;
    width: 20%;

    a {
      color: $main-blue;
      margin: 15px 0px;
      display: block;
    }

    .contact {
      background: transparent;
      text-align: center;
      border: 2px solid ;
      border-radius: 5px;
      width: 75%;
    }
  }

  &-right {
    display: inline-block;

    .social-icons {
      padding: 0;

      a {
        padding: 0 5px;

        &:hover {
          svg {
            path {
              stroke-width: 20px;
              fill: $main-blue;
            }
          }
        }
      }
      svg {
        width: 30px;
        height: 30px;

        path {
          stroke-width: 10px;
        }
      }
    }
  }

  &-bottom p {
    text-align: center;
    padding: 10px;
    margin: 0;
  }
}

.disqus-block {
  background: #472f5a;
  #disqus_thread {
    background: none;
    box-shadow: none;
    padding: 20px 126px;
  }
}

.menu-button {
  float: right;
  opacity: 0;
}

@media (min-width: 1024px) {
  h2.title {
    cursor: default;
    .title-arrow {
      display: none;
    }
  }
}

@media (min-width: 1600px) {
  .article-box .content-table #share-article div svg {
    width: 80px;
  }

  #div-table-content {
    padding-bottom: 250px !important;
  }
}

@media (max-width: 1130px) {
  .main {
    padding: 20px 40px 20px 40px;

    .posts {
      .article {
        width: 100%;
      }
    }
  }
  .article-rollover {
    padding: 20px 1.8vmax 1.8vmax;
    img {
      margin: 5vmax auto 0;
    }
    .preview-body {
      margin-top: 10px;
    }
  }
  .menu-button {
    margin-top: 5px;
    opacity: 1;
    z-index: 1;
    order: 2;
    cursor: pointer;
    transition: opacity .3s;
    outline: none;
    &:hover {
      opacity: .5;
    }
    & + .menu-items {
      order: 1;
    }
    &:focus + .menu-items {
      height: 100vh;
    }
    & > svg {
      fill: black;
      height: 27px;
    }
  }

  .fa-share-alt {
    display: none;
  }

  #div-table-content {
    padding-bottom: 140px;
  }

  .article-box .content-table #share-article div svg {
    width: 60px;
  }

  .article-header-h2 {
    font-size: 14px;
  }
  .article-header-h3 {
    font-size: 12px;
  }

  .main > .title {
    opacity: .5;
    outline: none;
    .title-arrow {
      margin-left: 10px;
      font-size: 30px;
      height: 40px;
      padding-left: 1px;
      vertical-align: middle;
      display: inline-block;
      transform: rotate(90.0deg);
    }
    &.popular-posts-title {
      cursor: pointer;
    }
    &:hover {
      opacity: 1;
    }
    &:focus .title-arrow {
      transform: rotate(-90.0deg);
    }
    &:focus ~ .popular {
      height: auto;
    }
    &:not(:focus) ~ .popular {
      height: 0;
      &:hover {
        height: auto;
      }
    }
  }

  a.article:hover {
    box-shadow: 0 4px 5px 0px rgba(0, 0, 0, 0.15)
  }

  .popular {
    height: 0;
    display: block;
    overflow: hidden;
    a {
      width: 100%;
      height: 200px;
      margin: 11px 0;
      display: block;
      position: relative;
      & > div {
        position: absolute;
        top: 0;
      }
    }
  }

  .article-rollover .preview-body {
    font-size: 11px;
  }

  .main {
    h2.title {
      margin: 0;
      font-size: 14px;
    }
    span.items_counter {
      font-size: 10px;
    }
  }
}

@media (max-width: 720px) {
  .article-box {
    font-size: 11px;
    .post-info h2.title {
      font-size: 13px;
      padding-top: 3px;
    }
    .article-header-h2 {
      font-size: 12px;
    }
    .article-header-h3 {
      font-size: 10px;
    }
  }

  .link-group a {
    padding: 0 2vmax 0.7vmax 2vmax;
    font-size: 3.5vmax;
  }

  .bottom-group {
    margin-top: 2vmax;
  }

  .posts {
    display: block;
  }

  .recommended .articles a {
    height: 60px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1em;
  }

  .nav-left {
    font-size: 14px;
  }

  main {
    padding: 10px 25px 50px 25px;
  }

  .main {
    padding: 20px 20px 50px 20px;
  }

  a.article:hover .article-rollover {
    padding: 25px 20px;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  background-color: $white;
  box-shadow: 0px 4px 4px 0px rgba(#000, .25);

  #menu-btn { display: none; }

  a.logotype {
    padding: 10px;

    svg { width: 40px; }
  }
}

.header-navbar {
  align-items: center;
  margin-right: 10px;
  display: inline-flex;
  list-style: none;

  &__item { position: relative; }

  &__subitems {
    position: absolute;
    list-style: none;
    visibility: hidden;
  }

  &__link {
    margin: 0 1.5vw;
    color: $black;
    font-size: 0.8em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.4em;
    cursor: pointer;

    &.active { font-weight: bold; }
  }

  &__link-contact {
    margin: 0;
    padding: 0.6em 2.2em;
    background: linear-gradient(#fff, #fff) padding-box,
                linear-gradient(to right, $main-violet, $main-blue) border-box;
    border: 1px solid transparent;
    border-radius: 50px;
    transition: 0.3s;

    &.active {
      box-shadow: inset 0px 0px 15px 1px rgba($main-violet, 0.3);
      background: transparent;
      border: none;
    }
  }
}

@media (hover: hover) {
  .header-navbar {
    &__item:hover .header-navbar__subitems {
      min-width: 100%;
      padding: 20px 0;
      background-color: $white;
      border-radius: 1em;
      visibility: visible;
      padding-inline-start: 0;

      .header-navbar__sub-link {
        display: block;
        padding: 10px 20px;
        color: $black;
        font-size: 0.7em;
        letter-spacing: 0.1em;
        text-decoration: none;
        text-transform: uppercase;

        &:hover { color: $main-violet; }
      }
    }

    &__link:hover { color: $main-violet; }

    &__link-contact:hover {
      box-shadow: 0px 0px 15px 1px rgba($main-violet, 0.3);
    }
  }
}

@media (max-width: 748px) {
  header {
    position: fixed;
    width: 100%;
    background-color: $white;
    box-shadow: none;
    z-index: 3;

    .header-navbar {
      position: fixed;
      top: 0;
      right: -90vw;
      width: 90vw;
      min-height: calc(100% + 60px);
      margin: 0;
      padding: 6vw 6vw 25vw;
      justify-content: space-between;
      background: $main-gradient;
      box-sizing: border-box;
      opacity: 0;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
      z-index: 2;

      &__subitems {
        visibility: visible;
        position: static;
        display: flex;
        flex-wrap: wrap;
        padding-left: 3vh;
        color: $white;

        li {
          position: relative;
          margin: 0 5vw 3vw 0;
        }

        .header-navbar__sub-link {
          position: relative;
          color: $white;
          font-size: .65em;
          letter-spacing: 0.1em;
          text-decoration: none;

          &::before {
            content: '';
            position: absolute;
            bottom: 0.35em;
            left: -0.6em;
            width: 3px;
            height: 3px;
            background-color: $white;
            border-radius: 50%;
          }
        }
      }

      &__link {
        display: block;
        padding: 2.5vw 1vw;
        color: $white;
      }

      &__link-contact {
        padding: 3vw 3vh;
        background: transparent;
        border: 1px solid $white;
        text-align: center;
      }

      .mobile-only {
        margin-top: 10vw;
        padding-bottom: 5vh;
      }
    }

    .header-navbar__close {
      padding-top: 2vw;
      color: $white;
      font-size: 1.5em;
    }

    .menu-icon {
      position: relative;
      display: inline-block;
      padding: 28px 20px;
      cursor: pointer;
      z-index: 3;

      .navicon {
        position: relative;
        display: block;
        height: 3px;
        width: 30px;
        background: $main-gradient;

        &:before,
        &:after {
          content: '';
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          background: $main-gradient;
        }

        &:before { top: 10px; }

        &:after { top: -10px; }
      }
    }

    .menu-btn:checked ~ .header-navbar {
      right: 0;
      display: flex;
      align-items: flex-start;
      flex-flow: column wrap;
      opacity: .9;
      -webkit-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    .menu-btn:checked ~ .menu-icon { opacity: 0; }

    .menu-btn:checked + .overlay {
      display: block;
      position: fixed;
      width: 100vw;
      min-height: calc(100% + 50px);
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, .1);
      backdrop-filter: blur(4px);
      z-index: 1;
    }
  }
}

.desktop-only  {
  @media (max-width: 601px){
    display: none!important;
  }
}

.mobile-only {
  @media (min-width: 600px){
    display: none!important;
  }
}


.footer {
  width: 100%;

  ul { list-style: none; }

  &__navigation {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 10vh 10% 5vh 10%;
    background: rgba($azovstal, 0.5);
    box-shadow: 0 0px 30px 2px $dusty-gray;

    &-subitems {
      padding: 0;

      li { margin-bottom: 1.5vh; }
    }

    &-item {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      min-width: 10%;
      padding: 0 20px;

      &:last-child { width: 10%; }

      &:before {
        content: '';
        height: 100%;
        width: 1px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $black;
      }

      &:nth-child(1), &:nth-child(2) {
        &:before { height: 50%; }
      }

      &:nth-last-child(-n+5) { display: none; }
    }

    &-last-item {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0 2% 2%;

      &:after, &:before {
        content: '';
        height: 50%;
        width: 1px;
        position: absolute;
        top: 0;
        background-color: $black;
      }

      &:after { right: 0; }

      &:before { left: 0; }
    }

    &-link {
      margin-bottom: 3vh;
      font-size: 1.1em;
      color: $scorpion;
      white-space: nowrap;
      text-decoration: none;



      &.bold {
        color: $black;
        font-weight: 600;

        &:hover { color: $main-violet; }
      }
    }

    &-sub-link {
      color: rgba($scorpion, .5);
      text-decoration: none;

      &:hover { color: $black; }
    }

    &-copyright {
      font-size: 0.9em;
      color: rgba($scorpion, .5);
    }

    &-social-icons {
      display: flex;
      flex-wrap: wrap;
      max-width: 70%;

      a {
        padding-right: 10px;

        svg {
          width: 35px;
          margin: 0 6px 10px 0;

          &:hover path {
            fill: $black;
          }
        }
      }
    }
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    padding: 7vh 20% 4vh 20%;
    background: $azovstal;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 30%;

      &:first-child { justify-content: space-between; }
    }

    &__item {
      color: rgba($scorpion, .5);
      text-decoration: none;
      padding-bottom: 1.5vh;
    }

    &__item.bold,
    &__contacts a {
      padding-bottom: 3vh;
      color: $black;
    }

    &__contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    .contact-info {
      padding: 4vh 5% 2vh 5%;
      flex-wrap: wrap;
      background: rgba($azovstal, 0.5);

      &__container:first-child { width: 100%; }

      &__container:nth-last-child(-n+2) { width: 50%; }

      &__contacts {
        padding-bottom: 3vh;

        .contact-info__item { padding-bottom: 1vh;}
      }

      &__item { font-size: 0.75em; }
    }

    &__navigation {
      padding: 3vh 5% 5vh 5%;
      flex-wrap: wrap;
      justify-content: start;
      box-shadow: none;

      &-social-icons.mobile-only {
        position: relative;
        width: 100vw;
        max-width: 100%;
        justify-content: space-around;
        padding-top: 3vh;
        order: 6;

        &:before {
          content: '';
          position: absolute;
          bottom: -5vh;
          width: 100vw;
          height: 1px;
          background-color: $azovstal;
        }
      }

      &-link.bold {
        padding-bottom: 2vh;
        font-size: .8em;
      }

      &-copyright.mobile-only {
        width: 100%;
        font-size: .7em;
        text-align: center;
      }
    }
  }
}