body {
  height: 1000vh;
}

.step {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;
}

#step1 {
  background: image-url("bridge/bridge_front.png") no-repeat 50%/cover;
  .about {
    background: $violet;
    position: absolute;
    top: 60%;
    left: 35%;
    color: white;
    padding: 1%;
    border: 3px solid;
  }
}

#step2 { background: image-url("bridge/bridge_back.png") no-repeat 50%/cover; }

#step3 {
  background: image-url("bridge/cloud_before_second_gate2.png") no-repeat 50%/cover;
  bottom: 10%;
}

#step4 { background: image-url("bridge/cloud_before_second_gate1.png") repeat 70% 15%; }

#step5 { background: image-url("bridge/cloud_before_second_gate2.png") repeat 40% 70%; }

#hills { background: image-url("bridge/hills.jpeg") no-repeat 50% 50%/cover; }

.front {
  background: image-url("bridge/cloud.png") no-repeat 50% 50% / cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 14px;
  z-index: 1;
  line-height: 100vh;
  .cloud {
    display: inline-block;
    width: 40%;
    line-height: 1;
    vertical-align: middle;
  }
  .scroll-arrows::before, .scroll-arrows::after {
    content: '\e805';
    display: block;
    font-size: 50px;
    font-family: 'icomoon';
    color: $red;
  }
  .scroll-arrows::after {
    transform: rotate(180deg);
  }
}

.contacts {
  position: fixed;
  transform: scale(0.1);
  line-height: 200vh;
  opacity: 0;
  top: -50vh;
  bottom: -50vh;
  left: 0;
  right: 0;
  z-index: 1;
  .info {
    position: absolute;
    left: 0;
    right: 0;
    display: inline-block;
    line-height: 200vh;
    vertical-align: middle;
    padding: 0 35vw;
    img {
      width: 60%;
    }
  }
  .icon {
    font-size: 2em;
    padding-right: 20px;
  }
  .cloud {
    position: absolute;
    vertical-align: middle;
    display: inline-block;
    line-height: 200vh;
    img {
      width: 100%;
      line-height: 1;
      vertical-align: middle;
    }
  }
  .contacts-container {
    div {
      display: inline-block;
    }
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    .logo {
      position: relative;
      width: 60%;
      padding: 0 20%;
    }
    .contact-section {
      text-align: left;
      padding: 10px 0;
      display: block;
    }
  }
}

a.popup-link {
  padding: .5em 1em;
  background: $violet;
  color: white;
  border: 2px solid white;
  position: absolute;
  border-radius: 2em;
  pointer-events: auto;
}

#about_us {
  bottom: 38%;
  left: 38%;
}

#our_services {
  bottom: 48%;
  right: 45%;
  transform: scale(0.06);
}

#our_team {
  position: absolute;
  bottom: 52%;
  left: 47%;
  transform: scale(0.3);
  z-index: 1;
}

#delorian {
  top: 30%;
  height: 130px;
  img {
    position: absolute;
  }
  #portfolio {
    top: 22%;
    left:35%;
    opacity: 0;
    font-size: 1.5em;
  }
  #machine {
    left: 50%;
    opacity: 0;
    max-width: 300px;
  }
  #lightning {
    left: 40%;
    pointer-events: none;
  }
  .light {
    position: absolute;
    left: 47%;
    right: 30%;
    overflow: hidden;
    height: 100%;
    #light {
      position: relative;
      left: 120%;
      top: 0%;
      line-height: 2;
      #light1{
        display: block;
        left: 10%;
      }
      #light3{
        display: block;
        left: 20%;
      }
    }
  }
}
