$bg: #433B43;

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  height: 100%;
  overflow: hidden;
  max-height: 100vh;
  margin: 0;
}

#pages {
  z-index: 100;
  position: relative;
  white-space: nowrap;
  font-size: 0;
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000;

  &.active {
    transition: transform .2s;
  }

  &[data-page='portfolio'] {
    transform: translate(-400%);
  }

  &[data-page='team'] {
    transform: translate(-300%);
  }

  &[data-page='services'] {
    transform: translate(-200%);
  }

  &[data-page='about'] {
    transform: translate(-100%);
  }
}

.page {
  vertical-align: top;
  width: 100%;
  white-space: normal;
  height: 100vh;
  overflow-y: auto;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 60px;
}

@media screen and (orientation:landscape) {
  nav {
    left: auto;
    top: 0;

    a {
      width: 54px;
      padding: 0;
      padding-top: 45%;
      line-height: 0.8;
      height: 25vh;
      display: block;
      word-wrap: break-word;
    }
  }

  main {
    padding-right: 54px;
  }
}

h3, h4 {
  font-size: inherit;
  font-weight: normal;
  display: inline;
}

.title {
  text-align: center;
  padding: 5% 0;
  & > * {
    background: white;
    display: inline-block;
    padding: 5% 10%;
    color: #B868A0;
    box-shadow: 0 0 20px 0 rgba(black, .4);
    text-shadow: 1px 0 0 currentColor;
    font-size: 1rem;
    border: none;
    display: inline-block;
  }
}

dd {
  margin: 0;
  display: flex;
  svg {
    padding: 0 3%;
    width: 45%;
  }
  span {
    padding: 0 3%;
    width: 55%;
  }
  .right {
    text-align: right;
  }
  margin-bottom: 20px;
}

input, textarea {
  border: 2px dashed gray;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: transparent;
  color: #B868A0;
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  &:focus {
    outline: none;
    border-color: #B868A0;
  }
}

form {
  padding: 0 5%;
}

address {
  font-style: normal;
  text-align: center;
  a {
    color: white;
  }
}

button {
  text-transform: uppercase;
  font-size: .7rem !important;
}

body {
  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }
}

[data-label]:before {
  content: attr(data-label);
  margin-top: 20px;
  display: block;
  color: #B868A0;
}

ul.skills {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding: 0 3%;
  li {
    padding: 0 2%;
    width: 20%;
  }
  svg {
    width: 100%;
  }
}

#services dd {
  display: block;
}

.section {
  padding: 0 10%;
  text-align: justify;
}
