@import 'variables';

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  height: 100%;
  overflow: hidden;
  max-height: 100vh;
  margin: 0;
  background: $dark-violet;
}

#pages {
  position: relative;
  white-space: nowrap;
  font-size: 0;
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000;

  &.active {
    transition: transform .2s;
  }

  &[data-page='portfolio'] {
    transform: translate(-400%);
  }

  &[data-page='team'] {
    transform: translate(-300%);
  }

  &[data-page='services'] {
    transform: translate(-200%);
  }

  &[data-page='about'] {
    transform: translate(-100%);
  }
}

.page {
  background: rgba(white, 0.5);
  vertical-align: top;
  width: 100%;
  white-space: normal;
  height: 100vh;
  overflow-y: auto;
  display: inline-block;
  position: relative;
  h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: white;
    background: rgba(rebeccapurple, 0.9);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
  }
}

@media screen and (orientation:landscape) {
  nav {
    left: auto;
    top: 0;

    a {
      width: 54px;
      padding: 0;
      padding-top: 45%;
      line-height: 0.8;
      height: 25vh;
      display: block;
      word-wrap: break-word;
    }
  }

  main {
    padding-right: 54px;
  }
}

.services {
  h3, h4 {
    font-size: inherit;
    font-weight: normal;
    display: inline;
  }
}
