$violet: #842B98;
$red: #FF052F;


$font: 'ralewayregular';



@mixin font($name, $url, $weight, $style) {
  font-family: $name;
  src: font-url('#{$url}.woff') format('woff');
  font-weight: $weight;
  font-style: $style;
}

@font-face { @include font('ralewayregular', 'raleway-regular-webfont', normal, normal) }
