<style type='text/css'>
  body {
    overflow: hidden;
    background: #433B43;
    color: white;
    text-align: center;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation:none
  }

  section {
    padding-bottom: 60px;
  }

  main {
    position: relative;
    z-index: 100;
  }

  h1 {
    margin: 0;
  }

  svg.icon {
    max-width: 48px;
    height: 48px;
    display: inline-block;
  }

  mark, .mark {
    background: transparent;
    color: #B868A0;
  }

  .page {
    height: 100vh;
    font-size: 16px;
  }

  a {
    text-decoration: none;
  }

  .social-icons {
    width: 80%;
    margin: 0 auto;
    padding-top: 35px;
    text-align: center;
  }

  .social-icons  a {
      display: inline-block;
      padding: 10px;
      width: 16%;
  }

  .social-icons svg path {
    fill: white;
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    font-size: 0;
    z-index: 1000;
    box-shadow: 0px 0 5px 5px rgba(black, .3);
  }

  nav a {
    display: inline-block;
    width: 25%;
    padding: 10px 0;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: center;
  }

  nav svg {
    height: 32px;
  }

  .logo {
    width: 80%;
    margin-top: 40px;
  }

  .bg {
    position: absolute;
    bottom: 0;
    left: -85%;
    max-height: 100vmax;
    padding-bottom: 50px;
    width: 200%;
    transition: transform .1s;
  }

  .bg g {
    stroke: #504850;
  }
</style>
