<style type='text/css'>
  html {
    overflow-x: hidden;
  }

  body {
    overflow: visible;
    background: #433B43;
    color: white;
    text-align: center;
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    font-family: arial, sans-serif;
  }

  section {
    padding-bottom: 60px;
  }

  main {
    position: relative;
    z-index: 100;
  }

  h1 {
    margin: 0;
  }

  svg.icon {
    max-width: 48px;
    height: 48px;
    display: inline-block;
  }

  mark, .mark {
    background: transparent;
    color: #B868A0;
  }

  .page {
    height: 100vh;
    font-size: 16px;
  }

  a {
    text-decoration: none;
  }

  .social-icons {
    width: 80%;
    margin: 0 auto;
    padding-top: 5%;
    text-align: center;
  }

  .social-icons  a {
      display: inline-block;
      padding: 10px;
      width: 16%;
  }

  .social-icons svg path {
    fill: white;
  }

  nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    font-size: 0;
    z-index: 1000;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
    height: 60px;
    top: auto;
  }

  nav a {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 100%;
    padding: 10px 0;
    font-size: 1rem;
    box-sizing: border-box;
    text-align: center;
  }

  nav a:before {
    content: attr(title);
    display: block;
    text-transform: capitalize;
    position: absolute;
    font-family: arial, sans-serif;
    top: 44px;
    font-size: 0.65rem;
    width: 100%;
    color: rgb(166, 166, 166);
  }

  nav svg {
    height: 28px;
  }

  .logo {
    width: 80%;
    margin-top: 40px;
  }

  .bg {
    position: fixed;
    bottom: 0;
    left: -85%;
    max-height: 100vmax;
    padding-bottom: 50px;
    width: 100%;
    transition: opacity .5s;
    opacity: 0;
  }

  .bg g {
    stroke: #504850;
  }
</style>
