head
  title=t("meta.pages.#{params[:page].blank? ? "/" : params[:page]}.title", default: 'Ruby on Rails Development Company')
  meta charset='utf-8'
  meta name = 'viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no'
  meta name='google-site-verification' content='1AeEQ7FZFB4K7URidlmD2UP6z9pzq5HMUACZOhVRbpA'
  meta name='mobile-web-app-capable' content='yes'
  link rel='manifest' href='/manifest.json'
  link rel='icon' sizes='192x192' href='/icon-4x.png'
  meta name="msvalidate.01" content="A484A7672177506CA8F6FA11A7463867"
  = csrf_meta_tags
  = stylesheet_link_tag :application, 'https://fonts.googleapis.com/css?family=Raleway', media: :all
  = yield :head

  script type = 'application/ld+json'
    |
     {
     "@context" : "http://schema.org",
     "@type" : "Organization",
     "name" : "Active Bridge ruby on rails web development company",
     "url" : "https://activebridge.org",
     "logo" : "https://activebridge.org/icon-4x.png",
     "founder" : "Active Bridge",
     "foundingDate" : "11102013",
     "sameAs" : "http://plus.google.com/u/0/b/113539394867918366992/+ActivebridgeTeam/",
     "contactPoint" : {
         "@type" : "ContactPoint",
         "contactType" : "Customer Service",
         "telephone" : "+380636086045",
         "contactOption" : "TollFree",
         "areaServed" : "US",
         "availableLanguage" : "English",
         "email" : "contact@active-bridge.com"
     },
     "hasPos" : {
         "@type" : "Place",
         "name" : "Avtive Bridge web development company",
         "photo" : "https://activebridge.org/icon-4x.png",
         "hasMap" : {
             "@type" : "Map",
             "url" : "https://maps.google.com/maps?q=feed_me_a_map"
       },
        "address" : {
             "@type" : "PostalAddress",
             "name" : "Active Bridge,LLC",
             "streetAddress" : "Mangels",
             "addressLocality" : "San Francisco",
             "addressRegion" : "California",
             "postalCode" : "94127",
             "addressCountry" : "United States"
         }
     }}
  css:
    .informational_container {
      visibility: hidden;
      opacity: 0;
    }

    .header {
      opacity: 0;
    }
