head
  title Active Bridge - ruby on rails web development team
  meta charset='utf-8'
  meta name = 'description' content=t('meta.desription')
  meta name = 'viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1.0, user-scalable=no'
  meta name='google-site-verification' content='1AeEQ7FZFB4K7URidlmD2UP6z9pzq5HMUACZOhVRbpA'
  meta name='mobile-web-app-capable' content='yes'
  link rel='manifest' href='manifest.json'
  link rel='icon' sizes='192x192' href='/icon-4x.png'
  = stylesheet_link_tag type, media: media, onload: "if(media!='all')media='all'"
  = csrf_meta_tags
  = yield :head

  script type = 'application/ld+json'
    |
     {
     "@context" : "http://schema.org",
     "@type" : "Organization",
     "name" : "Active Bridge ruby on rails web development company",
     "url" : "https://active-bridge.com",
     "logo" : "https://active-bridge.com/icon-4x.png",
     "founder" : "Active Bridge",
     "foundingDate" : "11102013",
     "sameAs" : "http://plus.google.com/u/0/b/113539394867918366992/+ActivebridgeTeam/",
     "contactPoint" : {
         "@type" : "ContactPoint",
         "contactType" : "Customer Service",
         "telephone" : "+380636086045",
         "contactOption" : "TollFree",
         "areaServed" : "US",
         "availableLanguage" : "English",
         "email" : "contact@active-bridge.com"
     },
     "hasPos" : {
         "@type" : "Place",
         "name" : "Avtive Bridge web development company",
         "photo" : "https://active-bridge.com/icon-4x.png",
         "hasMap" : {
             "@type" : "Map",
             "url" : "https://maps.google.com/maps?q=feed_me_a_map"
       },
        "address" : {
             "@type" : "PostalAddress",
             "name" : "Active Bridge,LLC",
             "streetAddress" : "Mangels",
             "addressLocality" : "San Francisco",
             "addressRegion" : "California",
             "postalCode" : "94127",
             "addressCountry" : "United States"
         }
     }}
