= content_for :head do
  scss:
    body {
      overflow: hidden;
      background: #433B43;
      color: white;
    }

    .page {
      height: 100vh;
      font-size: 16px;
    }

    a {
      text-decoration: none;
    }

    .social-icons {
      width: 80%;
      margin: 0 auto;
      padding-top: 35px;
      text-align: center;
      a {
        display: inline-block;
        padding: 10px;
        width: 16%;
        svg path {
          fill: white;
        }
      }
    }

    nav {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background: white;
      font-size: 0;
      a {
        display: inline-block;
        width: 25%;
        padding: 10px 0;
        font-size: 1rem;
        box-sizing: border-box;
        text-align: center;
      }
    }

    .logo {
      width: 80%;
      margin-top: 10px;
    }

doctype 5
html
  = render 'layouts/head', type: :mobile, media: :none
  body
    main= yield
    nav
      a href='home'= svg('mobile/menu-services', :xl)
      a href='about'= svg('mobile/menu-about', :xl)
      a href='services'= svg('mobile/menu-services', :xl)
      a href='team'= svg('mobile/menu-contacts', :xl)
    = javascript_include_tag :mobile, async: true
