html
  head
    scss:
      body {
        min-height: 100vh;
        font-size: 20px;
        font-family: sans-serif;
        background: #f7f7f7;
      }
      main {
        padding: 30px;
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
        line-height: 29px;
        color: black;
        font-weight: 300;
        background: white;
        box-sizing: border-box;
        border-radius: 10px;
      }
      img {
        display: block;
        margin: 6% auto 20px;
        max-width: 235px;
        width: 100%;
      }
      h1 {
        font-size: 26px;
        margin: 0 0 15px;
      }
      p {
        margin: 0;
        font-size: 17px;
      }
      .link {
        font-size: 14px;
      }
      span {
        display: inline-block;
        margin-top: 15px;
        font-size: 17px;
      }
  body
    main= yield
