html
  head
    scss:
      body {
        min-height: 100vh;
        font-size: 20px;
        font-family: sans-serif;
        background: #f7f7f7;
      }
      main {
        padding: 30px;
        margin: 0 auto;
        width: 100%;
        max-width: 700px;
        line-height: 29px;
        color: black;
        font-weight: 300;
        background: white;
        box-sizing: border-box;
        border-radius: 10px;
      }
      img {
        display: block;
        margin: 6% auto 20px;
        max-width: 235px;
        width: 100%;
      }
      h1 {
        font-size: 26px;
        color: #A35EE0;
        margin: 0 0 15px;
      }
      p {
        margin: 0;
        font-size: 17px;
      }
      span {
        display: inline-block;
        margin-top: 15px;
        font-size: 17px;
      }
      footer {
        margin: 20px auto 0;
        font-size: 12px;
        color: grey;
        text-align: center;
        a {
          color: #A35EE0;
          font-weight: bold;
          text-decoration: none;
          &:hover {
            opacity: .8;
          }
        }
      }
  body
    = image_tag('email-logo.png')
    main= yield
    footer
      ' Made by
      a href='active-bridge.com' ActiveBridge, LLC
      '  •
      a href='blog.active-bridge.com' Our Blog
      = image_tag('social-pattern-small.png', usemap: '#social-links', style: 'margin-top: 10px;')
      map name="social-links"
        area shape="rect" coords="3,3,35,25" href='https://youtube.com/channel/UCw5hPDX1sKgDZczIvcaIepw' title='youtube' target='_blank'
        area shape="rect" coords="35,3,60,25" href='https://twitter.com/activebridge' title='twitter' target='_blank'
        area shape="rect" coords="63,3,85,25" href='https://ru.pinterest.com/activebridg0459' alt='pinterest' target='_blank'
        area shape="rect" coords="89,3,114,25" href='https://www.linkedin.com/company/active-bridge' title='linkedin' target='_blank'
        area shape="rect" coords="118,3,142,25" href='http://blog.active-bridge.com' title='blog' target='_blank'
        area shape="rect" coords="149,3,170,25" href='https://facebook.com/ActiveBridgeTeam' title='facebook' target='_blank'
        area shape="rect" coords="174,3,200,25" href='https://github.com/activebridge' title='github' target='_blank'
        area shape="rect" coords="203,3,234,25" href='https://plus.google.com/+ActiveBridgeTeam' title='google_plus' target='_blank'
